Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

fix application config service
  src/test/webapp/util/application-config.service.mock.ts
Labels: tests

Location, funding type und field of studies auch in den cards translated
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: client

adjust trash icons
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.html
  src/main/webapp/app/shared/components/molecules/comment/comment.html
  src/test/webapp/app/shared/components/molecules/comment/comment.spec.ts
Labels: client, tests

add second button for professors to faq and check if the user is logged in
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.ts
Labels: client

-Integrated sidebar state management into LocalStorageService - MainComponent now uses localStorageService for sidebar state instead of local signals
  src/main/webapp/app/layouts/main/main.component.html
  src/main/webapp/app/layouts/main/main.component.ts
  src/main/webapp/app/service/localStorage.service.ts
Labels: client

fixed cannot translate errorr
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
Labels: client

adjust delete icon
  src/main/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.html
Labels: client

only show when authenticated
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.html
Labels: client

fix tests
  src/test/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.spec.ts
Labels: tests

remove onSuccess
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
Labels: client

change name of password for Codacy
  src/test/webapp/app/shared/components/organisms/login/login.component.spec.ts
Labels: tests

add describe blocks
  src/test/webapp/app/core/auth/auth-dialog.service.spec.ts
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
  src/test/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.spec.ts
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
  src/test/webapp/app/shared/components/organisms/login/login.component.spec.ts
  src/test/webapp/app/shared/components/organisms/registration/registration.spec.ts
Labels: tests

remove on success test
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
Labels: tests

remove ribbon
  src/main/webapp/app/layouts/main/main.component.html
  src/main/webapp/app/layouts/main/main.component.ts
Labels: client

adjust carousel nav buttons
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.html
Labels: client

removed translation pipes and changed all labels from static binding to property binding [label]
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
Labels: client

add video links
  README.md
  docs/docs/applicants/account-creation.md
  docs/docs/applicants/login.md
  docs/docs/professors/account-creation.md
  docs/docs/professors/login.md
  docs/docs/professors/research-groups.md
Labels: none

add video links
  README.md
  docs/docs/applicants/account-creation.md
  docs/docs/applicants/login.md
  docs/docs/professors/account-creation.md
  docs/docs/professors/login.md
  docs/docs/professors/research-groups.md
Labels: none

prettier
  README.md
  docs-github/general/general-documentation.md
  docs-github/setup/dev-environment.md
  docs-github/testing/testing-guide.md
  docs-github/theming/color-theming.md
Labels: none

resized otp length from 8 to 4 adjusted tests
  src/main/resources/config/application.yml
  src/main/webapp/app/core/config/application-config.service.ts
  src/test/webapp/app/core/config/application-config.service.spec.ts
  src/test/webapp/util/application-config.service.mock.ts
Labels: client, tests, config-change

add log.info and user access check
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

shorten and fix
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

fix
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
Labels: server

delete space
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
Labels: server

bofan comments
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

fix translation keys
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

Implement shared location functionality in slot creation modal
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

changed color of the button group changed color of footer link
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
  src/main/webapp/content/scss/global.scss
Labels: client

fixed form validation logic
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
Labels: client

code cleanup - replaced methods by one signal and toggle() - adjusted logic in main.component.ts
  src/main/webapp/app/layouts/main/main.component.ts
  src/main/webapp/app/service/localStorage.service.ts
Labels: client

mend security check
  package-lock.json
  package.json
Labels: none

replace var with const
  src/main/webapp/index.html
Labels: client

Add Interviewee.java
  src/main/java/de/tum/cit/aet/interview/domain/Interviewee.java
Labels: server

Hab es nochmal vereinfacht und auch in applicantion detail location translation hinzugefügt
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/job/dropdown-options.ts
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

Add IntervieweeRepository and AddIntervieweesDTO
  src/main/java/de/tum/cit/aet/interview/dto/AddIntervieweesDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/IntervieweeRepository.java
Labels: server

`Development`: Add delete slot endpoint (#1417)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/webapp/app/generated/api/interviewResourceApi.service.ts
Labels: server, client

unnötige Methoden entfernt
  src/main/webapp/app/job/dropdown-options.ts
Labels: client

Add IntervieweeDTO
  src/main/java/de/tum/cit/aet/interview/dto/IntervieweeDTO.java
Labels: server

remove redundant method
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: client

adjust files and add liquibasefile to master.xml
  src/main/java/de/tum/cit/aet/interview/domain/InterviewSlot.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/resources/config/liquibase/master.xml
Labels: server, database

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
