Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

Fix negative input for interview and break duration
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

Fix location copy
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

fix auth facade tests
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
Labels: tests

fix date deselection
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
Labels: client

- moved changes from global.scss to prime-ng-overrides.scss - added line breaks in translation keys - resized otp cards for login/registration - colored primary button orange
  src/main/webapp/app/shared/components/atoms/otp-input/otp-input.scss
  src/main/webapp/app/shared/components/organisms/login/login.scss
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
  src/main/webapp/i18n/de/auth.json
  src/main/webapp/i18n/en/auth.json
Labels: client

fix duplicates
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
Labels: client

fix styling
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
Labels: client

fix toast messages
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

add tum identitfy
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/i18n/de/header.json
  src/main/webapp/i18n/en/header.json
Labels: client

move ribbon down
  src/main/webapp/app/layouts/profiles/page-ribbon.component.scss
Labels: client

add location validation
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

replace getter
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

fix client style
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

fix codacy in date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

fix codacy in slot-creation-form.component.ts and slot-section.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
Labels: client

fix codacy regex
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

fix keys for deletion
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

fix client style for json files
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

add banner
  src/main/webapp/app/layouts/profiles/page-ribbon.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

remove border in darkmode
  src/main/webapp/app/shared/components/organisms/header/header.component.html
Labels: client

remove opacity hover
  src/main/webapp/app/shared/components/organisms/header/header.component.html
Labels: client

remove underline
  src/main/webapp/app/shared/components/organisms/header/header.component.html
Labels: client

add banner only to homepage
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.html
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.html
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-banner-section/professor-banner-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-banner-section/professor-banner-section.component.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.ts
Labels: client

adjust ribbon
  src/main/webapp/app/layouts/profiles/page-ribbon.component.scss
Labels: client

adjust styling
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-banner-section/professor-banner-section.component.html
Labels: client

revert header change
  src/main/webapp/app/shared/components/organisms/header/header.component.html
Labels: client

revert ribbon
  src/main/webapp/app/layouts/profiles/page-ribbon.component.scss
Labels: client

reduce logo size
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-banner-section/professor-banner-section.component.html
Labels: client

`Development`: Job preview on landing page (#1420)
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.html
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.ts
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
  src/test/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/landing-page.component.spec.ts
Labels: client, tests

add no image to job card
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
Labels: client

remove hederColor
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: client

adjust surface color
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

change profile to name in error message
  src/main/webapp/app/shared/components/organisms/registration/registration.ts
  src/main/webapp/i18n/de/auth.json
  src/main/webapp/i18n/en/auth.json
  src/test/webapp/app/core/auth/keycloak-authentication.service.spec.ts
  src/test/webapp/app/shared/components/organisms/registration/registration.spec.ts
Labels: client, tests

adjust surface alt
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

remove duplicate tumapply
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.html
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-banner-section/professor-banner-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-banner-section/professor-banner-section.component.ts
Labels: client

fix cyclomatic complexity
  src/main/webapp/app/core/auth/auth-facade.service.ts
Labels: client

change field of studies to department
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
Labels: client

fix tests
  src/main/webapp/app/core/auth/keycloak-authentication.service.ts
  src/test/webapp/util/keycloak.mock.ts
Labels: client, tests

adjust DTO and logic
  src/main/java/de/tum/cit/aet/interview/dto/IntervieweeDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/resources/config/liquibase/changelog/00000000000016_create_interviewees.xml
Labels: server

remove
  src/main/java/de/tum/cit/aet/interview/dto/IntervieweeDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
