Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

revert changes that disallow +/- for lower limit or grades
  src/main/webapp/app/core/util/grade-format.validator.ts
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

add conversion for letters with -/+/*
  src/main/webapp/app/core/util/grade-conversion.ts
Labels: client

fix: implement requested changes
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.ts
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

move to tailwind
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.scss
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.scss
  src/main/webapp/content/scss/_header.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

readd out readTemplateContent() test
  src/test/java/de/tum/cit/aet/notification/service/EmailTemplateServiceTest.java
Labels: tests

adapt to code comments and extend test cases
  src/test/webapp/app/evaluation/components/comment-section/comment-section.spec.ts
  src/test/webapp/app/evaluation/components/document-section/document-section.spec.ts
  src/test/webapp/app/evaluation/components/prose/prose.spec.ts
  src/test/webapp/app/evaluation/components/rating-section/rating-section.spec.ts
Labels: tests

adapt to code comments
  src/test/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.spec.ts
Labels: tests

adapt additional tooltip tests
  src/test/webapp/app/shared/components/atoms/rating/rating.component.spec.ts
Labels: tests

fix breakpoint signal
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

fix codacy
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

`General`: Remove temporary test from select component (#1032)
  src/test/webapp/app/shared/components/atoms/select/select.component.spec.ts
Labels: tests

`General`: Fix and extend client datepicker tests (#1030)
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
Labels: tests

update generated openapi files
  openapi/openapi.yaml
  src/main/webapp/app/generated/model/jobFiltersDTO.ts
Labels: client

`General`: Remove redundant filter (#1058)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/job/dto/AvailableJobsFilterDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFiltersDTO.java
  src/main/java/de/tum/cit/aet/job/dto/ProfessorJobsFilterDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/model/jobFiltersDTO.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
Labels: server, client, tests, application, job

update generated openapi files
  openapi/openapi.yaml
  src/main/webapp/app/generated/model/jobFiltersDTO.ts
Labels: client

update tumapply to 1.0.4
  build.gradle
  package.json
Labels: none

`Development`: Request access form for employees (#1043)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/dto/EmployeeResearchGroupRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/model/employeeResearchGroupRequestDTO.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form/professor-request-access-form.component.ts
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: server, client, user management

Revert "Bump actions/setup-node from 4 to 6 (#1059)"
  .github/workflows/auto-generate-openapi.yml
  .github/workflows/deploy-user-documentation.yml
  .github/workflows/test.yml
Labels: none

tests for buttons
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
  src/test/webapp/app/shared/components/atoms/upload-button/upload-button.component.spec.ts
  src/test/webapp/app/shared/components/molecules/button-group/button-group.compent.spec.ts
Labels: client, tests

fix: update tests for new grading system
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

add. tests suggested within review
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

minifix
  src/test/webapp/app/application/application-creation-form/application-creation-page3.component.spec.ts
Labels: tests

cleanup
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

fix: add new sideabr entry for research group admin view, make text overflow instead of ...
  src/main/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.scss
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/i18n/de/sidebar.json
  src/main/webapp/i18n/en/sidebar.json
Labels: client

extend MvcTestClient to more status codes
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

test
  src/main/webapp/app/job/job-detail/job-detail.component.html
Labels: client

adjust paddings
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

add jhiTranslate, reduce gap between sections
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

increase divider intensitz
  src/main/webapp/app/job/job-detail/job-detail.component.html
Labels: client

integration tests for EmailSettingResource
  src/main/java/de/tum/cit/aet/core/constants/ErrorCode.java
  src/main/java/de/tum/cit/aet/core/exception/EmailSettingException.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/notification/service/EmailSettingService.java
  src/test/java/de/tum/cit/aet/notification/web/rest/EmailSettingResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/EmailSettingTestData.java
Labels: server, tests

unit tests for EmailSettingService
  src/test/java/de/tum/cit/aet/evaluation/service/EmailSettingServiceTest.java
Labels: tests

clean up
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.scss
Labels: client

fix remove logs
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
Labels: client

add gap
  src/main/webapp/app/job/job-detail/job-detail.component.html
Labels: client

add wrap to all
  src/main/webapp/app/job/job-detail/job-detail.component.html
Labels: client

fix: client style
  src/test/webapp/app/shared/components/atoms/upload-button/upload-button.component.spec.ts
  src/test/webapp/app/shared/components/molecules/button-group/button-group.compent.spec.ts
Labels: tests

fix code comments
  src/main/webapp/app/evaluation/components/rating-section/rating-section.ts
  src/test/webapp/app/evaluation/components/rating-section/rating-section.spec.ts
Labels: client, tests

tests: tests for page 3
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page3.component.spec.ts
Labels: client, tests

improve code quality of InternalCommentResource
  src/test/java/de/tum/cit/aet/evaluation/web/rest/InternalCommentResourceTest.java
Labels: tests

replace plain texts with labels
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
