Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

remove unsued imports and methods
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
Labels: server, application, job

`Development`: Change list to page for application overview (#1213)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/repository/ApplicationEntityRepository.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationEntityRepositoryImpl.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/java/de/tum/cit/aet/core/util/PageUtil.java
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/model/pageApplicationOverviewDTO.ts
  src/test/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
Labels: server, client, tests, application

`Development`: Implement InterviewSlot entity/repository (#1242)
  src/main/java/de/tum/cit/aet/interview/domain/InterviewSlot.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/resources/config/liquibase/changelog/00000000000013_create_interview_slot_table.xml
  src/main/resources/config/liquibase/master.xml
Labels: server, database

remove port comments
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalyzer.java
Labels: server

fix eslint
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
Labels: client

use second language variable
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalysisService.java
Labels: server

move cleanAndTokenize methods to StringUtil
  src/main/java/de/tum/cit/aet/core/util/StringUtil.java
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalyzer.java
Labels: server

fix eslint
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

move GenderBiasAnalyzer from web to service
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalyzer.java
Labels: server

fix server style
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
Labels: server

release version 1.0.5
  build.gradle
  package-lock.json
  package.json
Labels: none

fix: adjusted tests to new endpoints
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
Labels: tests

add info box atomic component - implement requested changes
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/shared/components/atoms/info-box/info-box.component.html
  src/main/webapp/app/shared/components/atoms/info-box/info-box.component.ts
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
Labels: server, client, user management

remove Analyzer import from Service
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalysisService.java
Labels: server

fix server style
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalysisService.java
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalyzer.java
Labels: server

improve usability for application form
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.scss
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.html
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.scss
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

plain version, change when server is merged
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

fix error
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: tests

fix server style issues
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: tests

remove link in metadatatext, make Tumapply clickable instead
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/pdf.json
Labels: server, client

New lines are now indented
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

`General`: ResearchGroupService server tests (#1173)
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/PageTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/UserTestData.java
Labels: tests

`General`: Improve Job Card design (#1235)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/webapp/app/generated/model/jobCardDTO.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.scss
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.html
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/app/job/job-overview/job-card/job-card.component.spec.ts
Labels: server, client, tests, application, job

outcomment upper and lower limits in page2Form
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

outcomment limits in educationData in application-creation form
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
Labels: client

outcomment limits in ApplicationCreationPage2Data
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

comment out limits in page2 and form tests
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

`General`: Fix validation in application page 2 (#1275)
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: client, tests

center job cards
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
Labels: client

fix codacy error
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
Labels: client

fix codacy error
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
Labels: client

fix codacy: better type safety => needed to include new tests
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.spec.ts
Labels: client, tests

add effect for redirection in landing page
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.ts
Labels: client

adjust landing page tests for 100% coverage
  src/test/webapp/app/shared/pages/landing-page/landing-page.component.spec.ts
  src/test/webapp/util/account.service.mock.ts
Labels: tests

add comments to fix codacy
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.spec.ts
Labels: tests

add comments to fix codacy
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.spec.ts
Labels: tests

remove duplicate provider
  src/test/webapp/app/shared/pages/landing-page/landing-page.component.spec.ts
Labels: tests

fix redirect for job-overview page
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.ts
Labels: client

adjust job-overview client tests
  src/test/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.spec.ts
Labels: tests

correct gendering
  src/main/webapp/i18n/de/research-group.json
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
