Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

add error toasts to application overview
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
Labels: client

disable decimal list style
  src/main/webapp/content/scss/global.scss
Labels: client

fix: added custom exception, moved logging Resource layer
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationDetailDTO.java
  src/main/java/de/tum/cit/aet/core/exception/AlreadyMemberOfResearchGroupException.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ProfessorResearchGroupRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
Labels: server, application, user management

`Development`: Add professor request access form (server-side) (#910)
  docs-github/TUMApply API/Admin/Activate Research Group.bru
  docs-github/TUMApply API/Admin/Create Research Group.bru
  docs-github/TUMApply API/Admin/Deny Research Group.bru
  docs-github/TUMApply API/Admin/Get Draft Research Groups.bru
  docs-github/TUMApply API/Admin/Provision Research Group.bru
  docs-github/TUMApply API/Admin/Provision ResearchGroup – UserNotFound.bru
  docs-github/TUMApply API/Authentication/Keycloak Token.bru
  docs-github/TUMApply API/Research Group/Create Draft-Research Group (Professor Onboarding).bru
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationDetailDTO.java
  src/main/java/de/tum/cit/aet/core/exception/AlreadyMemberOfResearchGroupException.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/ResearchGroupState.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ProfessorResearchGroupRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupCreationDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/ResearchGroupRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/AdminResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/resources/config/liquibase/changelog/00000000000009_add_research_group_state.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/02_research_groups.sql
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/model/professorResearchGroupRequestDTO.ts
  src/main/webapp/app/generated/model/researchGroup.ts
  src/main/webapp/app/generated/model/researchGroupDTO.ts
Labels: server, client, database, application, user management

fix: add word wrap to professor workflow steps
  src/main/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/workflow-step/workflow-step.component.scss
Labels: client

fix: change OpenMail to OpenForm, as no Email will be sent but modal dialog will pop up
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

refact: shouldTranslate refactoring
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.ts
Labels: client

refact: changed button and info text
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

fix: added new spinning icon
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

fix comments
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
Labels: server, application

style
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
Labels: server, application

fix: api request in professor onboarding form, adapted repository and service to set user to professor only after setting researchgroup to active
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserResearchGroupRoleRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.ts
Labels: server, client, user management

feat: add custom tum ID validator
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.ts
  src/main/webapp/app/shared/validators/custom-validators.ts
Labels: client

margin not needed
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
Labels: client

`General`: Standardize error messages in application creation form (#827)
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

`General`: Write tests for filter-multiselect component (#835)
  src/test/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.spec.ts
  src/test/webapp/app/shared/components/atoms/sorting/sorting.spec.ts
Labels: tests

`General`: Write tests for search-filter-sort-bar (#892)
  src/test/webapp/app/shared/components/molecules/search-filter-sort-bar.spec.ts
Labels: tests

`General`: Write tests for toasts (#904)
  src/test/webapp/app/service/toast-service.spec.ts
  src/test/webapp/app/shared/toast/toast.component.spec.ts
Labels: tests

`General`: Remove old filter and sort components (#930)
  src/main/webapp/app/evaluation/application-overview/application-overview.component.scss
  src/main/webapp/app/shared/components/atoms/filter-select/filter-select.component.html
  src/main/webapp/app/shared/components/atoms/filter-select/filter-select.component.scss
  src/main/webapp/app/shared/components/atoms/filter-select/filter-select.component.ts
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.html
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.scss
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.ts
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.html
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.scss
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.ts
Labels: client

`General`: Add margin to lists in application detail page (#945)
  src/main/webapp/content/scss/global.scss
Labels: client

`General`: Adapted about us description (#955)
  src/main/webapp/app/shared/pages/about-us-page/about-us-page.component.html
  src/main/webapp/i18n/de/about-us.json
  src/main/webapp/i18n/en/about-us.json
Labels: client

`General`: Replace decimal list style with bullet points (#983)
  src/main/webapp/content/scss/global.scss
Labels: client

`Development`: Fix infinite loop page2 (#934)
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
  src/main/webapp/app/core/util/deepequal-util.ts
Labels: client

`General`: Fix inconsistent gendering, text overflow and whitespace between titles and content (#980)
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/workflow-step/workflow-step.component.scss
  src/main/webapp/app/shared/settings/settings.component.scss
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/de/privacy.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

`General`: Write client tests for research group members page (#933)
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: client, tests

add padding
  src/main/webapp/content/scss/_header.scss
Labels: client

add professor access to getResearchGroupMembers
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
Labels: server, user management

update junit to version 6.0.0 and leave note for liquibase 5.0.0
  docs/package-lock.json
  gradle.properties
  package-lock.json
Labels: none

`General`: Fix my members page api access bug (#992)
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
Labels: server, user management

add PDFBuilder to Server with ITextPdf
  build.gradle
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
Labels: server

`General`: Update junit to version 6.0.0 and leave note for liquibase 5.0.0 (#993)
  docs/package-lock.json
  gradle.properties
  package-lock.json
Labels: none

openapi
  openapi/openapi.yaml
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/api/authenticationResourceApi.service.ts
  src/main/webapp/app/generated/api/documentResourceApi.service.ts
  src/main/webapp/app/generated/api/emailSettingResourceApi.service.ts
  src/main/webapp/app/generated/api/emailTemplateResourceApi.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/generated/api/internalCommentResourceApi.service.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
  src/main/webapp/app/generated/api/publicConfigResourceApi.service.ts
  src/main/webapp/app/generated/api/ratingResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
Labels: client

fix: sorting, db
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/evaluation/repository/impl/ApplicationEvaluationRepositoryImpl.java
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/07_applications.sql
Labels: server, database, application, evaluation

fix numbering
  src/main/resources/config/liquibase/changelog/00000000000010_alter_application_add_applied_date.xml
  src/main/resources/config/liquibase/master.xml
Labels: database

remove @Transactional
  src/main/java/de/tum/cit/aet/usermanagement/service/UserService.java
Labels: server, user management

remove comment
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step.component.spec.ts
Labels: tests

remove comment
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.spec.ts
Labels: tests

fix client style
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step.component.spec.ts
Labels: tests

allow at most two decimal places
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

adjust texts for grades
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
