Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

`Usability`: Add asterisk to job creation checkbox (#1148)
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
Labels: client

add deleted line
  src/test/resources/config/application.yml
Labels: tests

improve assertions for ApplicationEvaluationResourceTest
  src/test/java/de/tum/cit/aet/evaluation/web/rest/ApplicationEvaluationResourceTest.java
Labels: tests

add ActivatedRouteMock and adapt research-group-template-edit.spec.ts
  src/test/webapp/app/usermanagement/research-group-template-edit/research-group-template-edit.spec.ts
  src/test/webapp/util/activated-rout.mock.ts
Labels: tests

add ActivatedRouteMock and adapt application-overview.component.spec.ts
  src/test/webapp/app/evaluation/application-detail/application-detail.component.spec.ts
  src/test/webapp/app/evaluation/application-overview/application-overview.component.spec.ts
  src/test/webapp/util/activated-route.mock.ts
Labels: tests

adapt ActivatedRouteMock
  src/test/webapp/util/activated-rout.mock.ts
Labels: tests

remove bold text
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/content/scss/global.scss
Labels: client

add rounded to icons
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/workflow-step/workflow-step.component.html
Labels: client

refact and feat: move evalution components to shared - add basic layout for detail view
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/shared/components/atoms/description-list/description-list.html
  src/main/webapp/app/shared/components/atoms/description-list/description-list.ts
  src/main/webapp/app/shared/components/atoms/link-list/link-list.html
  src/main/webapp/app/shared/components/atoms/link-list/link-list.ts
  src/main/webapp/app/shared/components/atoms/prose/prose.html
  src/main/webapp/app/shared/components/atoms/prose/prose.ts
  src/main/webapp/app/shared/components/atoms/section/section.html
  src/main/webapp/app/shared/components/atoms/section/section.ts
  src/main/webapp/app/shared/components/atoms/sub-section/sub-section.html
  src/main/webapp/app/shared/components/atoms/sub-section/sub-section.ts
  src/main/webapp/app/shared/components/molecules/comment-section/comment-section.html
  src/main/webapp/app/shared/components/molecules/comment-section/comment-section.ts
  src/main/webapp/app/shared/components/molecules/document-dialog/document-dialog.html
  src/main/webapp/app/shared/components/molecules/document-dialog/document-dialog.ts
  src/main/webapp/app/shared/components/molecules/rating-section/rating-section.html
  src/main/webapp/app/shared/components/molecules/rating-section/rating-section.ts
  src/main/webapp/app/shared/components/organisms/document-section/document-section.html
  src/main/webapp/app/shared/components/organisms/document-section/document-section.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/evaluation/components/comment-section/comment-section.spec.ts
  src/test/webapp/app/evaluation/components/document-section/document-section.spec.ts
  src/test/webapp/app/evaluation/components/prose/prose.spec.ts
  src/test/webapp/app/evaluation/components/rating-section/rating-section.spec.ts
Labels: client, tests

add translation key for downloadPdf label to button.json
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/button.json
  src/main/webapp/i18n/en/global.json
Labels: client

add search bar
  src/main/webapp/app/interview/interview-processes-overview/create-interview-dialog/create-interview-dialog.component.html
  src/main/webapp/app/interview/interview-processes-overview/create-interview-dialog/create-interview-dialog.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

fix: remove margin from section to remove unnecessary whitespace
  src/main/webapp/app/shared/components/atoms/section/section.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
Labels: client

fix hero responsive alignment
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.scss
Labels: client

adjust padding
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.scss
Labels: client

center hero
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
Labels: client

adjust responsive layout in journey section
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.html
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.ts
Labels: client

remove unnecessary tests
  src/test/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.spec.ts
Labels: tests

feat: add custom styling to header
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.scss
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
Labels: client

move pdf-labels to another folder
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/app/shared/language/pdf-labels.ts
Labels: client

refact: use new icons instead of bittons for admin view
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/en/button.json
Labels: client

remove clamped title
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.scss
Labels: client

fixL adpat styling
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
Labels: client

fix: clean up application resource test
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
Labels: tests

adjust height
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
Labels: client

center image
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.ts
Labels: client

adjust line break
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.html
Labels: client

feat: add util classes
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.spec.ts
  src/test/webapp/util/dialog.service.mock.ts
  src/test/webapp/util/dynamicdialogref.mock.ts
Labels: tests

adjust hero section
  src/main/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.scss
Labels: client

feat: add util classes
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.spec.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form/professor-request-access-form.component.spec.ts
Labels: tests

create new pdf-labels file
  src/main/webapp/app/shared/language/pdf-labels.ts
Labels: client

add label for jobs
  src/main/webapp/app/shared/language/pdf-labels.ts
Labels: client

add missing job strings
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

adjust responsive layout
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.html
Labels: client

remove scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.ts
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.ts
Labels: client

fix tests
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.spec.ts
Labels: tests

remove deleted scss class usage
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
Labels: client

add and fix labels
  src/main/webapp/app/shared/language/pdf-labels.ts
Labels: client

add job export to server
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
Labels: server

General: Redirecting to home after logging out in application form (#1071)
  src/main/webapp/app/core/auth/auth-facade.service.ts
Labels: client

`Development`: Add tests for the client template pages (#1121)
  src/test/webapp/app/usermanagement/research-group-template-edit/research-group-template-edit.spec.ts
  src/test/webapp/app/usermanagement/research-group-templates/research-group-templates.spec.ts
  src/test/webapp/util/activated-rout.mock.ts
Labels: tests
