Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

run prettier
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix comments
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

Hab server geändert um time-ago-pipe zu verwenden
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationOverviewDTO.java
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/main/webapp/app/generated/model/applicationOverviewDTO.ts
  src/main/webapp/app/shared/pipes/time-since-translate.pipe.ts
Labels: server, client, application

fixed client test
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationOverviewDTO.java
  src/test/webapp/util/application-resource-api.service.mock.ts
Labels: server, tests, application

fix Sie
  src/main/webapp/i18n/de/interview.json
Labels: client

add modal
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

fix dark mode appearance
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
Labels: client

`General`: Adjust job cards to use saved image and department name (#1407)
  docker/compose-prod.yaml
  docker/compose.yaml
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/webapp/app/generated/model/jobCardDTO.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/content/theming/tumapplypreset.ts
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page3.component.spec.ts
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
Labels: server, client, tests, docker, application, job

remove section comments
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.html
Labels: client

remove comments
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-banner-section/professor-banner-section.component.ts
Labels: client

remove previous sticky styling
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-banner-section/professor-banner-section.component.html
Labels: client

reuse banner
  src/main/webapp/app/shared/pages/professor-landing-page/professor-banner-section/professor-banner-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-banner-section/professor-banner-section.component.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.ts
Labels: client

`General`: Localized error messages for authentication flows (#1465)
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
  src/main/webapp/app/core/auth/keycloak-authentication.service.ts
  src/main/webapp/app/core/auth/server-authentication.service.ts
  src/main/webapp/app/service/toast-service.ts
  src/main/webapp/app/shared/components/organisms/registration/registration.ts
  src/main/webapp/i18n/de/auth.json
  src/main/webapp/i18n/en/auth.json
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
  src/test/webapp/app/core/auth/auth-orchestrator.service.spec.ts
  src/test/webapp/app/core/auth/keycloak-authentication.service.spec.ts
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/shared/components/organisms/registration/registration.spec.ts
  src/test/webapp/util/keycloak.mock.ts
Labels: client, tests

`General`: Add tum banner (#1470)
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.html
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.html
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.ts
  src/main/webapp/i18n/de/header.json
  src/main/webapp/i18n/en/header.json
Labels: client

remove margin
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
Labels: client

adjust theme switch
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
Labels: client

adjust tag border
  src/main/webapp/content/theming/custompreset.ts
Labels: client

`General`: Remove getter in job creation component (#1471)
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

adjust colors
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/constants/onboarding-dialog.constants.ts
Labels: client

remove init call from loginWithProvider
  src/main/webapp/app/core/auth/keycloak-authentication.service.ts
Labels: client

adjust padding, button size
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

add universityId
  src/main/java/de/tum/cit/aet/usermanagement/dto/KeycloakUserDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/UserTestData.java
Labels: server, tests, user management

comments bezüglich länder und nationalities resolved
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/countries.ts
  src/main/webapp/i18n/de/countries.json
  src/main/webapp/i18n/de/nationalities.json
  src/main/webapp/i18n/en/countries.json
  src/main/webapp/i18n/en/nationalities.json
Labels: client

adjust animations
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
  src/main/webapp/index.html
Labels: client

dark mode fix
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
Labels: client

hab datum angepasst
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
  src/main/webapp/app/shared/pipes/localized-date.pipe.ts
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
Labels: client, tests

fixed test
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: client, tests

hab job page auch angepasst
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

use tokenized
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
Labels: client

fix ugly errors yelp
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/AdminResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: server, client, tests, user management

adjust gender decoder texts
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
Labels: client

add link to original gender decoder
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.html
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
Labels: client

add error handling
  openapi/openapi.yaml
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/researchGroupProvisionDTO.ts
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.spec.ts
Labels: client, tests

throw error for invalid unviersityId, save users after searching new name
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: server, client, user management

fix
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

adjust colors, add turquoise
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.html
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
  src/main/webapp/content/theming/aquabloom.ts
  src/main/webapp/index.html
Labels: client

`General`: Remove init call from loginWithProvider (#1480)
  src/main/webapp/app/core/auth/keycloak-authentication.service.ts
Labels: client

`Usability`: Rewrite wording of gender decoder (#1482)
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.html
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
Labels: client

set user to applicant after removing
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

adjust colors, remove unused
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/theming/aquabloom.ts
  src/main/webapp/content/theming/custompreset.ts
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
