Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

add infor for other jobs
  src/main/webapp/app/shared/pages/landing-page/faq-section/faq-section.component.ts
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

fix failing tests
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.spec.ts
Labels: tests

add ramona's requested changes
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

mention TUM
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

fix conflict
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

`General`: Add question to FAQ about other jobs (#1262)
  src/main/webapp/app/shared/pages/landing-page/faq-section/faq-section.component.ts
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

fix conflict method
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix codacy
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

refactor professorResearchGroupRequest to ResearchGroupRequest
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/model/professorResearchGroupRequestDTO.ts
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
Labels: server, client, user management

refactor using gelper method
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

add javadoc
  src/main/java/de/tum/cit/aet/interview/dto/InterviewSlotDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

add custom exception
  src/main/java/de/tum/cit/aet/core/exception/TimeConflictException.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/interview/dto/CreateSlotsDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix exception in CreateSlotsDTO
  src/main/java/de/tum/cit/aet/interview/dto/CreateSlotsDTO.java
Labels: server

feat: more specific errors, set user as professor and assign researchgroup, more specific server side validation
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: server, client, user management

Updated login and registration pages: - Added close/back button logic - Fixed layout colors and sizing
  src/main/webapp/app/shared/components/organisms/login/login.html
  src/main/webapp/app/shared/components/organisms/login/login.scss
  src/main/webapp/app/shared/components/organisms/registration/registration.html
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.html
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.scss
  src/main/webapp/content/scss/global.scss
Labels: client

Fixed static code analysis
  src/main/webapp/app/shared/components/organisms/login/login.scss
Labels: client

remove console log
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.spec.ts
Labels: tests

remove GenderNeutralSuggestions
  src/main/java/de/tum/cit/aet/core/dto/BiasedWordDTO.java
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalysisService.java
  src/main/java/de/tum/cit/aet/core/util/GenderNeutralSuggestions.java
Labels: server

remove biasedScore
  src/main/java/de/tum/cit/aet/core/dto/GenderBiasAnalysisResponse.java
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalysisService.java
Labels: server

remove suggestions from response
  src/main/java/de/tum/cit/aet/core/dto/GenderBiasAnalysisResponse.java
Labels: server

remove missing suggestions lines
  src/main/java/de/tum/cit/aet/core/dto/GenderBiasAnalysisResponse.java
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalysisService.java
Labels: server

Made hover effect prettier
  src/main/webapp/content/scss/global.scss
Labels: client

remove logger from Resource
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalysisResource.java
Labels: server

`General`: Added research group resource server tests (#1174)
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/UserTestData.java
Labels: tests

`General`: Clicking icon or label no longer does not open first input field (#1189)
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.html
Labels: client

remove getBiasedScore from Analyzer
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalyzer.java
Labels: server

remove HyphenatedWords from Analyzer
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalyzer.java
Labels: server

remove getSuggestions method
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalyzer.java
Labels: server

remove Hyphenated words and adjust english words according to website
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalyzer.java
Labels: server

remove dependabot.yml
  .github/dependabot.yml
Labels: none

move Wordlists into own file
  src/main/java/de/tum/cit/aet/core/constants/GenderBiasWordLists.java
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalyzer.java
Labels: server

use @Professor annotation for endpoints
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalysisResource.java
Labels: server

`General`: Fix section detail card rendered text styling (#1261)
  src/main/webapp/content/scss/global.scss
Labels: client

remove Transactional InterviewService.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix client style
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix: fix overview tests
  src/test/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
Labels: tests

move stripHtml into it's own file
  src/main/java/de/tum/cit/aet/core/util/HtmlTextExtractor.java
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalysisResource.java
Labels: server

`Development`: Create InterviewProcess for published Jobs (#1206)
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewProcessDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewStatisticsDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/testdata/10_interview_processes.sql
  src/main/webapp/app/generated/.openapi-generator-ignore
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/README.md
  src/main/webapp/app/generated/api.module.ts
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/git_push.sh
  src/main/webapp/app/generated/index.ts
  src/main/webapp/app/generated/model/models.ts
Labels: server, client, application, job

create process automatically when job published
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewProcessDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewStatisticsDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/testdata/10_interview_processes.sql
Labels: server, application, job

Revert "chore: update OpenAPI spec and generated client"
  openapi/openapi.yaml
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
Labels: client
