Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

change to toList
  src/main/java/de/tum/cit/aet/usermanagement/service/DepartmentService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/SchoolService.java
Labels: server, user management

fix client test
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

add missing members tests
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
  src/test/webapp/util/account.service.mock.ts
Labels: tests

use nested
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: tests

refactor tests
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

add translations
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

fix tests
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
Labels: tests

Add Slots Modal
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

fix lint
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
Labels: client

removed any
  src/test/webapp/app/shared/components/atoms/password-input/password-input.component.spec.ts
Labels: tests

add afterEach to restore all mocks
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
Labels: tests

add profile component tests
  src/test/webapp/app/shared/components/molecules/profile/profile.component.spec.ts
Labels: tests

fix duplicate document upload
  src/main/java/de/tum/cit/aet/core/service/DocumentDictionaryService.java
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.html
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: server, client

remove deprecated calls in header component
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
Labels: client

add header tests
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
Labels: tests

add authorities to to account service mock
  src/test/webapp/util/account.service.mock.ts
Labels: tests

add url, events and routerState to router mock
  src/test/webapp/util/router.mock.ts
Labels: tests

add getCurrentLang to translate mock
  src/test/webapp/util/translate.mock.ts
Labels: tests

fix failing tests and add tests for coverage
  src/test/webapp/app/shared/components/atoms/upload-button/upload-button.component.spec.ts
Labels: tests

run prettier
  src/test/webapp/app/shared/components/atoms/upload-button/upload-button.component.spec.ts
Labels: tests

refactored orchestrator Mock
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.spec.ts
  src/test/webapp/util/auth-orchestrator.service.mock.ts
Labels: tests

add methods for auth-orchestrator service
  src/test/webapp/util/auth-orchestrator.service.mock.ts
Labels: tests

change return type of open in dialog service mock
  src/test/webapp/util/dialog.service.mock.ts
Labels: tests

add auth dialog mock and test
  src/test/webapp/app/core/auth/auth-dialog.service.spec.ts
  src/test/webapp/util/auth-dialog.service.mock.ts
Labels: tests

fix profile tests
  src/test/webapp/app/shared/components/molecules/profile/profile.component.spec.ts
Labels: tests

add more test cases for 100%
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
Labels: client, tests

add login tests
  src/test/webapp/app/shared/components/organisms/login/login.component.spec.ts
Labels: tests

make login easier
  src/test/webapp/app/shared/components/organisms/login/login.component.spec.ts
  src/test/webapp/util/application-config.service.mock.ts
  src/test/webapp/util/auth-orchestrator.service.mock.ts
Labels: tests

add interface to http client mock
  src/test/webapp/util/http-client.mock.ts
Labels: tests

add registerProgress and totalRegisterSteps to auth-orchestrator mock
  src/test/webapp/util/auth-orchestrator.service.mock.ts
Labels: tests

add updateUser and updatePassword to account service mock
  src/test/webapp/util/account.service.mock.ts
Labels: tests

add registration tests
  src/test/webapp/app/shared/components/organisms/registration/registration.spec.ts
Labels: tests

add authCard tests
  src/test/webapp/app/shared/components/templates/auth-card/auth-card.component.spec.ts
Labels: tests

add sidebar tests
  src/test/webapp/app/shared/components/organisms/sidebar/sidebar.component.spec.ts
Labels: tests

fix auth facade test
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
Labels: tests

add sidebar tests
  src/test/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.spec.ts
  src/test/webapp/util/router.mock.ts
Labels: tests

add faq question for professor registration
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.ts
  src/main/webapp/i18n/de/professor-landing-page.json
  src/main/webapp/i18n/en/professor-landing-page.json
Labels: client

added toast message when logging out
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/app/core/interceptor/auth.interceptor.ts
  src/main/webapp/i18n/de/auth.json
  src/main/webapp/i18n/en/auth.json
Labels: client

sort departments and schools
  src/main/java/de/tum/cit/aet/usermanagement/repository/DepartmentRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/DepartmentService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/SchoolService.java
Labels: server, user management

adjust security config
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
Labels: server

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
