Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

remove for now
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: tests

fix tests
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
Labels: client, tests

more performant solution
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
Labels: server, user management

prevent nullPointerException
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
Labels: server, user management

remove transition
  src/main/webapp/content/scss/global.scss
Labels: client

adjust accordion color
  src/main/webapp/content/scss/prime-ng-overrides.scss
Labels: client

fix flickering size when changing page and using tailwind tokens
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
Labels: client

- adjusted hover color - adjusted progress bar
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
  src/main/webapp/app/shared/components/organisms/registration/registration.ts
  src/main/webapp/content/scss/prime-ng-overrides.scss
Labels: client

`General`: Adjust sticky footer (#1468)
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
  src/main/webapp/content/scss/prime-ng-overrides.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

resolve commits
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/language/primeng-translation.service.ts
  src/main/webapp/app/shared/pipes/localized-date.pipe.ts
Labels: client

`General`: Fix inconsistent margin in forms (#1475)
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
Labels: client

`General`: Fix styling in onboarding dialog (#1478)
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/constants/onboarding-dialog.constants.ts
Labels: client

remove override
  src/main/webapp/content/scss/prime-ng-overrides.scss
Labels: client

fix
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

codacy analysis
  src/main/webapp/app/shared/components/organisms/login/login.scss
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
Labels: client

adjust colors, rounded corners
  src/main/webapp/app/shared/components/atoms/info-box/info-box.component.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
  src/main/webapp/content/theming/aquabloom.ts
Labels: client

`General`: Fix translation errors in application (#1447)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationOverviewDTO.java
  src/main/webapp/app/app.config.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/countries.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/generated/model/applicationOverviewDTO.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
  src/main/webapp/app/shared/language/primeng-translation.service.ts
  src/main/webapp/app/shared/pipes/localized-date.pipe.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/i18n/de/countries.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/nationalities.json
  src/main/webapp/i18n/de/time.json
  src/main/webapp/i18n/en/countries.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/nationalities.json
  src/main/webapp/i18n/en/time.json
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
  src/test/webapp/app/job/job-overview/job-card/job-card.component.spec.ts
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
  src/test/webapp/util/translate.mock.ts
Labels: server, client, tests, application

adjust colors
  src/main/webapp/content/theming/aquabloom.ts
Labels: client

add hover focus to theme switch
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
Labels: client

`Development`: Use keycloak for adding members to research group (#1409)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/dto/AddMembersToResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/KeycloakUserDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/AdminResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/generated/model/keycloakUserDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/pageResponseDTOKeycloakUserDTO.ts
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/UserTestData.java
  src/test/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.spec.ts
Labels: server, client, tests, user management

make prettier
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
  src/main/webapp/app/shared/components/organisms/registration/registration.ts
  src/main/webapp/content/scss/prime-ng-overrides.scss
Labels: client

adjust buttons
  src/main/webapp/content/theming/aquabloom.ts
  src/main/webapp/content/theming/custompreset.ts
Labels: client

release version 1.1.0
  build.gradle
  package.json
Labels: none

adjust danger color
  src/main/webapp/content/theming/aquabloom.ts
  src/main/webapp/content/theming/custompreset.ts
Labels: client

Added tests
  src/test/webapp/app/shared/language/primeng-translation.service.spec.ts
  src/test/webapp/app/shared/pipes/localized-date.pipe.spec.ts
Labels: tests

adjusted for client-tests
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
Labels: tests

adjust colors
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/theming/custompreset.ts
Labels: client

adjusted for client-tests
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.spec.ts
Labels: tests

adjust colors
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/content/theming/aquabloom.ts
  src/main/webapp/content/theming/custompreset.ts
Labels: client

`General`: Add custom theme (#1477)
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/info-box/info-box.component.ts
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
  src/main/webapp/app/shared/components/atoms/select/select.component.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.html
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
  src/main/webapp/content/theming/aquabloom.ts
  src/main/webapp/content/theming/custompreset.ts
  src/main/webapp/index.html
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
Labels: client, tests

use jhi input
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
Labels: client

fix time input
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

run prettier
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
Labels: client

fix color
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
Labels: client

compare using ID
  package-lock.json
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

effect to helper method
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

semi comments
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

fix custom input
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.html
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.ts
Labels: client

fix lint
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
Labels: client

add missing key adjust styling
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client
