Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

group validators
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

extend hasTooManyDecimals for percentage
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

combine error methods to single toggleError method
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

write "Error"/"Failed" in error toast summaries
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/evaluation.json
  src/main/webapp/i18n/en/job.json
Labels: client

add authorization to ApplicationEvaluationResource
  src/main/java/de/tum/cit/aet/evaluation/repository/JobEvaluationRepository.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
Labels: server, evaluation

refact: use placeholders and lbaels as on research group info page
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

refact: implementing requested changes
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.ts
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

`General`: Fix application creation page 2 not loading (#997)
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

fix: colour icons blue
  src/main/webapp/content/scss/global.scss
Labels: client

use util providers
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
Labels: tests

implement requested changes
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
Labels: tests

change isTouched to computed singal in base.input component
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
Labels: client

adapt editor component to isTouched change
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

mark grade fields as touched to show errors on initialization
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

feat: tests page1 v1
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: tests

feat: tests page1 v1
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: tests

`General`: Fix application creation page 2 not loading (#997)
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

fix: tests client
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: tests

increase branch coverage
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: client, tests

Update src/main/resources/config/liquibase/changelog/00000000000010_alter_application_add_applied_date.xml
  src/main/resources/config/liquibase/changelog/00000000000010_alter_application_add_applied_date.xml
Labels: none

add scroll without closing, add min and max date to datepicker
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
Labels: client

change maxDate for birthday
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
Labels: client

add accountservice mock
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
  src/test/webapp/util/account.service.mock.ts
Labels: tests

add router mock
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
  src/test/webapp/util/router.mock.ts
Labels: tests

use toastservice provider
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
Labels: tests

add account and router providers to other job tests
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
Labels: tests

change format accordng to selected language
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
Labels: client

feat: add checkbox with link too doctoral requirements
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.scss
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

fix: add summary text to error message
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

fix: fixed German siezen
  src/main/webapp/i18n/de/global.json
Labels: client

tests: page2 tests
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: client, tests

fix: client style
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

fix: client style
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: tests

fix: formatting
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: tests

add tests for select component
  src/test/webapp/app/shared/components/atoms/select/select.component.spec.ts
Labels: tests

add tests for datepicker component
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
Labels: tests

fix tests
  src/test/webapp/app/shared/components/atoms/select/select.component.spec.ts
Labels: tests

add tests
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
Labels: tests

fix: fix missing translation key
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

fix: german link
  src/main/webapp/i18n/de/global.json
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
