Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

replace public with authenticated
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
Labels: server

change padding between buttons
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
Labels: client

add styling for bullet points, undelined and bold text
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

add missing imports and attributes
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

fix personalInformation label
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

change Get to Post in JavaDoc
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
Labels: server

`General`: Implement re-designed job details page (#1061)
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.scss
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.scss
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/shared/util/util.ts
  src/main/webapp/content/scss/_header.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

replace method calls in html with signals in ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
Labels: client

add custom icon
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/main/webapp/app/shared/icons/icons.ts
Labels: client

revert icon in detail page
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
Labels: client

`General`: Add client tests for atomic editor component (#1023)
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
  src/main/webapp/app/shared/util/text.util.ts
  src/test/webapp/app/shared/components/atoms/editor/editor.component.spec.ts
  src/test/webapp/app/shared/util/text.util.spec.ts
  src/test/webapp/app/shared/validators/custom-validators.spec.ts
Labels: client, tests

`General`: Add client tests for atomic string-input component (#1014)
  src/test/webapp/app/shared/components/atoms/string-input/string-input.component.spec.ts
Labels: tests

implement requested changes
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/dto/AdminResearchGroupFilterDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupAdminDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/api/authenticationResourceApi.service.ts
  src/main/webapp/app/generated/api/documentResourceApi.service.ts
  src/main/webapp/app/generated/api/emailSettingResourceApi.service.ts
  src/main/webapp/app/generated/api/emailTemplateResourceApi.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/generated/api/internalCommentResourceApi.service.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
  src/main/webapp/app/generated/api/publicConfigResourceApi.service.ts
  src/main/webapp/app/generated/api/ratingResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
Labels: server, client, user management

new endpoint - change withdrawal behaviour to set to pending
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupAdminDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/PageResponseDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/api/authenticationResourceApi.service.ts
  src/main/webapp/app/generated/api/documentResourceApi.service.ts
  src/main/webapp/app/generated/api/emailSettingResourceApi.service.ts
  src/main/webapp/app/generated/api/emailTemplateResourceApi.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/generated/api/internalCommentResourceApi.service.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
  src/main/webapp/app/generated/api/publicConfigResourceApi.service.ts
  src/main/webapp/app/generated/api/ratingResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: server, client, user management

improve job card overview
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.scss
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/content/scss/global.scss
Labels: client

add javadoc comment
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupAdminDTO.java
Labels: server, user management

revert sidebar button changes
  src/main/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.scss
Labels: client

revert
  src/main/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.scss
Labels: client

`Development`: Research group management view for admins (#1082)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/util/PageUtil.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/AdminResearchGroupFilterDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupAdminDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/ResearchGroupRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/model/pageResponseDTOResearchGroupAdminDTO.ts
  src/main/webapp/app/generated/model/researchGroupAdminDTO.ts
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/research-group.json
Labels: server, client, user management

add unit tests for EmailService
  src/main/java/de/tum/cit/aet/notification/service/EmailService.java
  src/test/java/de/tum/cit/aet/notification/service/EmailServiceTest.java
Labels: server, tests

add technical documentation for the evaluation module (client/server)
  docs-github/evaluation/evaluation-module-documentation.md
  docs-github/evaluation/images/applications-overview-page.png
  docs-github/evaluation/images/applications-review-page.png
  docs-github/evaluation/overview.md
  docs-github/evaluation/ratings.md
  docs-github/evaluation/user-flow.md
Labels: none

fix: error in translation key + made configs uniform
  src/main/webapp/app/service/onboarding-orchestrator.service.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.constants.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
Labels: client

revert changes
  src/main/webapp/app/service/onboarding-orchestrator.service.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.constants.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
Labels: client

fix: error in translation key + made configs uniform
  src/main/webapp/app/service/onboarding-orchestrator.service.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
  src/main/webapp/app/shared/constants/onboarding-dialog.constants.ts
Labels: client

create tests for confirm-dialog
  src/test/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.spec.ts
Labels: tests

`General`: Fix error in translation key for onboarding form (#1093)
  src/main/webapp/app/service/onboarding-orchestrator.service.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
  src/main/webapp/app/shared/constants/onboarding-dialog.constants.ts
Labels: client

disable button focus
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
Labels: client

adapt to code comments
  src/test/webapp/app/evaluation/application-detail/application-detail.component.spec.ts
  src/test/webapp/app/evaluation/application-overview/application-overview.component.spec.ts
Labels: tests

adjust filename for translation
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
  src/main/webapp/app/application/pdf-labels.ts
Labels: server, client

add test coverage to the comment section test
  src/test/webapp/app/evaluation/components/comment-section/comment-section.spec.ts
  src/test/webapp/app/evaluation/components/document-section/document-section.spec.ts
  src/test/webapp/app/evaluation/components/rating-section/rating-section.spec.ts
Labels: tests

add param for applicationLabel
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

add more test coverage
  src/test/webapp/app/shared/components/molecules/application-card/application-card.component.spec.ts
  src/test/webapp/app/shared/components/molecules/comment/comment.spec.ts
Labels: tests

remove @WithMockUser(roles = "PROFESSOR")
  src/test/java/de/tum/cit/aet/evaluation/web/rest/InternalCommentResourceTest.java
Labels: tests

adapt to code comments
  src/test/java/de/tum/cit/aet/evaluation/web/rest/RatingResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/RatingTestData.java
Labels: tests

restore openAPI
  openapi/openapi.yaml
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/model/employeeResearchGroupRequestDTO.ts
  src/main/webapp/app/generated/model/pageResponseDTOResearchGroupAdminDTO.ts
  src/main/webapp/app/generated/model/researchGroupAdminDTO.ts
Labels: client

remove @WithMockUser(roles = "PROFESSOR") from EmailTemplateResourceTest
  src/test/java/de/tum/cit/aet/notification/web/rest/EmailTemplateResourceTest.java
Labels: tests

fix codacy
  src/main/java/de/tum/cit/aet/notification/service/EmailTemplateService.java
  src/test/java/de/tum/cit/aet/notification/service/EmailTemplateServiceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/EmailTemplateTestData.java
Labels: server, tests

remove @WithMockUser(roles = "PROFESSOR") from EmailSettingResourceTest
  src/test/java/de/tum/cit/aet/notification/web/rest/EmailSettingResourceTest.java
Labels: tests

write onboarding dialog tests
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.spec.ts
Labels: tests

professor request access form tests
  src/main/webapp/app/shared/validators/custom-validators.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form.component.spec.ts
Labels: client, tests

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
