Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

test
  src/main/java/de/tum/cit/aet/web/filter/SpaWebFilter.java
Labels: server

typo
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

workflow build updated
  .github/workflows/build.yml
Labels: none

workflow validate pr title updated
  .github/workflows/validate-pr-title.yml
Labels: none

test workflows
  src/main/java/de/tum/cit/aet/web/filter/SpaWebFilter.java
Labels: server

test workflows
  src/main/java/de/tum/cit/aet/web/filter/SpaWebFilter.java
Labels: server

style: fix all Checkstyle violations
  src/main/java/de/tum/cit/aet/core/config/CacheConfiguration.java
  src/main/java/de/tum/cit/aet/core/config/LiquibaseConfiguration.java
  src/main/java/de/tum/cit/aet/core/config/OAuth2Configuration.java
  src/main/java/de/tum/cit/aet/core/config/OpenApiConfiguration.java
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/config/WebConfigurer.java
  src/main/java/de/tum/cit/aet/core/security/oauth2/AudienceValidator.java
  src/main/java/de/tum/cit/aet/core/security/oauth2/CustomClaimConverter.java
  src/main/java/de/tum/cit/aet/core/service/mapper/UserMapper.java
  src/main/java/de/tum/cit/aet/core/web/rest/errors/ExceptionTranslator.java
Labels: server

banner update
  src/main/resources/banner.txt
Labels: none

workflow update
  .github/workflows/validate-pr-title.yml
Labels: none

workflow update tests
  supporting_scripts/extract_number_of_server_starts.sh
  supporting_scripts/flaky_test_detection.sh
  supporting_scripts/generate-aeolus-scripts.sh
  supporting_scripts/generate_code_cov_table/.gitignore
  supporting_scripts/generate_code_cov_table/README.md
  supporting_scripts/generate_code_cov_table/env.example
  supporting_scripts/generate_code_cov_table/generate_code_cov_table.py
  supporting_scripts/generate_code_cov_table/requirements.txt
Labels: none

test: temporarily disable failing assertion to fix build
  src/test/java/de/tum/cit/aet/core/config/WebConfigurerTest.java
Labels: tests

[fix client-tests] inserted missing script, fixed tsconfic spec
  package.json
  tsconfig.spec.json
Labels: none

test
  src/main/java/de/tum/cit/aet/web/filter/SpaWebFilter.java
Labels: server

test workflows
  src/main/java/de/tum/cit/aet/core/web/filter/SpaWebFilter.java
Labels: server

test
  src/main/java/de/tum/cit/aet/core/web/filter/SpaWebFilter.java
Labels: server

test workflows
  src/main/java/de/tum/cit/aet/core/web/filter/SpaWebFilter.java
Labels: server

[fix client-tests] inserted missing script, fixed tsconfic spec
  package.json
  tsconfig.spec.json
Labels: none

test
  src/main/java/de/tum/cit/aet/core/web/filter/SpaWebFilter.java
Labels: server

test (adjusted scripts)
  package.json
Labels: none

adjusted scripts
  package.json
Labels: none

[fix tests] inserted missing scripts, fixed tsconfic spec
  package.json
  tsconfig.spec.json
Labels: none

[fix code-style] fixes part 1
  prebuild.mjs
  src/main/webapp/app/app-page-title-strategy.ts
  src/main/webapp/app/config/language.helper.ts
  src/main/webapp/app/core/util/alert.service.ts
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/service/locale-conversion.service.ts
Labels: client

[fix code-style] fixes part 2
  prebuild.mjs
  src/main/webapp/app/app-page-title-strategy.ts
  src/main/webapp/app/config/language.helper.ts
  src/main/webapp/app/service/locale-conversion.service.ts
  src/main/webapp/bootstrap.ts
Labels: client

[fix code-style] fixes part 3
  src/main/webapp/app/core/util/data-util.service.spec.ts
  src/main/webapp/app/service/locale-conversion.service.ts
Labels: client

[fix client-tests-selected] change develop branch to main
  package.json
Labels: none

workflow update tests
  supporting_scripts/analyze_module_complexity.py
  supporting_scripts/code-coverage/generate_code_cov_table/.gitignore
  supporting_scripts/code-coverage/generate_code_cov_table/README.md
  supporting_scripts/code-coverage/generate_code_cov_table/env.example
  supporting_scripts/code-coverage/generate_code_cov_table/generate_code_cov_table.py
  supporting_scripts/code-coverage/generate_code_cov_table/requirements.txt
  supporting_scripts/code-coverage/per_module_cov_report/parse_module_coverage.py
  supporting_scripts/extract_number_of_server_starts.sh
  supporting_scripts/get_changed_modules.sh
Labels: none

workflow update tests
  .ci/translation-file-checker/translation_file_checker.py
Labels: none

workflow update tests
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/test.yml
Labels: none

workflow update tests
  supporting_scripts/extract_number_of_server_starts.sh
Labels: none

workflow update tests
  supporting_scripts/extract_number_of_server_starts.sh
Labels: none

workflow update tests
  src/main/resources/banner.txt
Labels: none

workflow update tests
  supporting_scripts/extract_number_of_server_starts.sh
Labels: none

workflow update tests
  .whitesource
Labels: none

workflow update tests
  .github/workflows/test.yml
  supporting_scripts/get_changed_modules.sh
Labels: none

workflow update tests
  .github/workflows/pullrequest-closed.yml
  supporting_scripts/analyze_module_complexity.py
Labels: none

workflow update tests
  check_modules.sh
Labels: none

mend gone?
  .github/workflows/test.yml
Labels: none

Revert "Configure Mend Bolt for GitHub"
  .whitesource
Labels: none

server start
  .github/workflows/test.yml
Labels: none

temporary fix
  .github/workflows/test.yml
Labels: none
