Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

remove exportJobToPDF frm service
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

resolve conflicts
  openapi/openapi.yaml
  src/main/webapp/app/generated/model/jobFiltersDTO.ts
Labels: client

pages without authority should redirect aswell
  src/main/webapp/app/core/auth/auth-facade.service.ts
Labels: client

add pdf export to application detail for applicants
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/application/pdf-labels.ts
Labels: client

add pdf export to application detail
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

fix headline translation
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

feat: add searh-filter-sort bar to page
  package-lock.json
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.scss
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/de/sidebar.json
  src/main/webapp/i18n/en/research-group.json
  src/main/webapp/i18n/en/sidebar.json
Labels: client

remove job endpoint for this PR
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
Labels: server

remove double : for overview sections
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

replace runtimeerror with new PDFgenerationException
  src/main/java/de/tum/cit/aet/core/exception/PDFGenerationException.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

remove JobService from constructor
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

replace static labels to function
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/application/pdf-labels.ts
Labels: client

add server docu
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
Labels: server

add doc for build method
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

adjust text on landing page
  package-lock.json
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

remove buttons, add hover and clickable
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.scss
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: client

feat: progressstepper client tests
  src/test/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.spec.ts
Labels: tests

add title to job creation
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
Labels: client

add edit button, change css class naming
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.scss
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

add placeholder for empty research group info
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

remove html structure tests
  src/test/webapp/app/shared/components/atoms/number-input/number-input.component.spec.ts
Labels: tests

add website url trim util
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/shared/util/util.ts
Labels: client

add comment to fix codacy
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
Labels: client

adjust tests
  src/test/webapp/app/job/job-overview/job-card/job-card.component.spec.ts
Labels: tests

add extractTextFromHTML func to util
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
  src/main/webapp/app/shared/util/text.util.ts
Labels: client

implement feedback and tests for validators
  src/test/webapp/app/shared/components/atoms/editor/editor.component.spec.ts
  src/test/webapp/app/shared/util/text.util.spec.ts
  src/test/webapp/app/shared/validators/custom-validators.spec.ts
Labels: tests

adjusted test cases
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

`General`: Tests application creation page1 (#1002)
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: client, tests

`General`: Make job cards clickable (#1077)
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.scss
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
  src/test/webapp/app/job/job-overview/job-card/job-card.component.spec.ts
Labels: client, tests

`General`: Fix title not displayed in application creation when not logged in (#1078)
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
Labels: client

`General`: Fix edit link in documentation (#1081)
  docs/docusaurus.config.ts
  docs/static/img/docusaurus-social-card.jpg
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
Labels: none

remove important
  src/main/webapp/app/job/job-detail/job-detail.component.scss
Labels: client

remove optional chaining
  src/main/webapp/app/job/job-detail/job-detail.component.html
Labels: client

add new endpoint - needed to modify security configuration as i couldnt access endpoint with my admin role
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/util/PageUtil.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/AdminResearchGroupFilterDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupAdminDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/ResearchGroupRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/PageResponseDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: server, client, user management

remove unnecessary tests
  src/test/webapp/app/shared/components/atoms/editor/editor.component.spec.ts
Labels: tests

remove unnecessary tests
  src/test/webapp/app/shared/components/atoms/number-input/number-input.component.spec.ts
Labels: tests

implemented form so far as it works, but buttons dont work
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

buttons should work now
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
Labels: server, client, user management

remove css texts
  src/test/webapp/app/shared/components/atoms/string-input/string-input.component.spec.ts
Labels: tests

remove JobService import
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
