Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

`General`: Refactor research group creation tests into two files (#1317)
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-admin.component.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-professor.component.spec.ts
Labels: tests

add service for gender analysis
  src/main/webapp/app/service/gender-bias-analysis-service.ts
Labels: client

Simplify security check get chain
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

run prettier
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

change masculine and feminine Words
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
Labels: client

reduce debounce time
  src/main/webapp/app/service/gender-bias-analysis-service.ts
Labels: client

change styling of gender-dialog
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.html
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.scss
Labels: client

incorporate feedback
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
Labels: client, tests

fix tests
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-admin.component.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-professor.component.spec.ts
Labels: client, tests

fix lint
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
Labels: client

adjust editor component to display gender result
  src/main/webapp/app/shared/components/atoms/editor/editor.component.html
  src/main/webapp/app/shared/components/atoms/editor/editor.component.scss
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

remove gender biad buttons frmo job creation form, user editor instead
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
Labels: client

put ? in span to avoid hovering making it blue
  src/main/webapp/app/shared/components/atoms/editor/editor.component.html
Labels: client

add error message to genderDecoder translations
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
Labels: client

Adjust job-creation-form ts file
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

adjust editor to smaller screens
  src/main/webapp/app/shared/components/atoms/editor/editor.component.html
  src/main/webapp/app/shared/components/atoms/editor/editor.component.scss
Labels: client

adjust button and tooltip text
  src/main/webapp/app/shared/components/atoms/editor/editor.component.html
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
Labels: client

adjust gender texts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
Labels: client

adjust german tooltip text
  src/main/webapp/i18n/de/genderDecoder.json
Labels: client

display words only once with a counter behind
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.html
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
Labels: client

remove debounce for language switch
  src/main/webapp/app/service/gender-bias-analysis-service.ts
Labels: client

add gender-bias analysis to all input fields on page 2
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/service/gender-bias-analysis-service.ts
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

show ? button only when there was an analysis
  src/main/webapp/app/shared/components/atoms/editor/editor.component.html
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

change order of effects
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

delete spec at first
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.spec.ts
Labels: client

replace ihre with Deine
  src/main/webapp/i18n/de/genderDecoder.json
Labels: client

move gender Dialog logic to editor component
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/components/atoms/editor/editor.component.html
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

remove TranslateService from job-creation form
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

fix some codacy errors
  src/main/webapp/app/service/gender-bias-analysis-service.ts
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
Labels: client

codacy
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
Labels: client

avoid Generic Object Injection Sink
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
Labels: client

add members tests
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/test/webapp/app/usermanagement/research-group-template-edit/research-group-template-edit.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.spec.ts
Labels: client, tests

fix failing client tests
  src/test/webapp/app/application/application-creation-form/application-creation-page3.component.spec.ts
  src/test/webapp/app/shared/components/atoms/editor/editor.component.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-admin.component.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-professor.component.spec.ts
Labels: tests

add tests
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ImageTestData.java
Labels: tests

remove transactional,deleteSlotConflictDTO, add logging
  src/main/java/de/tum/cit/aet/interview/dto/SlotConflictDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

remove unused import
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

add logging
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

feat: tests for admin and detail view - adapt util files to use vi.fn() mock functions to be able to mock the function
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.spec.ts
  src/test/webapp/util/dialog.service.mock.ts
  src/test/webapp/util/translate.mock.ts
Labels: client, tests

add tests
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

fix conflicting slot
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/test/java/de/tum/cit/aet/utility/DatabaseCleaner.java
Labels: server, tests

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
