Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

reduce z index
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

add tooltip
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/en/button.json
Labels: client

add hint for other positions on landing page
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

adjust german text
  src/main/webapp/i18n/de/landingPage.json
Labels: client

adjust german text
  src/main/webapp/i18n/de/landingPage.json
Labels: client

move asterisk to CV label
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.html
  src/main/webapp/content/scss/global.scss
Labels: client

`General`: Fix select overlay not visible due to sticky bottom (#1278)
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

`General`: Center cards in job list (#1276)
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
Labels: client

`General`: Add hint for further positions to landing page (#1281)
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

add tooltip for edit
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

`General`: Improve usability for application form (#1272)
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.scss
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.html
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.scss
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

- Removed preferredLanguage from FrontEnd components - Removed preferredLanguage from OpenAPI specification - Updated backend DTOs and services
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/UserForApplicationDetailDTO.java
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/generated/.openapi-generator-ignore
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/api/authenticationResourceApi.service.ts
  src/main/webapp/app/generated/api/documentResourceApi.service.ts
  src/main/webapp/app/generated/api/emailSettingResourceApi.service.ts
  src/main/webapp/app/generated/api/emailTemplateResourceApi.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/generated/api/internalCommentResourceApi.service.ts
  src/main/webapp/app/generated/api/interviewResourceApi.service.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/pdfExportResourceApi.service.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
  src/main/webapp/app/generated/api/publicConfigResourceApi.service.ts
  src/main/webapp/app/generated/api/ratingResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/generated/model/userForApplicationDetailDTO.ts
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.html
Labels: server, client, user management

fix: serverstyle and servertest
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
Labels: tests

apply change requests
  src/main/java/de/tum/cit/aet/core/constants/ErrorCode.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/interview/dto/SlotConflictDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix: serverstyle and servertest
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
Labels: tests

`General`: Application module server tests (#1120)
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/webapp/app/generated/model/models.ts
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/DocumentTestData.java
Labels: server, client, tests, application

revert redirect from job-overview page
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.ts
  src/test/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.spec.ts
Labels: client, tests

disable apply button for professor, show close button if professor belongs to job
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

fix missing coverage for job-detail page
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
Labels: tests

use @RequiredArgsConstructor for Service and Ressource, make Analyzer a component for DI
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalysisService.java
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalyzer.java
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalysisResource.java
Labels: server

delete htmlExtractor, use Jsoup instead
  src/main/java/de/tum/cit/aet/core/util/HtmlTextExtractor.java
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalysisResource.java
Labels: server

use static final field for umlauts
  src/main/java/de/tum/cit/aet/core/util/StringUtil.java
Labels: server

implement requested changes
  src/main/webapp/app/shared/components/atoms/info-box/info-box.component.html
  src/main/webapp/app/shared/components/atoms/info-box/info-box.component.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.spec.ts
  src/test/webapp/util/dynamicdialogref.mock.ts
Labels: client, tests

call deHyphenNonCodedWords directly in analyze instead of in the cleanAndTokenize method
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalyzer.java
Labels: server

Fix findCodedWords to prevent false positives from partial matches
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalyzer.java
Labels: server

make Wordlists unmodifiable
  src/main/java/de/tum/cit/aet/core/constants/GenderBiasWordLists.java
Labels: server

`General`: Add tooltip for disabled button in overview page (#1282)
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.html
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.ts
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/en/button.json
Labels: client

`Usability`: Fix landing page switch for professor (#1277)
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.ts
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/landing-page.component.spec.ts
  src/test/webapp/util/account.service.mock.ts
Labels: client, tests

Change BiasedWordDTO and GenderBiasResponse to Java records
  src/main/java/de/tum/cit/aet/core/dto/BiasedWordDTO.java
  src/main/java/de/tum/cit/aet/core/dto/GenderBiasAnalysisResponse.java
Labels: server

enhanced button effects - made the icon more glowy - made the hover effect more subtle/softer
  src/main/webapp/content/scss/global.scss
Labels: client

search-bar component, new button add members
  src/main/webapp/app/shared/components/molecules/search-bar/search-bar.html
  src/main/webapp/app/shared/components/molecules/search-bar/search-bar.scss
  src/main/webapp/app/shared/components/molecules/search-bar/search-bar.ts
Labels: client

search-bar component, new button add members
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

`Development`: Admins can create research groups (#1258)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/researchGroupRequestDTO.ts
  src/main/webapp/app/shared/components/atoms/info-box/info-box.component.html
  src/main/webapp/app/shared/components/atoms/info-box/info-box.component.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form/professor-request-access-form.component.ts
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.spec.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form/professor-request-access-form.component.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.spec.ts
  src/test/webapp/util/dynamicdialogref.mock.ts
Labels: server, client, tests, user management

client side implementation
  src/main/webapp/app/shared/components/molecules/search-bar/search-bar.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

- reduced spacing before and after the “Find your position” text - added padding to search results
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.html
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.html
Labels: client

Add hint for post docs on landing page
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

add @ Transactional
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

add removed line in application.yml
  src/test/resources/config/application.yml
Labels: tests

make calculate width signal
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/ interview-process-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.html
Labels: client

remove interview.service.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
  src/main/webapp/app/interview/service/interview.service.ts
Labels: client
