Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

fixed the failing test due to changes
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
Labels: tests

fixed the failing test due to changes
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
Labels: tests

run prettier
  src/main/java/de/tum/cit/aet/interview/domain/Interviewee.java
  src/main/java/de/tum/cit/aet/interview/dto/AddIntervieweesDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/IntervieweeDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/IntervieweeRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/resources/config/liquibase/changelog/00000000000016_create_interviewees.xml
Labels: server

fix annotation
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

`General`: Fix failing tests (#1430)
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

fix
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

add java doc
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

resolve comments
  src/main/webapp/app/job/dropdown-options.ts
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: client

one more funding type
  src/main/webapp/app/job/dropdown-options.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

adjust editor component client tests to changes
  src/test/webapp/app/shared/components/atoms/editor/editor.component.spec.ts
Labels: tests

remove duplication of gender-bias-analysis-dialog
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.html
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.scss
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
Labels: client

Hab bisschen mehr Erklärung hinzu
  src/main/webapp/app/job/dropdown-options.ts
Labels: client

adjust gender-bias-analysis dialog tests
  src/test/webapp/app/shared/gender-bias-analysis-dialog.spec.ts
  src/test/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.spec.ts
Labels: tests

fix failing tests and codacy
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.scss
  src/test/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/landing-page.component.spec.ts
Labels: client, tests

remove scss file
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.ts
Labels: client

fix test
  src/test/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.spec.ts
Labels: tests

resolved comments but still one comments remaining
  src/main/webapp/app/job/dropdown-options.ts
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/i18n/de/job.json
Labels: client

replace toHaveBeenCalled() with toHaveBeenCalledOnce()
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
Labels: tests

remove By.css
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
Labels: tests

remove any type
  src/test/webapp/util/application-config.service.mock.ts
Labels: tests

replace By.directive and toHaveBeenCalled()
  src/test/webapp/app/shared/components/atoms/password-input/password-input.component.spec.ts
Labels: tests

replace toHaveBeenCalled()
  src/test/webapp/app/core/auth/account.service.spec.ts
  src/test/webapp/app/core/auth/auth-orchestrator.service.spec.ts
  src/test/webapp/app/core/auth/keycloak-authentication.service.spec.ts
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.spec.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.spec.ts
  src/test/webapp/app/shared/components/organisms/login/login.component.spec.ts
  src/test/webapp/app/shared/components/organisms/registration/registration.spec.ts
  src/test/webapp/app/shared/components/templates/auth-card/auth-card.component.spec.ts
Labels: tests

remove css tests
  src/test/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.spec.ts
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
  src/test/webapp/app/shared/components/organisms/login/login.component.spec.ts
Labels: tests

fix one test coverage of header
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
Labels: tests

removed informatics since its redundant because we already have computer science
  src/main/webapp/app/job/dropdown-options.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

`General`: Client tests for the otp input component (#1371)
  src/main/webapp/app/shared/components/atoms/otp-input/otp-input.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
  src/test/webapp/util/application-config.service.mock.ts
  src/test/webapp/util/auth-orchestrator.service.mock.ts
Labels: client, tests

use onboarding dialog instead of two buttons
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.ts
  src/main/webapp/i18n/de/professor-landing-page.json
  src/main/webapp/i18n/en/professor-landing-page.json
  src/test/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.spec.ts
Labels: client, tests

`General`: Client tests for the password input component (#1373)
  src/test/webapp/app/shared/components/atoms/password-input/password-input.component.spec.ts
Labels: tests

replaced empty key with '-'
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
Labels: client

`Development`: Add FAQ question for professor registration (#1396)
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.ts
  src/main/webapp/i18n/de/professor-landing-page.json
  src/main/webapp/i18n/en/professor-landing-page.json
  src/test/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.spec.ts
Labels: client, tests

`General`: Add tests for authentication related components (#1395)
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/test/webapp/app/core/auth/account.service.spec.ts
  src/test/webapp/app/core/auth/auth-dialog.service.spec.ts
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
  src/test/webapp/app/core/auth/auth-orchestrator.service.spec.ts
  src/test/webapp/app/core/auth/keycloak-authentication.service.spec.ts
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.spec.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.spec.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.spec.ts
  src/test/webapp/app/shared/components/molecules/profile/profile.component.spec.ts
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
  src/test/webapp/app/shared/components/organisms/login/login.component.spec.ts
  src/test/webapp/app/shared/components/organisms/registration/registration.spec.ts
  src/test/webapp/app/shared/components/organisms/sidebar/sidebar.component.spec.ts
  src/test/webapp/app/shared/components/templates/auth-card/auth-card.component.spec.ts
  src/test/webapp/util/account.service.mock.ts
  src/test/webapp/util/auth-dialog.service.mock.ts
  src/test/webapp/util/auth-orchestrator.service.mock.ts
  src/test/webapp/util/http-client.mock.ts
  src/test/webapp/util/router.mock.ts
  src/test/webapp/util/translate.mock.ts
Labels: client, tests

change name of password for Codacy
  src/test/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.spec.ts
Labels: tests

update deprecated field in documenation and adjust folder name for imports
  docs/docusaurus.config.ts
  docs/src/components/Image/Image.tsx
Labels: none

change test password
  src/test/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.spec.ts
Labels: tests

toHaveBeenCalled replaced
  src/test/webapp/app/shared/components/molecules/auth-idp-buttons/auth-idp-buttons.spec.ts
  src/test/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.spec.ts
Labels: tests

comment ribbon
  src/main/webapp/app/layouts/main/main.component.html
Labels: client

remove ^ from dependecies
  package.json
Labels: none

`Development`: Implement slot deletion functionality (#1419)
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: server, client

mend security check
  package-lock.json
  package.json
Labels: none

update package json
  package-lock.json
Labels: none
