Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

fix red color
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.scss
Labels: client

adjust danger in darkmode
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

adjust translation
  src/main/webapp/i18n/de/research-group.json
Labels: client

fix toast
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
Labels: client, tests

add image volumes to docker
  docker/compose-prod.yaml
  docker/compose.yaml
Labels: docker

add param attribute
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
Labels: server, user management

resolved comments
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
  src/test/webapp/app/core/auth/keycloak-authentication.service.spec.ts
  src/test/webapp/app/core/util/grade-format.validator.spec.ts
  src/test/webapp/app/service/localStorage.service.spec.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.spec.ts
  src/test/webapp/util/application-config.service.mock.ts
  src/test/webapp/util/breakpoint-observer.mock.ts
  src/test/webapp/util/keycloak.mock.ts
Labels: tests

test
  src/main/webapp/app/application/application-state-for-applicants/application-state-for-applicants.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
Labels: client

codacy check
  src/test/webapp/util/breakpoint-observer.mock.ts
Labels: tests

adjust colors
  src/main/webapp/app/application/application-state-for-applicants/application-state-for-applicants.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/app/shared/components/molecules/document-dialog/document-dialog.html
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

testing
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
Labels: server, user management

add in review, adjust colors
  src/main/webapp/app/application/application-state-for-applicants/application-state-for-applicants.component.html
  src/main/webapp/content/theming/tumapplypreset.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

try formatting in server
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: server, client, job

fix tests
  src/main/webapp/app/shared/components/atoms/rating/rating.component.ts
  src/test/webapp/app/shared/components/atoms/rating/rating.component.spec.ts
Labels: client, tests

test
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
Labels: server, client, user management

test
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
Labels: client

`General`: Add client tests research group detail and admin view (#1326)
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-template-edit/research-group-template-edit.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.spec.ts
  src/test/webapp/util/dialog.service.mock.ts
  src/test/webapp/util/translate.mock.ts
Labels: client, tests

adjust colors
  src/main/webapp/app/application/application-state-for-applicants/application-state-for-applicants.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

remove config file
  tailwind.config.ts
Labels: none

adjust tags
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/content/scss/prime-ng-overrides.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

adjust dark mode tags
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

new add members logik
  package-lock.json
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: server, client, user management

refactor to use KeycloakUserDTO - changes server logic to create new user for keycloakUser without entry in database, assign role and researchgroup and send email
  src/main/java/de/tum/cit/aet/usermanagement/dto/AddMembersToResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/UserTestData.java
Labels: server, client, tests, user management

change client code to send keycloakUsers
  openapi/openapi.yaml
  src/main/webapp/app/generated/model/addMembersToResearchGroupDTO.ts
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
Labels: client

add missing add-members tests and regroup in describe blocks
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/test/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.spec.ts
Labels: client, tests

revert last commit
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: server, client, job

implemented translations for funding type and location in job creation page
  src/main/webapp/app/job/dropdown-options.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

`General`: Add client tests for professor landing page (#1339)
  src/test/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-information-section/professor-information-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/professor-workflow-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/workflow-step/workflow-step.component.spec.ts
Labels: tests

update one testcase
  package-lock.json
  src/test/webapp/app/shared/components/atoms/upload-button/upload-button.component.spec.ts
Labels: tests

`General`: Fix duplicate document upload (#1394)
  src/main/java/de/tum/cit/aet/core/service/DocumentDictionaryService.java
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.html
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/webapp/app/shared/components/atoms/upload-button/upload-button.component.spec.ts
Labels: server, client, tests

test by asserting identity provider
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
Labels: server, client, user management

adjust info tag color
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

adjust member modal width
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
Labels: client

adjust dark mode tag color
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

make tags border radius consistent
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

test with new ui display name of identity provider
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
Labels: server, user management

adjust dialog color
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

use federation link
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
Labels: server, user management

remove comment
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

add theme
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.ts
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/content/theming/custompreset.ts
Labels: client
