Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

`General`: Sidebar state persistence across page reloads (#1423)
  src/main/webapp/app/layouts/main/main.component.html
  src/main/webapp/app/layouts/main/main.component.ts
  src/main/webapp/app/service/localStorage.service.ts
Labels: client

`General`: Removed preferred languages from application and professor view (#1353)
  openapi/openapi.yaml
  package-lock.json
  package.json
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/UserForApplicationDetailDTO.java
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/generated/model/userForApplicationDetailDTO.ts
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.html
  src/main/webapp/app/shared/language/pdf-labels.ts
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/evaluation.json
  src/main/webapp/i18n/en/global.json
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: server, client, tests, user management

PR comments
  docs/docs/applicants/account-creation.mdx
  docs/docs/applicants/login.mdx
  docs/docs/professors/images/research-group/faq-research-group-registration.png
  docs/docs/professors/research-groups.mdx
Labels: none

translated genders, nationalities and countries for application forms
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/nationalities.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.ts
  src/main/webapp/i18n/de/nationalities.json
  src/main/webapp/i18n/de/shared.json
  src/main/webapp/i18n/en/nationalities.json
  src/main/webapp/i18n/en/shared.json
Labels: client

fixed the calendar translations
  src/main/webapp/app/app.config.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
  src/main/webapp/app/shared/language/primeng-translation.service.ts
Labels: client

DesiredDate Translations
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/shared/pipes/localized-date.pipe.ts
  src/main/webapp/app/shared/shared.module.ts
Labels: client

use existing jhi button
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.ts
Labels: client

`General`: Fix translation errors in job details (#1412)
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/job/dropdown-options.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
Labels: client, tests

bug fix und genauerer placeholder
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/shared.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/shared.json
Labels: client

fixed codacy and empty inputs
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/shared/language/primeng-translation.service.ts
  src/main/webapp/app/shared/pipes/localized-date.pipe.ts
Labels: client

fix dont show default image
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.ts
  src/test/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.spec.ts
Labels: client, tests

prettier
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
Labels: client

use first approach
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
Labels: server, user management

fix codacy errors
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
Labels: server, user management

change to employee role
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

fix server error
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: tests

fix client test due to changes
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
  src/test/webapp/util/translate.mock.ts
Labels: tests

fixed codacy
  src/main/webapp/app/shared/pipes/localized-date.pipe.ts
Labels: client

codacy
  src/main/webapp/app/shared/pipes/localized-date.pipe.ts
Labels: client

fix
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/test/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.spec.ts
Labels: client, tests

old request no error message
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/test/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.spec.ts
Labels: client, tests

codacy
  src/main/webapp/app/shared/pipes/localized-date.pipe.ts
Labels: client

hab nochmal dates überarbeitet
  src/main/webapp/app/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/app/shared/pipes/localized-date.pipe.ts
Labels: client

change to breakpointobeserver mock
  src/test/webapp/app/shared/components/molecules/auth-idp-buttons/auth-idp-buttons.spec.ts
  src/test/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.spec.ts
Labels: tests

change to test behavior
  src/test/webapp/app/shared/components/molecules/auth-idp-buttons/auth-idp-buttons.spec.ts
Labels: tests

`General`: Client tests for auth-idp-buttons & credentials group (#1375)
  src/test/webapp/app/shared/components/molecules/auth-idp-buttons/auth-idp-buttons.spec.ts
  src/test/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.spec.ts
Labels: tests

remove conflict
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: client

remove google video and microsoft
  README.md
  docs-github/auth/keycloak/production/setup.md
  docs-github/intro/features.md
  docs-github/intro/project-overview.md
  docs/docs/applicants/login.mdx
Labels: none

change image folder name
  docs/docs/professors/images/research-groups/faq-research-group-registration.png
  docs/docs/professors/research-groups.mdx
Labels: none

fixed translation for createdSince
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/main/webapp/app/shared/pipes/time-since-translate.pipe.ts
  src/main/webapp/i18n/de/time.json
  src/main/webapp/i18n/en/time.json
Labels: client

add video iframes
  docs/docs/applicants/account-creation.mdx
  docs/docs/applicants/login.mdx
  docs/docs/professors/account-creation.mdx
  docs/docs/professors/login.mdx
Labels: none

prettier
  README.md
Labels: none

`General`: Add user management video links (#1424)
  README.md
  docs-github/auth/keycloak/production/setup.md
  docs-github/general/general-documentation.md
  docs-github/intro/features.md
  docs-github/intro/project-overview.md
  docs-github/setup/dev-environment.md
  docs-github/testing/testing-guide.md
  docs-github/theming/color-theming.md
  docs/docs/applicants/account-creation.mdx
  docs/docs/applicants/login.mdx
  docs/docs/professors/account-creation.mdx
  docs/docs/professors/images/research-groups/faq-research-group-registration.png
  docs/docs/professors/login.mdx
  docs/docs/professors/research-groups.mdx
Labels: none

fixed client test and comments
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/nationalities.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
  src/main/webapp/i18n/de/nationalities.json
  src/main/webapp/i18n/en/nationalities.json
  src/test/webapp/app/job/job-overview/job-card/job-card.component.spec.ts
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
Labels: client, tests

Revert "`General`: Update org.springframework.security:spring-security-test to 7.0.0 (major) (#1460)"
  gradle.properties
Labels: none

add auth orchestrator toast errors
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
  src/main/webapp/app/service/toast-service.ts
  src/main/webapp/app/shared/components/organisms/registration/registration.ts
  src/main/webapp/i18n/de/auth.json
  src/main/webapp/i18n/en/auth.json
Labels: client

add border, reduce button size
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
  src/main/webapp/content/scss/prime-ng-overrides.scss
Labels: client

`Slot Creation`: Enhance slot creation modal with new features and improved UI
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

add toast messages to authentication services
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/app/core/auth/keycloak-authentication.service.ts
  src/main/webapp/app/core/auth/server-authentication.service.ts
  src/main/webapp/i18n/de/auth.json
  src/main/webapp/i18n/en/auth.json
Labels: client

fix tests
  src/test/webapp/app/core/auth/auth-orchestrator.service.spec.ts
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/shared/components/organisms/registration/registration.spec.ts
Labels: tests
