Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

adjust colors
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.scss
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/layouts/footer/footer.component.scss
  src/main/webapp/app/layouts/main/main.component.scss
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.scss
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/editor/editor.component.scss
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
  src/main/webapp/app/shared/components/atoms/otp-input/otp-input.scss
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
  src/main/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.scss
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
  src/main/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.scss
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.html
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.scss
  src/main/webapp/app/shared/pages/about-us-page/about-us-page.component.scss
  src/main/webapp/app/shared/pages/imprint-page/imprint-page.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.html
  src/main/webapp/app/shared/pages/landing-page/faq-section/faq-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/information-section/information-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/voices-section/voices-section.component.scss
  src/main/webapp/app/shared/pages/privacy-page/privacy-page.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-information-section/professor-information-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/professor-workflow-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/workflow-step/workflow-step.component.scss
  src/main/webapp/content/scss/_header.scss
  src/main/webapp/content/scss/_layout.scss
  src/main/webapp/content/scss/_primitives.scss
  src/main/webapp/content/scss/_tokens.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/theming/tumapplypreset.ts
  tailwind.config.ts
Labels: client

fix codacy
  docs-github/testing/testing-guide.md
Labels: none

`General`: Add server tests for image service and resource (#1324)
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/utility/DatabaseCleaner.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/ImageTestData.java
Labels: tests

adjust colors
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/shared/components/atoms/editor/editor.component.scss
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.scss
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.scss
  src/main/webapp/app/shared/pages/landing-page/faq-section/faq-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/professor-workflow-section.component.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

adjust colors
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

add tests
  src/test/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.spec.ts
  src/test/webapp/util/research-group-resource-api.service.mock.ts
Labels: tests

add tests
  src/test/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-information-section/professor-information-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/professor-workflow-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/workflow-step/workflow-step.component.spec.ts
Labels: tests

add min width
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
Labels: client

add key to button.json, consistency json files
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/button.json
  src/main/webapp/i18n/en/interview.json
Labels: client

replacing setTimeout with advanceTimersByTime
  src/test/webapp/app/service/gender-bias-analysis-service.spec.ts
Labels: tests

change to jhi Buttons and use fa icon
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
Labels: client

Fix host binding
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
Labels: client

apply comments
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

fix date-header.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.ts
Labels: client

add toast errors
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/month-navigation/month-navigation.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

run prettier
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
Labels: client

fix codacy
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
Labels: client

adjust UI patterns section
  docs-github/general/general-documentation.md
Labels: none

adjust colors
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

adjust colors
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

update tests
  src/test/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-information-section/professor-information-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/professor-workflow-section.component.spec.ts
Labels: tests

add tests for translation behaviour
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.spec.ts
Labels: tests

adjust translation and app config to new ngx-translate version
  src/main/webapp/app/app.config.ts
  src/main/webapp/app/config/translation.config.ts
Labels: client

revert secondary background
  src/main/webapp/app/application/application-state-for-applicants/application-state-for-applicants.component.html
  src/main/webapp/app/application/application-state-for-applicants/application-state-for-applicants.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

fix accordion color
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

switch light background
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

add comments
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/content/scss/_tokens.scss
Labels: client

adjust card hover
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
Labels: client

remove unused scss
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/editor/editor.component.scss
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
Labels: client

adjust tests
  src/test/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-information-section/professor-information-section.component.spec.ts
  src/test/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/professor-workflow-section.component.spec.ts
Labels: tests

apply comments
  README.md
  docs-github/general/general-documentation.md
  docs-github/testing/testing-guide.md
Labels: none

revert
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
Labels: client

remove min width
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
Labels: client

add min width
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
Labels: client

new researchGroupService tests
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
Labels: server, tests, user management

reduced padding bottom in page header
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.html
  src/main/webapp/content/scss/_header.scss
Labels: client

implement requested changes
  src/main/java/de/tum/cit/aet/usermanagement/dto/AddMembersToResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
Labels: server, client, user management

fix wildcard
  package-lock.json
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: client, tests

remove accidentally added test
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: tests

made padding bottom consistent for each page
  src/main/webapp/content/scss/_header.scss
Labels: client
