Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

employee request access form tests
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form.component.spec.ts
Labels: tests

Add InterviewProcess.java Entity
  src/main/java/de/tum/cit/aet/interview/domain/InterviewProcess.java
Labels: server

add liquibase file and repository
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/resources/config/liquibase/changelog/00000000000011_create_interview_processes.xml
  src/main/resources/config/liquibase/master.xml
Labels: server, database

add dto
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
Labels: server

add addition Status
  src/main/java/de/tum/cit/aet/application/constants/ApplicationState.java
Labels: server, application

add Service and DTO
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server, application

add resource
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

add testdata and bruno files
  docs-github/TUMApply API/Interview/Get Interview Overview.bru
  docs-github/TUMApply API/Interview/folder.bru
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

fix codacy issues
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

fix client style sisues
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
Labels: server, application

fix codacy issues
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

add icon
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.html
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.ts
Labels: client

fix codacy issues
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

add icons to my positions
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
Labels: client

fix codacy issues
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

fix codacy issues
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

add button translations
  src/main/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.html
  src/main/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.ts
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/en/button.json
Labels: client

fix codacy issues (set near top of file)
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

fix codacy issues (set near top of file)
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

delete file
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

use button json
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/i18n/de/button.json
Labels: client

add test file
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

fix codacy
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

deleted the method since it had only one line of code
  src/main/webapp/app/core/auth/auth-facade.service.ts
Labels: client

fix codacy
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

add developer docu for the notification module
  docs-github/notification/notification-module-documentation.md
Labels: none

`General`: Add access control tests for job endpoints (#1026)
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

`General`: Add client tests for atomic number-input component (#1015)
  src/test/webapp/app/shared/components/atoms/number-input/number-input.component.spec.ts
Labels: tests

add files for interview processes overview
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.scss
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
  src/main/webapp/app/interview/service/interview.service.ts
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/de/sidebar.json
  src/main/webapp/i18n/en/interview.json
  src/main/webapp/i18n/en/sidebar.json
Labels: client

add titles and styling adjustments
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.scss
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

add unit tests for TemplateProcessingService
  src/main/java/de/tum/cit/aet/notification/service/TemplateProcessingService.java
  src/test/java/de/tum/cit/aet/notification/service/TemplateProcessingServiceTest.java
Labels: server, tests

fixied the problem that reloading the page will redirect to home
  src/main/webapp/app/core/auth/auth-facade.service.ts
Labels: client

feat: more and working tests
  src/test/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.spec.ts
Labels: tests

fixes
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
  src/test/webapp/app/shared/components/atoms/upload-button/upload-button.component.spec.ts
  src/test/webapp/app/shared/components/molecules/button-group/button-group.component.spec.ts
Labels: tests

fix: client style
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
  src/test/webapp/app/shared/components/atoms/upload-button/upload-button.component.spec.ts
Labels: tests

fix: codacy
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
Labels: tests

`General`: Fix professor onboarding dialog scroll state (#1096)
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
Labels: client

update button
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/en/button.json
Labels: client

Development: Update client dependencies
  package-lock.json
  package.json
  src/main/webapp/app/core/auth/auth-dialog.service.ts
  src/main/webapp/app/core/auth/keycloak-authentication.service.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/shared/components/atoms/otp-input/otp-input.ts
Labels: client

Development: Update server dependencies
  build.gradle
  gradle.properties
Labels: none
