Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change

fixed package-lock.json
  package-lock.json
Labels: none

adapted to database column naming-conventions
  src/main/java/de/tum/cit/aet/application/domain/CustomField.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/core/domain/constants/DocumentType.java
  src/main/java/de/tum/cit/aet/evaluation/domain/InternalComment.java
Labels: server

`Development`: Added Document, InternalComment and CustomField entities (#62)
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/CustomField.java
  src/main/java/de/tum/cit/aet/application/repository/CustomFieldRepository.java
  src/main/java/de/tum/cit/aet/core/config/DatabaseConfiguration.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/core/domain/constants/DocumentType.java
  src/main/java/de/tum/cit/aet/core/repository/DocumentRepository.java
  src/main/java/de/tum/cit/aet/core/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/core/service/UserService.java
  src/main/java/de/tum/cit/aet/core/web/rest/PublicUserResource.java
  src/main/java/de/tum/cit/aet/evaluation/domain/InternalComment.java
  src/main/java/de/tum/cit/aet/evaluation/repository/InternalCommentRepository.java
  src/main/java/de/tum/cit/aet/evaluation/repository/SomeRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

fixed package-lock.json
  package-lock.json
Labels: none

added CustomField and CustomFieldAnswer
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/CustomField.java
  src/main/java/de/tum/cit/aet/application/domain/CustomFieldAnswer.java
  src/main/java/de/tum/cit/aet/application/repository/CustomFieldAnswerRepository.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/core/domain/converter/StringListConverter.java
  src/main/java/de/tum/cit/aet/job/constants/CustomFieldType.java
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/job/repository/CustomFieldRepository.java
  src/main/java/de/tum/cit/aet/job/repository/SomeRepository.java
Labels: server

fixed CustomField sequence
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
Labels: server

removed @OrderColumn annotation
  src/main/java/de/tum/cit/aet/job/domain/Job.java
Labels: server

feat(test-data): add insert scripts for all user management, authentication and authorization related tables
  src/main/resources/testdata/01_users.sql
  src/main/resources/testdata/02_research_groups.sql
  src/main/resources/testdata/03_user_roles.sql
  src/main/resources/testdata/04_user_login_providers.sql
  src/main/resources/testdata/import-testdata.sh
Labels: none

renamed customFieldAnswers
  src/main/java/de/tum/cit/aet/application/domain/Application.java
Labels: server

adjustment: adjusted reject reason (will not be saved in database)
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/application/domain/RejectReason.java
Labels: server

adjustment: more application statuses
  src/main/java/de/tum/cit/aet/application/constants/ApplicationStatus.java
Labels: server

Update src/main/java/de/tum/cit/aet/application/domain/RejectReason.java
  src/main/java/de/tum/cit/aet/application/domain/RejectReason.java
Labels: server

Update src/main/java/de/tum/cit/aet/application/domain/RejectReason.java
  src/main/java/de/tum/cit/aet/application/domain/RejectReason.java
Labels: server

fix: fixed build failure
  src/main/java/de/tum/cit/aet/application/domain/RejectReason.java
Labels: server

Update src/main/java/de/tum/cit/aet/application/domain/RejectReason.java
  src/main/java/de/tum/cit/aet/application/domain/RejectReason.java
Labels: server

fix: replaced unnecessary enum with already existing Usergroup enum
  src/main/java/de/tum/cit/aet/application/constants/ApplicationStatus.java
Labels: server

feat(test-data): remove created at/by and updated at/by from research groups insert sql
  src/main/resources/testdata/02_research_groups.sql
Labels: none

adapted customFieldType to match naming conventions
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
Labels: server

`Development`: Adjusted reject reason (#64)
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/application/domain/RejectReason.java
Labels: server

feat(test-data): adapted liquibase to new changes and added documentation.
  README.md
  gradle/liquibase.gradle
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/import-testdata.sh
Labels: database

gradle wrapper workflow hotfix
  .github/workflows/gradle-wrapper-validation.yml
Labels: none

fix: adjusted method name
  src/main/java/de/tum/cit/aet/application/constants/ApplicationStatus.java
Labels: server

`Development`: Add more application statuses (#65)
  src/main/java/de/tum/cit/aet/application/constants/ApplicationStatus.java
Labels: server

Revert "`Development`: Fix github workflows"
  .ci/translation-file-checker/translation_file_checker.py
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/pullrequest-closed.yml
  .github/workflows/test.yml
  check_modules.sh
  package.json
  prebuild.mjs
  src/main/resources/banner.txt
  src/main/webapp/app/app-page-title-strategy.ts
  src/main/webapp/app/config/language.helper.ts
  src/main/webapp/app/core/util/alert.service.ts
  src/main/webapp/app/core/util/data-util.service.spec.ts
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/service/locale-conversion.service.ts
  src/main/webapp/bootstrap.ts
  supporting_scripts/analyze_module_complexity.py
  supporting_scripts/code-coverage/per_module_cov_report/parse_module_coverage.py
  supporting_scripts/extract_number_of_server_starts.sh
  supporting_scripts/generate_code_cov_table/.gitignore
  supporting_scripts/generate_code_cov_table/README.md
  supporting_scripts/generate_code_cov_table/env.example
  supporting_scripts/generate_code_cov_table/generate_code_cov_table.py
  supporting_scripts/generate_code_cov_table/requirements.txt
  supporting_scripts/get_changed_modules.sh
  tsconfig.spec.json
Labels: client

General: include package-lock.json in .gitignore
  .gitignore
Labels: none

General: Add comments for including package-lock.json in .gitignore
  .gitignore
Labels: none

fix(test-data): adapted liquibase changes to user entity
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/01_users.sql
Labels: server

fix(test-data): add delete statement for user id '00000000-0000-0000-0000-000000000105'
  src/main/resources/testdata/01_users.sql
Labels: none

`Development`: Added Custom Fields data structure (#63)
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/CustomField.java
  src/main/java/de/tum/cit/aet/application/domain/CustomFieldAnswer.java
  src/main/java/de/tum/cit/aet/application/repository/CustomFieldAnswerRepository.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/core/domain/converter/StringListConverter.java
  src/main/java/de/tum/cit/aet/job/constants/CustomFieldType.java
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/job/repository/CustomFieldRepository.java
  src/main/java/de/tum/cit/aet/job/repository/SomeRepository.java
Labels: server

General: Add server check in workflow
  .github/workflows/test.yml
Labels: none

Fix: Adjust entity variable names to follow camelCase naming conventions
  src/main/java/de/tum/cit/aet/application/domain/Application.java
Labels: server

Development: Add JobRepository file to job module
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/repository/SomeRepository.java
Labels: server

Fix: Add tests.log file to resolve GitHub workflow failure
  tests.log
Labels: none

Fix: Revert changes in test.yml and tests.log file to resolve GitHub workflow failure
  .github/workflows/test.yml
  tests.log
Labels: none

renamed variables to clearer ones
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
Labels: server

Fix: Refactor Applicant entity to use applicantId instead of userId
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

Fix: Refactor Applicant entity to use applicantId instead of userId (#69)
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

modified AbstractAuditingEntity and adapted entities to it
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/core/domain/AbstractAuditingEntity.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/evaluation/domain/InternalComment.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
Labels: server

make Applicant inherit from User
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
Labels: server

remove User relation to Applicant
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
Labels: server

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml
