Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

update compose.yaml to save documents at a new location
  docker/compose.yaml
Labels: docker

general: serverside change from List to Page on Application Overview for Applicants
  src/main/java/de/tum/cit/aet/application/repository/ApplicationEntityRepository.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationEntityRepositoryImpl.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/java/de/tum/cit/aet/core/util/PageUtil.java
Labels: server, application

`General`: Fix compilation error in upload component (#1211)
  src/main/java/de/tum/cit/aet/core/service/DocumentService.java
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
Labels: server, client

general: clientside change from List to Page on Application Overview for Applicants
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
Labels: client

fix client test
  src/test/webapp/util/auth-facade.service.mock.ts
  src/test/webapp/util/job-resource-api.service.mock.ts
Labels: tests

`General`: Fix client test (#1215)
  src/test/webapp/util/auth-facade.service.mock.ts
  src/test/webapp/util/job-resource-api.service.mock.ts
Labels: tests

`General`: Add clearer instruction to employee request access form (#1185)
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

adjusted p-step-header from default cursor to pointer cursor
  package-lock.json
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

fix tests
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.html
Labels: client

update: params
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
Labels: server, application

fix: included the provided mock util classes
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
  src/test/webapp/app/shared/components/atoms/upload-button/upload-button.component.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
Labels: tests

fix deactivated email field
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
Labels: client

initial commit with unfinished backend
  src/main/java/de/tum/cit/aet/core/dto/BiasedWordDTO.java
  src/main/java/de/tum/cit/aet/core/dto/GenderBiasAnalysisRequest.java
  src/main/java/de/tum/cit/aet/core/dto/GenderBiasAnalysisResponse.java
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalysisService.java
  src/main/java/de/tum/cit/aet/core/util/GenderNeutralSuggestions.java
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalysisResource.java
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalyzer.java
Labels: server

fix: overview tests
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
  src/test/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
  src/test/webapp/util/fontawesome.testing.ts
Labels: tests

remove Tumapply label in the header
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/resources/images/tum-logo-blue.png
Labels: server

remove all border and divider
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

add spacing to the left side for paragraph texts
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

remove top padding for title
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

make overview and section title blue
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

removed commented out timeout
  src/test/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.spec.ts
Labels: tests

adjust overview section for more than 3 elements (show them as a table instead of a row)
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

remove unused imports and variables
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

fix
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.html
Labels: client

remove failing test as there is no grade validation anymore
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

fix: remove by.css
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
Labels: tests

adapt changes
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/UserTestData.java
Labels: tests

remove unused import
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
Labels: server

fix: implemented via Pageable sort
  src/main/java/de/tum/cit/aet/application/repository/ApplicationEntityRepositoryImpl.java
Labels: server, application

return existing dto
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

`Development`: Client tests for buttons (#1065)
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
  src/test/webapp/app/shared/components/atoms/upload-button/upload-button.component.spec.ts
  src/test/webapp/app/shared/components/molecules/button-group/button-group.component.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
Labels: client, tests

update package lock
  package-lock.json
Labels: none

fix test
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

add additional card info
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
Labels: server, job

initital job card design
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.scss
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

fix dto
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
Labels: server, application

add additional to jpql queries
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
Labels: server, application, job

fix null
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
Labels: server, job

adjust formatting
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: server, client, job

adapt jpql queries
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
Labels: server, application, job

added close button using jhi-button-group in auth-card
  package-lock.json
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.html
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.scss
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.ts
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
