Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

test
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/button.json
  src/main/webapp/i18n/en/job.json
Labels: client

test
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

fix serve
  proxy.conf.mjs
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
Labels: server

test image
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.scss
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

combine liquibase changelog entries
  src/main/resources/config/liquibase/changelog/00000000000014_create_images_table.xml
  src/main/resources/config/liquibase/changelog/00000000000015_alter_jobs_add_image_id.xml
  src/main/resources/config/liquibase/master.xml
Labels: database

add image icon
  src/main/webapp/app/config/font-awesome-icons.ts
Labels: client

fix liquibase, add test image
  src/main/resources/config/liquibase/changelog/00000000000014_create_images_table_and_add_to_jobs.xml
  src/main/resources/testdata/03a_images.sql
  src/main/webapp/content/images/default-job-banners/default-cit-banner1.jpeg
  src/main/webapp/content/images/default-job-banners/default-cit-banner2.jpeg
  src/main/webapp/content/images/default-job-banners/default-cit-banner3.jpeg
  src/main/webapp/content/images/default-job-banners/default-cit-banner4.jpeg
Labels: client

improve stylings
  package-lock.json
  src/main/resources/testdata/11_interview_slots.sql
  src/main/webapp/app/interview/interview-process-detail/date-column/date-column.component.html
  src/main/webapp/app/interview/interview-process-detail/date-column/date-column.component.ts
  src/main/webapp/app/interview/interview-process-detail/date-header/date-header.component.ts
  src/main/webapp/app/interview/interview-process-detail/date-section/date-section.component.html
  src/main/webapp/app/interview/interview-process-detail/date-section/date-section.component.ts
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slot-mini-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slot-mini-card/slot-card.component.ts
Labels: client

style panel
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

create translation keys for results
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

set title and result in dialog
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

update image
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

fix image
  src/main/java/de/tum/cit/aet/job/domain/Job.java
Labels: server, job

fix translation
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

fix image serve
  src/main/java/de/tum/cit/aet/core/config/ImageStaticResourceConfiguration.java
Labels: server

add translation
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

move jobDetail section labels from job to pdf json file
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/job.json
  src/main/webapp/i18n/en/pdf.json
Labels: client

create helper methods for pdf labels for better overview and reusability
  src/main/webapp/app/shared/language/pdf-labels.ts
Labels: client

add endDate to application pdf
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

move : to pdf labels instead of exportService
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/webapp/app/shared/language/pdf-labels.ts
Labels: server, client

remove test data
  src/main/resources/testdata/03a_images.sql
  src/main/resources/testdata/04_jobs.sql
  src/main/webapp/content/images/default-job-banners/default-cit-banner1.jpeg
  src/main/webapp/content/images/default-job-banners/default-cit-banner2.jpeg
  src/main/webapp/content/images/default-job-banners/default-cit-banner3.jpeg
  src/main/webapp/content/images/default-job-banners/default-cit-banner4.jpeg
Labels: client

always show job details and research group section
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

add footer to job pdfs
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/webapp/app/shared/language/pdf-labels.ts
Labels: server, client

set correct translations for workload and contract duration
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

update translation
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

add header items to job pdf
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/webapp/app/shared/language/pdf-labels.ts
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/pdf.json
Labels: server, client

add deletion to job, change constraints
  src/main/java/de/tum/cit/aet/core/config/ImageStaticResourceConfiguration.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/config/application.yml
Labels: server, config-change, job

use getCurrentUserFullName for application header
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

add pdf ending for jobs
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
  src/main/webapp/app/shared/language/pdf-labels.ts
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/pdf.json
Labels: server, client

Change dimensions, add validation
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

change constraints
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/resources/config/application.yml
Labels: server, config-change

delete duplicate method
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

clean up
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

add imageid
  src/main/java/de/tum/cit/aet/job/dto/JobDTO.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
Labels: server, job

cleanup
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

allow deletion
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/resources/config/liquibase/changelog/00000000000014_create_images_table_and_add_to_jobs.xml
Labels: server

restrict default selection
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/i18n/en/job.json
Labels: client

remove redundant field
  src/main/java/de/tum/cit/aet/core/domain/Image.java
  src/main/java/de/tum/cit/aet/core/dto/ImageDTO.java
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/config/liquibase/changelog/00000000000014_create_images_table_and_add_to_jobs.xml
Labels: server, job

fix translation
  src/main/webapp/i18n/de/job.json
Labels: client

fix codacy
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
