Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

add sidebar icons
  src/main/webapp/app/app.component.ts
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/app/shared/icons/icons.ts
Labels: client

replace icons
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/shared/icons/icons.ts
Labels: client

fix: tests
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
Labels: tests

fix: tests
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
Labels: tests

fix: tests
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
Labels: tests

fix: tests
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

fix: tests
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

fix: tests
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
Labels: tests

fix: tests
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
Labels: server, application

fix: adjust spacing around slash
  docs-github/application/application-module-documentation.md
Labels: none

added table of content
  docs-github/application/application-module-documentation.md
Labels: none

feat: added quick reference to key workflows
  docs-github/application/application-module-documentation.md
Labels: none

fix: moved custom field answer to new future features chapter
  docs-github/application/application-module-documentation.md
Labels: none

feat: moved source paths to beginning of server-side architecture
  docs-github/application/application-module-documentation.md
Labels: none

feat: added images
  docs-github/application/application-module-documentation.md
  docs-github/application/images/application-detail-1.png
  docs-github/application/images/application-detail-2.png
  docs-github/application/images/application-form-1.png
  docs-github/application/images/application-form-2.png
  docs-github/application/images/application-form-3-1.png
  docs-github/application/images/application-form-3-2.png
  docs-github/application/images/application-form-4-1.png
  docs-github/application/images/application-form-4-2.png
  docs-github/application/images/application-overview.png
Labels: none

Fix timeout test for OTP verification in application-creation-form
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

Fix timeout issue in OTP dialog test with trimming
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

Fix init error handling test - ensure authenticated path is taken
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

fix: tests
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

fix: tests
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

fix: tests
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

add tests for ResearchGroupTemplateEdit component
  src/test/webapp/app/usermanagement/research-group-template-edit/research-group-template-edit.spec.ts
Labels: tests

adapt to code comments
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.html
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
  src/test/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.spec.ts
Labels: client, tests

fix display application card on mobile devices
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.html
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
Labels: client

add general docu file
  README.md
  docs-github/general/general-documentation.md
  docs-github/job/images/find-positions.png
  docs-github/job/images/job-creation-form-page-1.png
  docs-github/job/images/job-creation-form-page-2-1.png
  docs-github/job/images/job-creation-form-page-2-2.png
  docs-github/job/images/job-creation-form-page-3.png
  docs-github/job/images/job-detail-1.png
  docs-github/job/images/job-detail-2.png
  docs-github/job/images/job-detail-prof-1.png
  docs-github/job/images/job-detail-prof-2.png
  docs-github/job/images/my-positions.png
  docs-github/job/job-module-documentation.md
Labels: none

add more breakpoints
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
Labels: client

replace ng deep
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

reduce whitespace
  src/main/webapp/app/evaluation/application-detail/application-detail.component.scss
Labels: client

fix client style and server style error
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: client, tests

fix client style
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

fix client style (add ,)
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

fix: tests
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

adjust search-filter-sort bar with connected components to media version
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.ts
  src/main/webapp/app/shared/components/atoms/sorting/sorting.scss
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.scss
Labels: client

fix: tests
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

fix: tests
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

fix tesdata
  src/main/resources/testdata/10_interview_processes.sql
Labels: none

add bruno file
  docs-github/TUMApply API/Interview/Create Interview Process.bru
Labels: none

used bp from _breakpoint.scss
  src/main/webapp/app/evaluation/application-detail/application-detail.component.scss
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
  src/main/webapp/content/scss/_breakpoints.scss
Labels: client

fix client style
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
  src/main/webapp/content/scss/_breakpoints.scss
Labels: client

add missing space after label
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
