Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

adapt changes
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.scss
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.html
Labels: client

add missing translate
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
Labels: client

search filter sort bar
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/util/PageUtil.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/AdminDepartmentFilterDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/DepartmentRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/DepartmentService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/DepartmentResource.java
  src/main/webapp/app/generated/api/departmentResourceApi.service.ts
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: server, client, user management

fix lint warning
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.ts
Labels: client

new tests
  src/test/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.spec.ts
  src/test/webapp/util/department-resource-api.service.mock.ts
Labels: tests

fix test
  src/test/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.spec.ts
Labels: tests

missing test OH LORD WHEN WILL IT STOP AAHSKDHASJKHDSAKJDHSAK?JDHASKJHDASK?JHDSAJDB AW"IUEWAIUEIWE hilfe uwu
  src/test/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.spec.ts
Labels: tests

add missing test
  src/test/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.spec.ts
Labels: tests

fix import
  src/main/java/de/tum/cit/aet/usermanagement/repository/DepartmentRepository.java
Labels: server, user management

fix errors
  src/main/java/de/tum/cit/aet/core/service/UserDataExportService.java
  src/test/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationServiceTest.java
Labels: server, tests

add missing doc
  package-lock.json
  src/main/java/de/tum/cit/aet/core/service/UserDataExportService.java
Labels: server

user data export test
  src/test/java/de/tum/cit/aet/core/service/UserDataExportServiceTest.java
Labels: tests

fix codacy
  src/test/java/de/tum/cit/aet/core/service/UserDataExportServiceTest.java
Labels: tests

client side implementation
  src/main/webapp/app/shared/settings/settings.component.html
  src/main/webapp/app/shared/settings/settings.component.scss
  src/main/webapp/app/shared/settings/settings.component.ts
  src/main/webapp/i18n/de/settings.json
  src/main/webapp/i18n/en/settings.json
  src/test/webapp/app/shared/settings/settings.component.spec.ts
Labels: client, tests

add missing tests
  src/test/webapp/app/shared/settings/settings.component.spec.ts
Labels: tests

server changes
  src/main/java/de/tum/cit/aet/core/service/UserDataExportService.java
  src/test/java/de/tum/cit/aet/core/service/UserDataExportServiceTest.java
Labels: server, tests

fix settings
  src/main/webapp/app/shared/settings/settings.component.html
  src/main/webapp/app/shared/settings/settings.component.scss
  src/main/webapp/app/shared/settings/settings.component.ts
  src/main/webapp/i18n/de/settings.json
  src/test/webapp/app/shared/settings/settings.component.spec.ts
Labels: client, tests

fix this
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/web/UserDataExportResource.java
  src/main/webapp/app/generated/api/userDataExportResourceApi.service.ts
Labels: server, client

remove escape caracter
  src/main/webapp/app/shared/settings/settings.component.ts
Labels: client

update job creation form
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

requested changes
  src/main/webapp/app/shared/settings/settings.component.html
  src/main/webapp/app/shared/settings/settings.component.scss
Labels: client

first changes implemented
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ApplicantDataExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ApplicationExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ApplicationReviewExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/DocumentExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/InternalCommentExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/InterviewSlotExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/RatingExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ResearchGroupRoleExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/StaffDataDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserDataExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserProfileExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserSettingDTO.java
  src/main/java/de/tum/cit/aet/core/service/UserDataExportService.java
Labels: server

adjust my positions
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.html
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/button.json
  src/main/webapp/i18n/en/job.json
Labels: client

adjust dialogs
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
Labels: client

implement requested changes
  src/main/java/de/tum/cit/aet/core/service/UserDataExportService.java
  src/main/java/de/tum/cit/aet/core/service/ZipExportService.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/test/java/de/tum/cit/aet/core/service/UserDataExportServiceTest.java
Labels: server, tests, evaluation

test
  src/test/java/de/tum/cit/aet/core/service/UserDataExportServiceTest.java
Labels: tests

initial test
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
Labels: client

add try with resource block
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
Labels: server

remove ! in interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
Labels: client

fix clientstyle
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
Labels: client

fix clientstyle
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicationTestData.java
Labels: tests

fix error
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
Labels: server

run prettier
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
Labels: server

run prettier
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
Labels: client

Add tests
  package-lock.json
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicationTestData.java
Labels: client, tests

fix codacy
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

Implement server-side pagination for interview slots with month filtering
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicationTestData.java
Labels: server, client, tests

adjust client side
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: server, client, tests

fix lint
  package-lock.json
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
Labels: client

Fix formatting of Javadoc parameter description
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
Labels: server

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
