Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

add tests for application-detail component
  src/test/webapp/app/job/evaluation/application-detail/application-detail.component.spec.ts
Labels: tests

refact: adapted about-us description, removed phone and fax number and headline
  src/main/webapp/app/shared/pages/about-us-page/about-us-page.component.html
  src/main/webapp/i18n/de/about-us.json
  src/main/webapp/i18n/en/about-us.json
Labels: client

add liquibaseDropAll fix
  gradle/liquibase.gradle
Labels: none

fix codacy
  src/test/java/de/tum/cit/aet/evaluation/web/rest/ApplicationEvaluationResourceTest.java
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicantTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicationTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/JobTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/UserTestData.java
Labels: tests

`General`: Fix liquibaseDropAll command (#957)
  gradle/liquibase.gradle
Labels: none

`Development`: Server tests for evaluation module (#611)
  checkstyle.xml
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/core/validation/Odd.java
  src/main/java/de/tum/cit/aet/core/validation/validator/OddValidator.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/test/java/de/tum/cit/aet/evaluation/web/rest/ApplicationEvaluationResourceTest.java
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/DatabaseCleaner.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicantTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicationTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/JobTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/UserTestData.java
  src/test/resources/application-test.properties
Labels: server, tests, evaluation

put openapi code in gitignore as this is pushed by the workflow now
  .gitignore
Labels: none

replace gradingScale Enum with upper and lower boundary
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/GradingScale.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantForApplicationDetailDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/ApplicantRepository.java
  src/main/resources/config/liquibase/changelog/00000000000009_add_grade_limits.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/06_applicants.sql
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: server, client, database, application, user management

fix: corrected german contact text
  src/main/webapp/i18n/de/about-us.json
Labels: client

add upper and lower limit fields to creation form page 2
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

fix: implement requested changes
  docs-github/TUMApply API/Admin/Provision Research Group.bru
  docs-github/TUMApply API/Admin/Provision ResearchGroup – UserNotFound.bru
  docs-github/TUMApply API/Research Group/Create Draft-Research Group (Professor Onboarding).bru
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/resources/testdata/02_research_groups.sql
Labels: server, user management

validate user input in grading boundaries and grade itself
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

add grade limits to review page
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

adjust text to indicate the user should enter a positive number
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

change button, adjust padding
  src/main/webapp/content/scss/_header.scss
  src/main/webapp/content/scss/_layout.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

try to push generated files
  src/main/webapp/app/generated/model/applicant.ts
  src/main/webapp/app/generated/model/applicantDTO.ts
  src/main/webapp/app/generated/model/applicantForApplicationDetailDTO.ts
Labels: client

add suggested tests
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

replace unused v
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

change comments for validations
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

add braces to arrow functions
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

reduce backtracing
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

try another numeric regex
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

test -f for generated openapi files
  .github/workflows/auto-generate-openapi.yml
Labels: none

rewrite isPercentage to same as isNumeric
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

remove -f flag for openapi generate
  .github/workflows/auto-generate-openapi.yml
Labels: none

replace value with _
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

remove FormValidator type
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

use object.create for setError
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

reduce Cyclomatic Complexity of validateSameFormat
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

replaced old annotations with new ones
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
Labels: server, user management

Fix edit link
  docs/docusaurus.config.ts
Labels: none

Remove unused assets
  docs/static/img/docusaurus-social-card.jpg
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
Labels: none

rewrite code to avoid as unknown
  src/test/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.spec.ts
Labels: tests

fix: fixed inconsistent gendering
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/de/privacy.json
Labels: client

fix: text overflow on landing page, text corrected
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.scss
  src/main/webapp/i18n/en/landingPage.json
Labels: client

fix: reduce whitespace from 4rem to 2rem
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/shared/settings/settings.component.scss
  src/main/webapp/content/scss/_header.scss
Labels: client

adjust numeric checks to allow upper limit < lower limit
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

fix error translations for my-positions-page
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

fix: revert _header.scss
  src/main/webapp/content/scss/_header.scss
Labels: client

fix evaluation error toast translations
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/en/evaluation.json
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
