Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

unnötige Kommentare removed
  src/test/webapp/app/shared/alert/alert-error.component.spec.ts
  src/test/webapp/app/shared/util/util.spec.ts
Labels: tests

add formatEnumValue to textUtil file
  src/main/webapp/app/shared/util/text.util.ts
Labels: client

format location and fundingType in job-detail page
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

add new entities
  src/main/java/de/tum/cit/aet/usermanagement/domain/Department.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/School.java
  src/main/resources/config/liquibase/changelog/00000000000015_create_schools_and_departments.xml
  src/main/resources/config/liquibase/master.xml
Labels: server, database, user management

add school and department management
  src/main/java/de/tum/cit/aet/usermanagement/dto/DepartmentCreationDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/DepartmentDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/DepartmentShortDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/SchoolCreationDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/SchoolDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/SchoolShortDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/DepartmentRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/SchoolRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/DepartmentService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/SchoolService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/DepartmentResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/SchoolResource.java
Labels: server, user management

add, fix tests
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/util/PageUtil.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupAdminDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupCreationDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/SchoolDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/ResearchGroupRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/DepartmentResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/SchoolResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/DatabaseCleaner.java
  src/test/java/de/tum/cit/aet/utility/testdata/DepartmentTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/SchoolTestData.java
Labels: server, tests, user management

fix style
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Department.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/School.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/DepartmentCreationDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/DepartmentDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/DepartmentShortDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/SchoolCreationDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/SchoolDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/SchoolShortDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/DepartmentService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/SchoolService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/DepartmentResource.java
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/DepartmentResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/SchoolResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/DepartmentTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
Labels: server, tests, user management

remove departmens field from school
  src/main/java/de/tum/cit/aet/usermanagement/domain/School.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/SchoolDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/SchoolService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/SchoolResource.java
  src/test/java/de/tum/cit/aet/usermanagement/web/SchoolResourceTest.java
Labels: server, tests, user management

fix errors
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.ts
Labels: client

remove research group list, adjust testdata
  src/main/java/de/tum/cit/aet/usermanagement/domain/Department.java
  src/main/resources/testdata/02_research_groups.sql
  src/main/resources/testdata/02a_schools.sql
  src/main/resources/testdata/02b_departments.sql
Labels: server, user management

add nested to user resource tests
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/UserResourceTest.java
Labels: tests

remove import
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
Labels: server, user management

add selector
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

update testdata
  src/main/resources/testdata/02c_research_groups.sql
Labels: none

add additional test data
  src/main/resources/testdata/02a_schools.sql
  src/main/resources/testdata/02b_departments.sql
Labels: none

adjust translations
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

adapt auth orchestrator and application config
  src/test/webapp/util/application-config.service.mock.ts
  src/test/webapp/util/auth-orchestrator.service.mock.ts
Labels: tests

adapt otp input tests
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
Labels: tests

format otp input
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
Labels: tests

remove 'as any'
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: server, tests, user management

adapt status code
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: server, tests, user management

corrected failing test
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: tests

fix coverage
  src/test/webapp/util/application-config.service.mock.ts
Labels: tests

add tests for password input
  src/test/webapp/app/shared/components/atoms/password-input/password-input.component.spec.ts
Labels: tests

auth idp buttons tests
  src/test/webapp/app/shared/components/molecules/auth-idp-buttons/auth-idp-buttons.spec.ts
Labels: tests

add department
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

update dto
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

add credentials group tests
  src/test/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.spec.ts
Labels: tests

fix tests
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
Labels: tests

extend and fix tests
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.html
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-admin.component.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-professor.component.spec.ts
Labels: client, tests

first changes, added role and created new annotation, adapted test data
  src/main/java/de/tum/cit/aet/core/security/annotations/ProfessorOrEmployee.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/UserRole.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/resources/testdata/02_research_groups.sql
  src/main/resources/testdata/03_user_roles.sql
Labels: server, user management

a) new security annotations b) methods to check for employee/research group member c) adjusted few endpoint annotations to make accessible for employees
  src/main/java/de/tum/cit/aet/core/domain/CurrentUser.java
  src/main/java/de/tum/cit/aet/core/security/annotations/ProfessorOrEmployeeOrAdmin.java
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/core/web/DocumentResource.java
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalysisResource.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
  src/main/java/de/tum/cit/aet/notification/web/EmailSettingResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
Labels: server, user management

adapt endpoint annotations
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
  src/main/java/de/tum/cit/aet/evaluation/web/InternalCommentResource.java
  src/main/java/de/tum/cit/aet/evaluation/web/RatingResource.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
  src/main/java/de/tum/cit/aet/notification/web/EmailTemplateResource.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
Labels: server, job, evaluation, user management

implement remeaining endpoint changes
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/web/DocumentResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/model/models.ts
Labels: server, client, user management

fix openapi
  openapi/openapi.yaml
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/model/models.ts
Labels: client

adapt first part of frontend
  src/main/resources/testdata/02_research_groups.sql
  src/main/resources/testdata/03_user_roles.sql
  src/main/resources/testdata/import-testdata.sh
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.ts
Labels: client

more server and client changes
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
Labels: server, client, tests, application, evaluation, user management

employee should not be able to remove professor from research group
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: server, client, tests, user management

add test
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: tests

add missing funcrtionality:
  src/main/java/de/tum/cit/aet/application/constants/ApplicationState.java
  src/main/java/de/tum/cit/aet/notification/constants/EmailType.java
Labels: server, application

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
