Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

prettier
  docs-github/auth/keycloak/development/setup.md
  docs-github/auth/keycloak/keycloak-impersonation.md
  docs-github/auth/keycloak/keycloak-overview.md
Labels: none

fix: codacy
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

codacity
  docs-github/auth/keycloak/development/setup.md
  docs-github/auth/keycloak/keycloak-impersonation.md
  docs-github/auth/keycloak/keycloak-realm-and-clients.md
Labels: none

prettier
  docs-github/auth/keycloak/development/setup.md
  docs-github/auth/keycloak/keycloak-impersonation.md
Labels: none

codacity
  docs-github/auth/keycloak/keycloak-impersonation.md
Labels: none

codacity
  docs-github/auth/keycloak/keycloak-impersonation.md
Labels: none

user resource
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
Labels: server, user management

prof onboarding resource
  src/main/java/de/tum/cit/aet/usermanagement/service/UserSettingService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ProfOnboardingResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
Labels: server, user management

admin resource
  src/main/java/de/tum/cit/aet/usermanagement/web/AdminResource.java
Labels: server, user management

authentication resource
  src/main/java/de/tum/cit/aet/usermanagement/web/AuthenticationResource.java
Labels: server, user management

email verification resource
  src/main/java/de/tum/cit/aet/usermanagement/web/AuthenticationResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/EmailVerificationResource.java
Labels: server, user management

formatting
  src/main/java/de/tum/cit/aet/usermanagement/service/UserSettingService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/EmailVerificationResource.java
Labels: server, user management

remove tab from sidebar
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
Labels: client

fix error handling
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

remove padding
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
Labels: client

adjust modal
  src/main/resources/testdata/10_interview_processes.sql
  src/main/webapp/app/interview/interview-processes-overview/create-interview-dialog/create-interview-dialog.component.html
  src/main/webapp/app/interview/interview-processes-overview/create-interview-dialog/create-interview-dialog.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

fix creating already existing process
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

add java doc
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix serverstart
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

make button consistent
  src/main/webapp/app/interview/interview-processes-overview/create-interview-dialog/create-interview-dialog.component.html
  src/main/webapp/app/interview/interview-processes-overview/create-interview-dialog/create-interview-dialog.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/ interview-process-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
  src/main/webapp/app/interview/service/interview.service.ts
  src/main/webapp/content/scss/global.scss
Labels: client

add brekapoint fix dispaly of cards with long names
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.html
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.ts
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
  src/main/webapp/content/scss/_breakpoints.scss
Labels: client

fix client style
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

feat: first changes for new button
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

fix codacy error
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

fix codacy error
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

fix codacy error
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

fix codacy error
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

fix codacy error
  angular.json
  src/main/webapp/app/evaluation/application-detail/application-detail.component.scss
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
Labels: client

`Development`: Unit tests for EmailService (#1086)
  src/main/java/de/tum/cit/aet/notification/service/EmailService.java
  src/test/java/de/tum/cit/aet/notification/service/EmailServiceTest.java
Labels: server, tests

`Development`: Add template processing service tests (#1108)
  src/main/java/de/tum/cit/aet/notification/service/TemplateProcessingService.java
  src/test/java/de/tum/cit/aet/notification/service/TemplateProcessingServiceTest.java
Labels: server, tests

`General`: Improve developer documentation for job module (#1024)
  README.md
  docs-github/general/general-documentation.md
  docs-github/job/images/find-positions.png
  docs-github/job/images/job-creation-form-page-1.png
  docs-github/job/images/job-creation-form-page-2-1.png
  docs-github/job/images/job-creation-form-page-2-2.png
  docs-github/job/images/job-creation-form-page-3.png
  docs-github/job/images/job-detail-1.png
  docs-github/job/images/job-detail-2.png
  docs-github/job/images/job-detail-prof-1.png
  docs-github/job/images/job-detail-prof-2.png
  docs-github/job/images/my-positions.png
  docs-github/job/job-module-documentation.md
  docs-github/job/user-flow.md
Labels: none

`Documentation`: Add developer documentation for the notification module (#1102)
  docs-github/notification/notification-module-documentation.md
Labels: none

`Documentation`: Add documentation for the evaluation module (#1092)
  docs-github/evaluation/evaluation-module-documentation.md
  docs-github/evaluation/images/applications-overview-page.png
  docs-github/evaluation/images/applications-review-page.png
  docs-github/evaluation/overview.md
  docs-github/evaluation/ratings.md
  docs-github/evaluation/user-flow.md
Labels: none

`Development`: Internal comment server tests (#1052)
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/test/java/de/tum/cit/aet/evaluation/web/rest/InternalCommentResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/InternalCommentTestData.java
Labels: server, tests

`Development`: Add tests for the settings page (#1132)
  src/main/webapp/app/shared/settings/settings.component.ts
  src/test/webapp/app/shared/settings/email-settings/email-settings.component.spec.ts
  src/test/webapp/app/shared/settings/settings.component.spec.ts
Labels: client, tests

`Development`: Review and document dialog tests (#1137)
  src/test/webapp/app/evaluation/components/document-dialog/document-dialog.spec.ts
  src/test/webapp/app/shared/components/molecules/review-dialog/review-dialog.component.spec.ts
Labels: tests

`Usability`: Add pdf export to application detail (#1075)
  build.gradle
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/exception/PDFGenerationException.java
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
  src/main/resources/images/tum-logo-blue.png
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/pdfExportResourceApi.service.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: server, client

`General`: Write client tests for confirm-dialog (#1094)
  src/test/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.spec.ts
Labels: tests

add import
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
Labels: client

remove import
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
