Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

remove tests, run prettier
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/test/java/de/tum/cit/aet/usermanagement/web/DepartmentResourceTest.java
Labels: server, tests

set school as required
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
Labels: client

use signals in detail view
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
Labels: client

fix codacy
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
Labels: client

`Development`: Add department selection to research group request form (#1376)
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.ts
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/onboarding.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-admin.component.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-professor.component.spec.ts
Labels: client, tests

add read-only section
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

add no school/department if null
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.html
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

resolved error
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
Labels: tests

clean up
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/month-navigation/month-navigation.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/shared/components/atoms/rating/rating.component.ts
  src/main/webapp/app/shared/components/molecules/comment/comment.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

remove custom preset
  src/main/webapp/content/theming/custompreset.ts
Labels: client

`General`: Client tests for add members component (#1323)
  src/test/webapp/app/usermanagement/research-group-template-edit/research-group-template-edit.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.spec.ts
Labels: tests

`General`: Add server tests for user resource (#1333)
  src/main/java/de/tum/cit/aet/core/security/annotations/Authenticated.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/test/java/de/tum/cit/aet/TestSecurityConfiguration.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/UserResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: server, tests, user management

`General`: Add client tests for research group info (#1338)
  src/test/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.spec.ts
  src/test/webapp/util/research-group-resource-api.service.mock.ts
Labels: tests

clean up
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.scss
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.scss
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/content/scss/global.scss
Labels: client

`General`: Adjusted login card styling in job detail view (#1347)
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.scss
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.scss
Labels: client

`General`: Add missing client tests research group members (#1348)
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: server, tests, user management

`General`: Replace hardcoded english toast messages with translation keys in my positions (#1389)
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
Labels: client, tests

`Development`: Add logout warning (#1397)
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/app/core/interceptor/auth.interceptor.ts
  src/main/webapp/i18n/de/auth.json
  src/main/webapp/i18n/en/auth.json
Labels: client

remove unnecessary tests
  src/test/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.spec.ts
Labels: tests

fix client tests
  src/test/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.spec.ts
Labels: tests

`General`: Fix research group info page client tests (#1404)
  src/test/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.spec.ts
Labels: tests

extend test data
  src/main/resources/testdata/02a_schools.sql
  src/main/resources/testdata/02b_departments.sql
Labels: none

sort departments by school
  src/main/resources/testdata/02b_departments.sql
Labels: none

`General`: Extend school and department test data (#1406)
  src/main/resources/testdata/02a_schools.sql
  src/main/resources/testdata/02b_departments.sql
Labels: none

remove redundant tests
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.spec.ts
Labels: tests

`General`: Add missing researchGroupResource tests (#1345)
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
Labels: server, client, tests, user management

remove console error, use button json
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.html
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
Labels: client

apply comment
  docs-github/testing/testing-guide.md
Labels: none

replace with department and image url
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: server, client, job

fix dto
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
Labels: server, application

fix queries
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
Labels: server, application

fix test
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
Labels: tests

`General`: Update Documentation (#1336)
  README.md
  docs-github/deployment/docker.md
  docs-github/general/general-documentation.md
  docs-github/setup/dev-environment.md
  docs-github/testing/testing-guide.md
  docs-github/theming/color-theming.md
Labels: none

fix client tests
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page3.component.spec.ts
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
Labels: tests

keycloak endpoint to search for users
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
Labels: server, user management

change endpoint to use keycloak
  src/main/java/de/tum/cit/aet/usermanagement/dto/KeycloakUserDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
Labels: server, user management

test
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

add dialog
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

remove unnecessary trnasfom
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
Labels: client

adjust colors
  src/main/webapp/app/application/application-state-for-applicants/application-state-for-applicants.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/pages/landing-page/faq-section/faq-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-faq-section/professor-faq-section.component.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
