Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

remove ng class
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
Labels: client

add time Input wrapper
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/shared/components/atoms/time-input/time-input.component.html
  src/main/webapp/app/shared/components/atoms/time-input/time-input.component.ts
Labels: client

add dialog component
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/app/shared/components/atoms/dialog/dialog.component.html
  src/main/webapp/app/shared/components/atoms/dialog/dialog.component.ts
Labels: client

custom dialog wrapper
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
Labels: client

fix style issues
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.html
Labels: client

add segment button component
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/app/shared/components/atoms/segment-button/segment-button.component.html
  src/main/webapp/app/shared/components/atoms/segment-button/segment-button.component.ts
Labels: client

remove duplicate variant attribute from edit button
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
Labels: client

JsonInclude in AddIntervieweesDTO
  src/main/java/de/tum/cit/aet/interview/dto/AddIntervieweesDTO.java
Labels: server

Enum for Inetrviewee State
  src/main/java/de/tum/cit/aet/interview/dto/IntervieweeDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

Enum for Inetrviewee State
  src/main/java/de/tum/cit/aet/interview/dto/IntervieweeState.java
Labels: server

´ extend from tumapplyRepository
  src/main/java/de/tum/cit/aet/interview/repository/IntervieweeRepository.java
Labels: server

nochmal kleine Anpassungen
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationOverviewDTO.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
Labels: server, application

run prettier
  src/main/java/de/tum/cit/aet/interview/dto/AddIntervieweesDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/IntervieweeDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/IntervieweeState.java
  src/main/java/de/tum/cit/aet/interview/repository/IntervieweeRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

adapt requested changes
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.spec.ts
Labels: server, client, tests, user management

`General`: Fix selected options in job- and application creation (#1518)
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.ts
  src/main/webapp/i18n/de/nationalities.json
Labels: client

- changed opt from 4 to 6 code - fixed resizing
  src/main/resources/config/application.yml
  src/main/webapp/app/shared/components/organisms/login/login.scss
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.scss
  src/main/webapp/i18n/de/auth.json
  src/main/webapp/i18n/en/auth.json
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
  src/test/webapp/util/application-config.service.mock.ts
Labels: client, tests, config-change

fix codacy error
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
Labels: client

changed one test
  src/test/webapp/app/core/config/application-config.service.spec.ts
Labels: tests

empty space
  src/main/webapp/app/shared/components/organisms/login/login.scss
Labels: client

`General`: Remove border of sticky bottom when at bottom (#1499)
  src/main/webapp/app/shared/components/molecules/button-group/button-group.component.scss
  src/main/webapp/app/shared/components/molecules/document-dialog/document-dialog.html
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.ts
  src/main/webapp/content/scss/_layout.scss
Labels: client

fix codacy
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
Labels: client

`General`: Set all dialogs to draggable false (#1501)
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/core/auth/auth-dialog.service.ts
  src/main/webapp/app/shared/components/molecules/review-dialog/review-dialog.component.html
  src/main/webapp/app/shared/constants/onboarding-dialog.constants.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
Labels: client

`General`: Update documentation images (#1502)
  docs/docs/applicants/images/applying/application-form-page1.png
  docs/docs/applicants/images/applying/application-form-page2.png
  docs/docs/applicants/images/applying/application-form-page3_1.png
  docs/docs/applicants/images/applying/application-form-page3_2.png
  docs/docs/applicants/images/applying/application-form-page4_1.png
  docs/docs/applicants/images/applying/application-form-page4_2.png
  docs/docs/applicants/images/browse-jobs/job-detail-applicant-1.png
  docs/docs/applicants/images/browse-jobs/job-detail-applicant-2.png
  docs/docs/applicants/images/overview/application-overview.png
  docs/docs/professors/application-review.mdx
  docs/docs/professors/create-job.mdx
  docs/docs/professors/images/application-review/application-overview.png
  docs/docs/professors/images/application-review/application-review-1.png
  docs/docs/professors/images/application-review/application-review-2.png
  docs/docs/professors/images/application-review/application-review-3.png
  docs/docs/professors/images/create-job/job-creation-form-1.png
  docs/docs/professors/images/create-job/job-creation-form-2-1.png
  docs/docs/professors/images/create-job/job-creation-form-2-2.png
  docs/docs/professors/images/create-job/job-creation-form-2_1.png
  docs/docs/professors/images/create-job/job-creation-form-2_2.png
  docs/docs/professors/images/create-job/job-creation-form-3-1.png
  docs/docs/professors/images/create-job/job-creation-form-3-2.png
  docs/docs/professors/images/create-job/job-creation-form-3-3.png
  docs/docs/professors/images/create-job/job-creation-form-3-4.png
  docs/docs/professors/images/create-job/job-creation-form-3.png
  docs/docs/professors/images/create-job/job-creation-form-4_1.png
  docs/docs/professors/images/create-job/job-creation-form-4_2.png
  docs/docs/professors/images/manage-jobs/job-detail-professor-1.png
  docs/docs/professors/images/manage-jobs/job-detail-professor-2.png
  docs/docs/professors/images/manage-jobs/my-positions.png
  docs/docs/professors/images/research-groups/faq-research-group-registration.png
Labels: none

remove helper method
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

changed otp to numeric one
  src/main/java/de/tum/cit/aet/core/security/otp/OtpUtil.java
  src/main/java/de/tum/cit/aet/usermanagement/service/EmailVerificationService.java
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
Labels: server, tests, user management

`Development`: Implement endpoint for adding applicants to interview process (#1428)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/interview/domain/InterviewSlot.java
  src/main/java/de/tum/cit/aet/interview/domain/Interviewee.java
  src/main/java/de/tum/cit/aet/interview/dto/AddIntervieweesDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/IntervieweeDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/IntervieweeState.java
  src/main/java/de/tum/cit/aet/interview/repository/IntervieweeRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/resources/config/liquibase/changelog/00000000000016_create_interviewees.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/interviewResourceApi.service.ts
  src/main/webapp/app/generated/model/addIntervieweesDTO.ts
  src/main/webapp/app/generated/model/intervieweeDTO.ts
  src/main/webapp/app/generated/model/intervieweeUserDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: server, client, tests, database

`Development`: Add slot creation dialog (#1469)
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/atoms/dialog/dialog.component.html
  src/main/webapp/app/shared/components/atoms/dialog/dialog.component.ts
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.html
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.ts
  src/main/webapp/app/shared/components/atoms/segment-button/segment-button.component.html
  src/main/webapp/app/shared/components/atoms/segment-button/segment-button.component.ts
  src/main/webapp/app/shared/components/atoms/time-input/time-input.component.html
  src/main/webapp/app/shared/components/atoms/time-input/time-input.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

`General`: Use tooltip as fallback for button arialabel (#1528)
  src/main/webapp/app/shared/components/atoms/button/button.component.html
Labels: client

`Development`: Add endpoint and service for sending registration confirmation email (#1533)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/StringUtil.java
  src/main/java/de/tum/cit/aet/notification/service/EmailService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/EmailVerificationService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/EmailVerificationResource.java
  src/main/resources/config/application.yml
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/app/core/auth/server-authentication.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/shared/components/molecules/auth-idp-buttons/auth-idp-buttons.ts
  src/main/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.html
  src/main/webapp/app/shared/components/organisms/registration/registration.html
  src/main/webapp/app/shared/components/organisms/registration/registration.ts
  src/main/webapp/i18n/de/auth.json
  src/main/webapp/i18n/en/auth.json
  src/test/webapp/app/shared/components/molecules/auth-idp-buttons/auth-idp-buttons.spec.ts
  tsconfig.json
Labels: server, client, tests, config-change, user management

`Development`: Admin removing research group members (#1498)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.spec.ts
  src/test/webapp/util/research-group-resource-api.service.mock.ts
Labels: server, client, tests, evaluation, user management

`General`: Add missing translation keys for research group creation errors (#1534)
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

`General`: Removed alphanumeric OTP and added numeric OTP (#1548)
  src/main/java/de/tum/cit/aet/core/security/otp/OtpUtil.java
  src/main/java/de/tum/cit/aet/usermanagement/service/EmailVerificationService.java
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
Labels: server, tests, user management

`General`: Adjust login page stylings (#1466)
  src/main/resources/config/application.yml
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
  src/main/webapp/app/core/auth/models/auth.model.ts
  src/main/webapp/app/core/config/application-config.service.ts
  src/main/webapp/app/shared/components/atoms/otp-input/otp-input.scss
  src/main/webapp/app/shared/components/organisms/login/login.scss
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
  src/main/webapp/app/shared/components/organisms/registration/registration.ts
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
  src/main/webapp/content/theming/tumapplypreset.ts
  src/main/webapp/i18n/en/auth.json
  src/test/webapp/app/core/config/application-config.service.spec.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.spec.ts
Labels: client, tests, config-change

`General`: Allow editing of published jobs (#1542)
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.html
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.scss
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

`General`: Adjust header padding (#1538)
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
Labels: client

`General`: Add toggle mode to header and move theme selection to settings (#1537)
  eslint.config.mjs
  src/main/webapp/app/service/theme.service.ts
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/app/shared/settings/settings.component.html
  src/main/webapp/app/shared/settings/settings.component.scss
  src/main/webapp/app/shared/settings/settings.component.ts
  src/main/webapp/content/theming/aquabloom.ts
  src/main/webapp/content/theming/custompreset.ts
  src/main/webapp/content/theming/shared-theme-config.ts
  src/main/webapp/content/theming/tumapplypreset.ts
  src/main/webapp/i18n/de/header.json
  src/main/webapp/i18n/de/settings.json
  src/main/webapp/i18n/en/header.json
  src/main/webapp/i18n/en/settings.json
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
  src/test/webapp/app/shared/settings/settings.component.spec.ts
  src/test/webapp/util/theme.service.mock.ts
Labels: client, tests

fix slot deletion
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix slot deletion
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

add fallback images
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.ts
Labels: client

add fallback image
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.ts
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
