Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

fix tests
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
  src/test/java/de/tum/cit/aet/utility/DatabaseCleaner.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/ImageTestData.java
Labels: tests

change auth
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
Labels: server

fix codacy errors
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
Labels: tests

fix tests
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: server, tests

add logging
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

run prettier
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

fix codacy
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

Hab Tests bisschen gekürzt
  src/test/webapp/app/core/auth/keycloak-authentication.service.spec.ts
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/core/util/data-util.service.spec.ts
  src/test/webapp/app/core/util/grade-conversion.spec.ts
  src/test/webapp/app/core/util/grade-format.validator.spec.ts
  src/test/webapp/app/core/util/parse-links.service.spec.ts
  src/test/webapp/app/shared/alert/alert-error.component.spec.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.spec.ts
Labels: tests

shorten translation config test
  src/test/webapp/app/config/translation.config.spec.ts
Labels: tests

run prettier
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/core/util/data-util.service.spec.ts
Labels: tests

`Development`: Implement slot creation endpoint (#1257)
  docs-github/TUMApply API/Interview/Create Slots.bru
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/constants/ErrorCode.java
  src/main/java/de/tum/cit/aet/core/exception/TimeConflictException.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/interview/dto/CreateSlotsDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewSlotDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/interviewResourceApi.service.ts
  src/main/webapp/app/generated/model/createSlotsDTO.ts
  src/main/webapp/app/generated/model/interviewSlotDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/slotInput.ts
  src/test/java/de/tum/cit/aet/utility/DatabaseCleaner.java
Labels: server, client, tests

fix error
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

`Development`: Implement Endpoint to get InterviewProcess by ProcessID (#1319)
  docs-github/TUMApply API/Interview/Get specific InterviewProcess.bru
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/webapp/app/generated/api/interviewResourceApi.service.ts
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: server, client, tests

Change log level from debug to info for slot retrieval
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

fix tests
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

`Development`: Implement slots overview endpoint (#1300)
  docs-github/TUMApply API/Interview/InterviewSlots/Get Slots.bru
  docs-github/TUMApply API/Interview/InterviewSlots/folder.bru
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/resources/testdata/11_interview_slots.sql
  src/main/webapp/app/generated/api/interviewResourceApi.service.ts
Labels: server, client

Remove unnecessary comment in getSlotsByProcessIdAsProfessorReturnsSlots test
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

`Development`: Add server tests for InterviewResource (#1327)
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

add processID
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix testdata
  src/main/resources/testdata/02_research_groups.sql
Labels: none

fix new test
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

update tumapply logo
  package-lock.json
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/content/images/tum-apply-logo/tum-apply-logo.svg
Labels: client

update tumapply logo in tab aswell
  src/main/webapp/index.html
Labels: client

`General`: Update tumapply logo (#1328)
  package-lock.json
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/content/images/tum-apply-logo/tum-apply-logo.svg
  src/main/webapp/index.html
Labels: client

moved button styles to newly defined prime-ng-overrides.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
Labels: client

fix colors
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/month-navigation/month-navigation.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
Labels: client

fix job name display
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

adjust keys
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/i18n/de/interview.json
Labels: client

run prettier
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/month-navigation/month-navigation.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/month-navigation/month-navigation.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
Labels: server, client

delete SlotConflictDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/SlotConflictDTO.java
Labels: server

fix tabtile
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

fix clientstyle
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
Labels: client

using RequiredArgsConstructor for Service and Resource
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
Labels: server

adjust explanation styling to label colors
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.html
Labels: client

change @Authenticated
  src/main/java/de/tum/cit/aet/core/security/annotations/Authenticated.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: server, tests

authenticated
  src/main/java/de/tum/cit/aet/core/security/annotations/Authenticated.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: server, tests, user management

add lighthouse scan workflow
  .github/workflows/lighhouse-scan.yml
  .lighthousec.json
Labels: none

add method for get with not content
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: server, tests, user management

add more mock services
  src/test/java/de/tum/cit/aet/TestSecurityConfiguration.java
Labels: tests

add resource tests
  src/test/java/de/tum/cit/aet/TestSecurityConfiguration.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/UserResourceTest.java
Labels: tests
