Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

fix test
  src/test/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.spec.ts
Labels: tests

adjust add button
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
Labels: client

add assignSLotRequestDTO
  src/main/java/de/tum/cit/aet/interview/dto/AssignSlotRequestDTO.java
Labels: server

add ASsignedIntervieweeDTO
  src/main/java/de/tum/cit/aet/interview/dto/AssignedIntervieweeDTO.java
Labels: server

adjust InterviewSlotDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/AssignSlotRequestDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/AssignedIntervieweeDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewSlotDTO.java
Labels: server

IntervieweeRepository
  src/main/java/de/tum/cit/aet/interview/repository/IntervieweeRepository.java
Labels: server

add assignSlotToInterviewee
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

add endpoint
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

add tests
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

remove and add import
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

add assign-applicant-modal
  src/main/webapp/app/interview/interview-process-detail/slots-section/assign-applicant-modal/assign-applicant-modal.component.ts
Labels: client

implement assign applicant to slot modal
  src/main/webapp/app/interview/interview-process-detail/slots-section/assign-applicant-modal/assign-applicant-modal.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

html file
  src/main/webapp/app/interview/interview-process-detail/slots-section/assign-applicant-modal/assign-applicant-modal.component.html
Labels: client

fix table
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

fix modal
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.html
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

Fix Modal and fix process card statistics
  src/main/java/de/tum/cit/aet/interview/repository/IntervieweeRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/webapp/app/interview/interview-process-detail/slots-section/assign-applicant-modal/assign-applicant-modal.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/assign-applicant-modal/assign-applicant-modal.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: server, client

adjust method order
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.ts
Labels: client

fix applicant name display
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

`Development`: Implement dialog to add interviewees to interview process (#1522)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: server, client, database

fix keys
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

fix statechange
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/assign-applicant-modal/assign-applicant-modal.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
Labels: client

update interviewee card for scheduled
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.ts
Labels: client

dialog with card
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/assign-applicant-modal/assign-applicant-modal.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/assign-applicant-modal/assign-applicant-modal.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

Refactor interviewee section filter tabs into a reusable component
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.ts
  src/main/webapp/app/shared/components/atoms/filter-tabs/filter-tabs.component.html
  src/main/webapp/app/shared/components/atoms/filter-tabs/filter-tabs.component.ts
Labels: client

remove host
  src/main/webapp/app/shared/components/atoms/filter-tabs/filter-tabs.component.html
  src/main/webapp/app/shared/components/atoms/filter-tabs/filter-tabs.component.ts
Labels: client

fix clientstyle
  src/main/webapp/app/shared/components/atoms/filter-tabs/filter-tabs.component.html
  src/main/webapp/app/shared/components/atoms/filter-tabs/filter-tabs.component.ts
Labels: client

dialog with table + lint
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/assign-applicant-modal/assign-applicant-modal.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/assign-applicant-modal/assign-applicant-modal.component.ts
  src/main/webapp/i18n/de/interview.json
Labels: client

add ai config
  build.gradle
  src/main/java/de/tum/cit/aet/ai/service/AiService.java
  src/main/java/de/tum/cit/aet/ai/web/AiResource.java
  src/main/java/de/tum/cit/aet/core/config/SpringAIConfiguration.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-test.yml
Labels: server, config-change

add docu for setup
  docs-github/setup/dev-environment.md
  docs-github/setup/spring-ai.md
Labels: none

client style and docu adjustment
  docs-github/setup/spring-ai.md
  src/main/resources/config/application-prod.yml
  src/main/resources/config/application-test.yml
Labels: config-change

`Development`: Add ai config (#1605)
  build.gradle
  docs-github/setup/dev-environment.md
  docs-github/setup/spring-ai.md
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/ai/service/AiService.java
  src/main/java/de/tum/cit/aet/ai/web/AiResource.java
  src/main/java/de/tum/cit/aet/core/config/SpringAIConfiguration.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-test.yml
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/aiResourceApi.service.ts
  src/main/webapp/app/generated/api/api.ts
Labels: server, client, config-change

Refactor comments for clarity in InterviewResource
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

Update comments
  src/main/java/de/tum/cit/aet/interview/dto/InterviewSlotDTO.java
Labels: server

add location to interviewee card
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.ts
Labels: client

add location to interviewee card
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.ts
Labels: client

client style and url adjustments
  .github/workflows/lighhouse-scan.yml
  .lighthouserc.json
Labels: none

adjust start client to support routing
  .github/workflows/lighhouse-scan.yml
Labels: none

adjust assertion scores
  .lighthouserc.json
Labels: none
