Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

remove client file
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
Labels: client

remove ring effect input bar
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.html
Labels: client

`General`: Add Keycloak documentation (#1150)
  docs-github/auth/authentication-flow.md
  docs-github/auth/keycloak-setup.md
  docs-github/auth/keycloak/development/setup.md
  docs-github/auth/keycloak/keycloak-impersonation.md
  docs-github/auth/keycloak/keycloak-overview.md
  docs-github/auth/keycloak/keycloak-realm-and-clients.md
  docs-github/auth/keycloak/pictures/Permission 1.png
  docs-github/auth/keycloak/pictures/Permission 2.png
  docs-github/auth/keycloak/pictures/Permission 3.png
  docs-github/auth/keycloak/pictures/Policy.png
  docs-github/auth/keycloak/pictures/Resource 1.png
  docs-github/auth/keycloak/pictures/Resource 2.png
  docs-github/auth/keycloak/production/setup.md
  src/main/docker/keycloak.yml
Labels: none

assign static id if some was missing
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.html
Labels: client

implement requested changes
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: tests

`Usability`: Improve landing pages responsiveness (#1156)
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.ts
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.html
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/information-section/information-card/information-card/information-card.component.html
  src/main/webapp/app/shared/pages/landing-page/information-section/information-card/information-card/information-card.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/workflow-step/workflow-step.component.html
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/information-section/information-card/information-card.component.spec.ts
Labels: client, tests

fix scss for static code analysis
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.scss
Labels: client

fix logout
  gradle.properties
  src/main/webapp/app/core/auth/auth-facade.service.ts
Labels: client

`General`: Tests for application creation page2 client (#1006)
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
  src/test/webapp/util/http-client.mock.ts
Labels: client, tests

`General`: Document viewer client tests (#1171)
  src/test/webapp/app/shared/components/atoms/document-viewer/document-viewer.component.spec.ts
Labels: tests

`Usability`: Add sticky bottom to creation forms (#1179)
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

`General`: Remove ring effect input bar (#1187)
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.html
Labels: client

`General`: Tests for application creation page 3 (#1009)
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page3.component.spec.ts
Labels: client, tests

`General`: Higher client coverage for base input directive (#1142)
  src/test/webapp/app/shared/components/atoms/string-input/string-input.component.spec.ts
Labels: tests

fix still using <br> for line breaks, but no longer using innerHTML
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
Labels: client

Adjusted english instruction
  src/main/webapp/i18n/en/onboarding.json
Labels: client

implement requested changes
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

implement suggested changes
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.html
Labels: client

first version of extended mocking
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
  src/test/webapp/app/evaluation/components/comment-section/comment-section.spec.ts
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
  src/test/webapp/app/shared/settings/settings.component.spec.ts
  src/test/webapp/app/usermanagement/research-group-template-edit/research-group-template-edit.spec.ts
  src/test/webapp/util/account.service.mock.ts
  src/test/webapp/util/activated-rout.mock.ts
  src/test/webapp/util/activated-route.mock.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
  src/test/webapp/util/auth-facade.service.mock.ts
  src/test/webapp/util/auth-orchestrator.service.mock.ts
  src/test/webapp/util/job-resource-api.service.mock.ts
  src/test/webapp/util/local-storage.service.mock.ts
  src/test/webapp/util/location.mock.ts
  src/test/webapp/util/router.mock.ts
  src/test/webapp/util/translate.mock.ts
Labels: tests

adjusted accountservice
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
  src/test/webapp/app/evaluation/components/comment-section/comment-section.spec.ts
  src/test/webapp/util/account.service.mock.ts
Labels: tests

create interview process for published job
  src/main/java/de/tum/cit/aet/interview/dto/CreateInterviewProcessDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/testdata/10_interview_processes.sql
Labels: server, job

adjust activated route mock
  src/test/webapp/util/activated-route.mock.ts
Labels: tests

better application resource service mock
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
Labels: tests

adjust testdata and fix creating process
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/testdata/10_interview_processes.sql
Labels: server, job

fix clientstyle
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix: implement feedback
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/test/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.spec.ts
  src/test/webapp/util/router.mock.ts
Labels: client, tests

fix error
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

add javadoc
  src/main/java/de/tum/cit/aet/job/service/JobService.java
Labels: server, job

create process automatically when job published
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewProcessDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewStatisticsDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/testdata/10_interview_processes.sql
Labels: server, application, job

remove unsued imports and methods
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
Labels: server, application, job

revert openapi because of bug
  build.gradle
Labels: none

fix: Document Test Data update
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/DocumentTestData.java
Labels: tests

reduce duplication
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: tests

update openapi spec
  openapi/openapi.yaml
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
Labels: client

Revert "chore: update OpenAPI spec and generated client"
  openapi/openapi.yaml
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
Labels: client

fix: refactor
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
Labels: tests

fix compile error
  src/main/java/de/tum/cit/aet/core/service/DocumentService.java
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
Labels: server, client

remove logger
  src/main/java/de/tum/cit/aet/core/service/DocumentService.java
Labels: server

`General`: Tests for application creation form (#1020)
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
  src/test/webapp/app/evaluation/components/comment-section/comment-section.spec.ts
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
  src/test/webapp/app/shared/settings/settings.component.spec.ts
  src/test/webapp/app/usermanagement/research-group-template-edit/research-group-template-edit.spec.ts
  src/test/webapp/util/account.service.mock.ts
  src/test/webapp/util/activated-rout.mock.ts
  src/test/webapp/util/activated-route.mock.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
  src/test/webapp/util/auth-facade.service.mock.ts
  src/test/webapp/util/auth-orchestrator.service.mock.ts
  src/test/webapp/util/job-resource-api.service.mock.ts
  src/test/webapp/util/local-storage.service.mock.ts
  src/test/webapp/util/location.mock.ts
  src/test/webapp/util/router.mock.ts
  src/test/webapp/util/translate.mock.ts
Labels: client, tests

fix prettier
  src/main/java/de/tum/cit/aet/core/service/DocumentService.java
Labels: server
