Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

adjust lighthouse scan
  .github/workflows/lighhouse-scan.yml
Labels: none

adjust npm versuib ub lighthouse scan
  .github/workflows/lighhouse-scan.yml
Labels: none

fix tests
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/UserResourceTest.java
Labels: tests

adjust npm versuib ub lighthouse scan
  .github/workflows/lighhouse-scan.yml
Labels: none

adjust lighthouse scan
  .github/workflows/lighhouse-scan.yml
Labels: none

adjust lighthouse scan
  .github/workflows/lighhouse-scan.yml
Labels: none

adjust lighthouse scan
  .github/workflows/lighhouse-scan.yml
  .lighthousec.json
Labels: none

detect used language in the editor using franc
  package-lock.json
  package.json
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

prettier
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/UserResourceTest.java
Labels: tests

adjust lighthouse scan
  .lighthouserc.json
Labels: none

try to fix codacy generic objection injection sink
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
Labels: client

try to fix generic with whitelist approach
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

use whitelist for all methods
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
Labels: client

fix bug that labels don't change language
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

try to resolve any error by replacing it with deu eng und
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

sanitize html in analyzeEffect
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

remove sanitation again
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

add client tests to gender-bias-analysis-service
  src/test/webapp/app/service/gender-bias-analysis-service.spec.ts
Labels: tests

remove unused import
  src/test/webapp/app/service/gender-bias-analysis-service.spec.ts
Labels: tests

create client ests for gender-bias-analysis-dialog
  src/test/webapp/app/shared/gender-bias-analysis-dialog.spec.ts
Labels: tests

put existing tests in describe blocs for a better overview
  src/test/webapp/app/shared/components/atoms/editor/editor.component.spec.ts
Labels: tests

create mock for gender-bias-analysis service
  src/test/webapp/util/gender-bias-analysis.service.mock.ts
Labels: tests

extend editor component tests with gender decoder tests
  src/test/webapp/app/shared/components/atoms/editor/editor.component.spec.ts
Labels: tests

adjust colors
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/content/images/tum-apply-logo/tum-apply-logo.svg
  src/main/webapp/content/scss/_primitives.scss
  src/main/webapp/content/scss/_tokens.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

add log.info to api calls
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
Labels: server

remove research group image limit
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
Labels: client, tests

`General`: Added a close button to login window (#1240)
  package-lock.json
  src/main/webapp/app/shared/components/organisms/login/login.html
  src/main/webapp/app/shared/components/organisms/login/login.scss
  src/main/webapp/app/shared/components/organisms/login/login.ts
  src/main/webapp/app/shared/components/organisms/registration/registration.html
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.html
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.scss
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.ts
  src/main/webapp/content/scss/prime-ng-overrides.scss
Labels: client

insrease coverage, use nested
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
Labels: tests

run lint
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
Labels: tests

move common setup to beforeEach
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
Labels: tests

update dev-environment.md
  docs-github/setup/dev-environment.md
Labels: none

update color-theming.md
  docs-github/theming/color-theming.md
Labels: none

update general-documentation.md
  docs-github/general/general-documentation.md
Labels: none

update general-documentation.md and testing-guide.md
  docs-github/general/general-documentation.md
  docs-github/testing/testing-guide.md
Labels: none

update docker.md
  docs-github/deployment/docker.md
Labels: none

update README.md
  README.md
  docs-github/deployment/docker.md
  docs-github/setup/dev-environment.md
Labels: none

fix syntax error
  docs-github/general/general-documentation.md
  docs-github/setup/dev-environment.md
  docs-github/theming/color-theming.md
Labels: none

add important docu to README.md
  README.md
Labels: none

`Development`: Add image service (#1310)
  openapi/openapi.yaml
  proxy.conf.mjs
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/core/config/ImageStaticResourceConfiguration.java
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/constants/ImageType.java
  src/main/java/de/tum/cit/aet/core/domain/Image.java
  src/main/java/de/tum/cit/aet/core/dto/ImageDTO.java
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobImageHelper.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/config/application.yml
  src/main/resources/config/liquibase/changelog/00000000000014_create_images_table_and_add_to_jobs.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/04_jobs.sql
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/imageResourceApi.service.ts
  src/main/webapp/app/generated/model/image.ts
  src/main/webapp/app/generated/model/imageDTO.ts
  src/main/webapp/app/generated/model/job.ts
  src/main/webapp/app/generated/model/jobCardDTO.ts
  src/main/webapp/app/generated/model/jobDTO.ts
  src/main/webapp/app/generated/model/jobFormDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/resources/config/application.yml
Labels: server, client, tests, database, config-change, application, job

remove blank lines
  docs-github/general/general-documentation.md
Labels: none
