Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

update image and layout
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: client

adjust tests
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/app/job/job-overview/job-card/job-card.component.spec.ts
Labels: tests

remove unused import
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: client

adjust imports
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: client

update landing page layout
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.html
Labels: client

Added braces to arrow function
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.ts
Labels: client

`General`: Client tests for application overview for applicants (#1166)
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
  src/test/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
  src/test/webapp/util/fontawesome.testing.ts
Labels: client, tests

change icon
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
Labels: client

remove unnecessary utility
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
Labels: client

`General`: Fix Angular reactive form warning (#1224)
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.html
Labels: client

`General`: Change cursor on hover for application step buttons (#1220)
  package-lock.json
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

add meta data to the end of the last page
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/pdf.json
Labels: server, client

make overviewItems always to a table
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

make group title a little bit smaller
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

add InterviewSlot entity
  src/main/java/de/tum/cit/aet/interview/domain/InterviewSlot.java
Labels: server

add InterviewSlotRepository
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
Labels: server

Use proper software engineering terms
  .yo-rc.json
  docs-github/application/application-module-documentation.md
  docs-github/general/general-documentation.md
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/entities/admin/authority/list/authority.component.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: client, tests

delete unneccessary blog folder from docs
  docs/blog/2019-05-28-first-blog-post.md
  docs/blog/2019-05-29-long-blog-post.md
  docs/blog/2021-08-01-mdx-blog-post.mdx
  docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  docs/blog/2021-08-26-welcome/index.md
  docs/blog/authors.yml
  docs/blog/tags.yml
Labels: none

add liquibase file
  src/main/java/de/tum/cit/aet/interview/domain/InterviewSlot.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/resources/config/liquibase/changelog/00000000000013_create_interview_slot_table.xml
  src/main/resources/config/liquibase/master.xml
Labels: server, database

add java doc
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
Labels: server

add more job information to application pdf
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/webapp/app/application/pdf-labels.ts
Labels: server, client

Changed html button-group to button-component and fixed ikon color noticeability
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.html
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.scss
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.ts
Labels: client

robots.txt adjusted
  angular.json
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/webapp/robots.txt
  src/main/webapp/sitemap.xml
Labels: server, client

update index.html and google search console verification
  angular.json
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/webapp/googledd0b8a13f86d0918.html
  src/main/webapp/index.html
Labels: server, client

prettier
  angular.json
Labels: none

`General`: Remove grading limit fields at first (#1184)
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: server, client, tests

abinaya feedback
  src/main/webapp/index.html
Labels: client

`General`: Improve seo for tumapply (#1243)
  angular.json
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/webapp/googledd0b8a13f86d0918.html
  src/main/webapp/index.html
  src/main/webapp/robots.txt
  src/main/webapp/sitemap.xml
Labels: server, client

add disabled tooltip
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.html
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.ts
  src/main/webapp/i18n/en/job.json
Labels: client

add tooltip
  src/main/webapp/i18n/de/job.json
Labels: client

add default value to datepicker
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
Labels: client

adjust liquibase
  src/main/resources/config/liquibase/changelog/00000000000013_create_interview_slot_table.xml
Labels: none

adjust table name
  src/main/java/de/tum/cit/aet/interview/domain/InterviewSlot.java
  src/main/resources/config/liquibase/changelog/00000000000013_create_interview_slot_table.xml
Labels: server

`General`: Allow setting initial datepicker view (#1246)
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
Labels: client

add z index to cover headers
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

add z-index to cover datepicker
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

`Development`: Research group detail view for admins (#1155)
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/shared/components/atoms/description-list/description-list.html
  src/main/webapp/app/shared/components/atoms/description-list/description-list.ts
  src/main/webapp/app/shared/components/atoms/link-list/link-list.html
  src/main/webapp/app/shared/components/atoms/link-list/link-list.ts
  src/main/webapp/app/shared/components/atoms/prose/prose.html
  src/main/webapp/app/shared/components/atoms/prose/prose.ts
  src/main/webapp/app/shared/components/atoms/section/section.html
  src/main/webapp/app/shared/components/atoms/section/section.ts
  src/main/webapp/app/shared/components/atoms/sub-section/sub-section.html
  src/main/webapp/app/shared/components/atoms/sub-section/sub-section.ts
  src/main/webapp/app/shared/components/molecules/comment-section/comment-section.html
  src/main/webapp/app/shared/components/molecules/comment-section/comment-section.ts
  src/main/webapp/app/shared/components/molecules/document-dialog/document-dialog.html
  src/main/webapp/app/shared/components/molecules/document-dialog/document-dialog.ts
  src/main/webapp/app/shared/components/molecules/rating-section/rating-section.html
  src/main/webapp/app/shared/components/molecules/rating-section/rating-section.ts
  src/main/webapp/app/shared/components/organisms/document-section/document-section.html
  src/main/webapp/app/shared/components/organisms/document-section/document-section.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/button.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/evaluation/components/comment-section/comment-section.spec.ts
  src/test/webapp/app/evaluation/components/document-dialog/document-dialog.spec.ts
  src/test/webapp/app/evaluation/components/document-section/document-section.spec.ts
  src/test/webapp/app/evaluation/components/prose/prose.spec.ts
  src/test/webapp/app/evaluation/components/rating-section/rating-section.spec.ts
Labels: client, tests

add more assertions
  package-lock.json
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: tests

fix select
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

reduce padding
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client
