Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

remove unused evaluation.service.ts
  src/main/webapp/app/evaluation/service/evaluation.service.ts
Labels: client

make grade format validator consistent
  src/main/webapp/app/core/util/grade-format.validator.ts
Labels: client

change optional information colour from blue to grey
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.html
Labels: client

remove evaluation.service.ts imports
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
Labels: client

remove isLetter method from grade format validator
  src/main/webapp/app/core/util/grade-format.validator.ts
Labels: client

fix evaluation.service.ts imports
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
Labels: client

implement grade-conversion util
  src/main/webapp/app/core/util/grade-conversion.ts
Labels: client

`General`: Remove extra styling of optional section in professor onboarding form (#1028)
  package-lock.json
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.scss
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.ts
Labels: client

feat: add information text to onboarding form
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.ts
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

add client tests for application-carousel.component.ts
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
  src/test/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.spec.ts
Labels: client, tests

implement changes
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

set research group for userresearchgrouprole
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

remove redundant line
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

`General`: Professor onboarding server changes (#1037)
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

`General`: Add information text in professor onboarding about delayed response (#1036)
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.ts
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

`General`: Add check prerequisites step to application steps (#1029)
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.ts
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.ts
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

add global styling for links in tooltips
  src/main/webapp/content/scss/global.scss
Labels: client

add optional tooltip functionality to labels in description lists
  src/main/webapp/app/evaluation/components/description-list/description-list.html
  src/main/webapp/app/evaluation/components/description-list/description-list.ts
Labels: client

v2
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

add converted grades to application-detail page
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/en/evaluation.json
Labels: client

fix: cleanup
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
Labels: server, application

fix: applicationrepo
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
Labels: server, application

fix naming of files
  src/main/resources/config/liquibase/changelog/00000000000011_alter_application_add_applied_date.xml
  src/main/resources/config/liquibase/master.xml
Labels: database

fix remove unused imports
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: tests

set input in application steps tests and adjust title to it
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.spec.ts
Labels: tests

`General`: Fix application steps client tests (#1042)
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.spec.ts
Labels: tests

add first draft for englisch version
  src/main/webapp/i18n/en/landingPage.json
Labels: client

feat: request access form for employees sending email to support email
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/dto/EmployeeResearchGroupRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/api/authenticationResourceApi.service.ts
  src/main/webapp/app/generated/api/documentResourceApi.service.ts
  src/main/webapp/app/generated/api/emailSettingResourceApi.service.ts
  src/main/webapp/app/generated/api/emailTemplateResourceApi.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/generated/api/internalCommentResourceApi.service.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
  src/main/webapp/app/generated/api/publicConfigResourceApi.service.ts
  src/main/webapp/app/generated/api/ratingResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/pageableObject.ts
  src/main/webapp/app/generated/model/sortObject.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form/professor-request-access-form.component.ts
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: server, client, user management

allow grade to have +/* if it's the same as upper limit and upper limit has +/*
  src/main/webapp/app/core/util/grade-conversion.ts
  src/main/webapp/app/core/util/grade-format.validator.ts
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

use floor instead of rounded to calculate german grade
  src/main/webapp/app/core/util/grade-conversion.ts
Labels: client

update wording on landing page
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.html
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

refact: replace old authorization annotation with the new one
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
Labels: server, user management

fix: add support email
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

fix: add correct suppport mail
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

fix: add correct suppport mail
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

add-link-to-gs-requirements and clean up css class
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.ts
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.html
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

fix comments
  src/main/webapp/app/core/util/grade-conversion.ts
  src/main/webapp/app/core/util/grade-format.validator.ts
Labels: client

adapt html format
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.html
Labels: client

fix error when grade with . was not compared correctly with converted grade with ,
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
Labels: client

test prev
  .github/workflows/auto-generate-openapi.yml
  gradle/openapi.gradle
  gradle/scripts/openapi-post-processing.ts
  openapi/openapi.yaml
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/api/authenticationResourceApi.service.ts
  src/main/webapp/app/generated/api/documentResourceApi.service.ts
  src/main/webapp/app/generated/api/emailSettingResourceApi.service.ts
  src/main/webapp/app/generated/api/emailTemplateResourceApi.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/generated/api/internalCommentResourceApi.service.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
  src/main/webapp/app/generated/api/publicConfigResourceApi.service.ts
  src/main/webapp/app/generated/api/ratingResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
Labels: client
