Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

adjust
  src/main/webapp/content/theming/custompreset.ts
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

removed ! in interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
Labels: client

revert color
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

`Development`: Add members to research group functionality (#1312)
  openapi/openapi.yaml
  package-lock.json
  src/main/java/de/tum/cit/aet/usermanagement/dto/AddMembersToResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/UserService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/generated/model/addMembersToResearchGroupDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/de/sidebar.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: server, client, tests, user management

add color
  src/main/webapp/content/theming/custompreset.ts
Labels: client

apply comments
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
Labels: client

implemented resource tests
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: server, tests, user management

`Usability`: Add job pdf export (#1316)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/dto/JobOverviewData.java
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
  src/main/java/de/tum/cit/aet/job/dto/JobPreviewRequest.java
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/pdfExportResourceApi.service.ts
  src/main/webapp/app/generated/model/jobPreviewRequest.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/shared/language/pdf-labels.ts
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/button.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/pdf.json
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
Labels: server, client, tests, job

`Development`: Implement interview slots calendar view (#1331)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/resources/testdata/11_interview_slots.sql
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/generated/model/interviewOverviewDTO.ts
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/month-navigation/month-navigation.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/month-navigation/month-navigation.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/content/theming/tumapplypreset.ts
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/button.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/interview.json
Labels: server, client

`General`: Fix padding between results count, search bar, and job cards (#1177)
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.scss
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.html
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.html
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.scss
  src/main/webapp/content/scss/_header.scss
Labels: client

use mocks
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
  src/test/webapp/util/activated-route.mock.ts
  src/test/webapp/util/job-resource-api.service.mock.ts
Labels: tests

fix conflict
  src/main/resources/config/liquibase/changelog/00000000000015_add_research_group_department.xml
Labels: none

Kommentare bearbeitet
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
  src/test/webapp/app/config/translation.config.spec.ts
  src/test/webapp/app/core/auth/account.service.spec.ts
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
  src/test/webapp/app/core/auth/auth-orchestrator.service.spec.ts
  src/test/webapp/app/core/auth/keycloak-authentication.service.spec.ts
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/core/config/application-config.service.spec.ts
  src/test/webapp/app/core/util/alert.service.spec.ts
  src/test/webapp/app/core/util/data-util.service.spec.ts
  src/test/webapp/app/core/util/grade-conversion.spec.ts
  src/test/webapp/app/core/util/grade-format.validator.spec.ts
  src/test/webapp/app/core/util/parse-links.service.spec.ts
  src/test/webapp/app/service/localStorage.service.spec.ts
  src/test/webapp/app/shared/alert/alert-error.component.spec.ts
  src/test/webapp/app/shared/alert/alert.component.spec.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.spec.ts
  src/test/webapp/app/shared/pipes/time-ago.pipe.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
  src/test/webapp/util/pdf-export-resource-api.service.mock.ts
  vite.config.ts
Labels: tests

Made login card position relative Aligned job detail view login-card width with homepage login card
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.scss
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.scss
Labels: client

build error gefixt
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
Labels: tests

run prettier
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
Labels: tests

remove any, add json
  src/main/java/de/tum/cit/aet/usermanagement/dto/EnumDisplayDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-admin.component.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-professor.component.spec.ts
Labels: server, tests, user management

use endpoints correctly, rename gender-bias service and move into own folder in shared
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.html
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.scss
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis.ts
Labels: client

use provider from mock classes
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
Labels: tests

resource tests
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

fix server tests
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
Labels: tests

remove tests
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: tests

remove subscription
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: client

prettier
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
Labels: tests

use computed intead of getters
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.html
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
Labels: client

clear mock added
  src/test/webapp/app/core/util/data-util.service.spec.ts
Labels: tests

add missing client tests
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

fix tests
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

`Development`: Add image upload to job creation form (#1311)
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.scss
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/button.json
  src/main/webapp/i18n/en/job.json
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
  src/test/webapp/util/activated-route.mock.ts
  src/test/webapp/util/job-resource-api.service.mock.ts
Labels: client, tests

`Usability`: Add gender decoder to client (#1322)
  package-lock.json
  package.json
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/shared/components/atoms/editor/editor.component.html
  src/main/webapp/app/shared/components/atoms/editor/editor.component.scss
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.html
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.scss
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis.ts
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
  src/test/webapp/app/application/application-creation-form/application-creation-page3.component.spec.ts
  src/test/webapp/app/shared/components/atoms/editor/editor.component.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-admin.component.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-professor.component.spec.ts
Labels: client, tests

fix error in email sending
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

resolved comments
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/shared/alert/alert.component.spec.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.spec.ts
  src/test/webapp/app/shared/pipes/time-ago.pipe.spec.ts
  src/test/webapp/app/shared/util/text.util.spec.ts
  src/test/webapp/app/shared/util/util.spec.ts
  src/test/webapp/util/account.service.mock.ts
  src/test/webapp/util/alert.service.mock.ts
  src/test/webapp/util/auth-orchestrator.service.mock.ts
  src/test/webapp/util/authentication-resource-api.service.mock.ts
  src/test/webapp/util/event-manager.mock.ts
Labels: tests

adjust colors
  src/main/webapp/app/shared/pages/landing-page/faq-section/faq-section.component.scss
  src/main/webapp/content/theming/custompreset.ts
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

- Created a new branch where I removed preferredLanguages from the client and server - selectedLanguages property remains in place for another thesis
  openapi/openapi.yaml
  package-lock.json
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/UserForApplicationDetailDTO.java
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/generated/model/userForApplicationDetailDTO.ts
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.html
Labels: server, client, user management

Hab noch mehr mock klassen erstellt in util und code verbessert
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
  src/test/webapp/app/core/auth/account.service.spec.ts
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
  src/test/webapp/app/core/auth/auth-orchestrator.service.spec.ts
  src/test/webapp/app/core/auth/keycloak-authentication.service.spec.ts
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/core/util/data-util.service.spec.ts
  src/test/webapp/app/evaluation/application-detail/application-detail.component.spec.ts
  src/test/webapp/app/shared/alert/alert-error.component.spec.ts
  src/test/webapp/app/shared/alert/alert.component.spec.ts
  src/test/webapp/util/alert.service.mock.ts
  src/test/webapp/util/application-config.service.mock.ts
  src/test/webapp/util/event-manager.mock.ts
  src/test/webapp/util/keycloak.mock.ts
  src/test/webapp/util/user-resource-api.service.mock.ts
  test-output.txt
Labels: tests

Delete test-output.txt
  test-output.txt
Labels: none

hab nochmal die mock klassen überarbeitet
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
  src/test/webapp/app/core/auth/account.service.spec.ts
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/core/util/data-util.service.spec.ts
  src/test/webapp/app/core/util/parse-links.service.spec.ts
  src/test/webapp/app/evaluation/application-detail/application-detail.component.spec.ts
  src/test/webapp/app/shared/alert/alert-error.component.spec.ts
  src/test/webapp/util/account.service.mock.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
  src/test/webapp/util/authentication-resource-api.service.mock.ts
  src/test/webapp/util/event-manager.mock.ts
Labels: tests

fix error in test class
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
  src/test/webapp/util/application-resource-api.service.mock.ts
Labels: tests

adjusted tests files for application creation page 1
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: tests

hab nochmal ClearAllMocks in ein afterEach gepackt und as Any entfernt
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
  src/test/webapp/app/config/translation.config.spec.ts
  src/test/webapp/app/core/auth/account.service.spec.ts
  src/test/webapp/util/authentication-resource-api.service.mock.ts
  src/test/webapp/util/user-resource-api.service.mock.ts
Labels: tests
