Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change

feat: Create initial "Applicant", "Job", "ResearchGroup", and "User" database entities
  src/main/java/de/tum/cit/aet/core/constants/State.java
  src/main/java/de/tum/cit/aet/core/domain/Applicant.java
  src/main/java/de/tum/cit/aet/core/domain/Job.java
  src/main/java/de/tum/cit/aet/core/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/core/domain/User.java
Labels: server

feat: Add Enumerations for the State and UserGroups
  src/main/java/de/tum/cit/aet/core/constants/State.java
  src/main/java/de/tum/cit/aet/core/constants/UserGroup.java
Labels: server

feat: Adjust Job and User Entities
  src/main/java/de/tum/cit/aet/core/domain/Job.java
  src/main/java/de/tum/cit/aet/core/domain/User.java
Labels: server

small workflow adjustments
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

feat: Adjust Applicant, Job, and User Entities
  src/main/java/de/tum/cit/aet/core/domain/Applicant.java
  src/main/java/de/tum/cit/aet/core/domain/Job.java
  src/main/java/de/tum/cit/aet/core/domain/User.java
Labels: server

chore: Remove unused imports
  src/main/java/de/tum/cit/aet/core/domain/Applicant.java
Labels: server

chore: Add placeholders for unimplemented Entities
  src/main/java/de/tum/cit/aet/core/domain/Applicant.java
  src/main/java/de/tum/cit/aet/core/domain/Application.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/core/domain/Job.java
  src/main/java/de/tum/cit/aet/core/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/core/domain/User.java
Labels: server

Adjust User, Applicant, ResearchGroup and Job Entities
  src/main/java/de/tum/cit/aet/core/domain/Document.java
Labels: server

chore: Remove placeholder entities
  src/main/java/de/tum/cit/aet/core/domain/Applicant.java
  src/main/java/de/tum/cit/aet/core/domain/Application.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/core/domain/Job.java
Labels: server

chore: temporarily disable code affected by entity model changes
  src/main/java/de/tum/cit/aet/core/service/UserService.java
  src/main/java/de/tum/cit/aet/core/service/dto/AdminUserDTO.java
  src/main/java/de/tum/cit/aet/core/service/dto/UserDTO.java
  src/main/java/de/tum/cit/aet/core/service/mapper/UserMapper.java
  src/test/java/de/tum/cit/aet/core/service/UserServiceIT.java
  src/test/java/de/tum/cit/aet/core/service/mapper/UserMapperTest.java
  src/test/java/de/tum/cit/aet/core/web/rest/PublicUserResourceIT.java
  src/test/java/de/tum/cit/aet/core/web/rest/UserResourceIT.java
Labels: server, tests

[setup] lombok integration
  build.gradle
Labels: none

style: Fix indentation in build.gradle file
  build.gradle
Labels: none

refactor: Replace explicit getters, setters, and constructors with Lombok annotations
  src/main/java/de/tum/cit/aet/core/constants/State.java
  src/main/java/de/tum/cit/aet/core/constants/UserGroup.java
  src/main/java/de/tum/cit/aet/core/domain/Applicant.java
  src/main/java/de/tum/cit/aet/core/domain/Job.java
  src/main/java/de/tum/cit/aet/core/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/core/domain/User.java
Labels: server

feat: database entities application part
  src/main/java/de/tum/cit/aet/application/constants/ApplicationStatus.java
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationReviewRepository.java
  src/main/java/de/tum/cit/aet/application/repository/SomeRepository.java
  src/main/java/de/tum/cit/aet/core/domain/Applicant.java
Labels: server

fix: include already existing Job entity in application
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/core/domain/Job.java
Labels: server

fix: wrong annotation type, wrong columnname
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
Labels: server

fix: adjusted to most recent AOM
  src/main/java/de/tum/cit/aet/application/constants/ApplicationStatus.java
Labels: server

Update src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
Labels: server

Update src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/Application.java
Labels: server

Update src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
Labels: server

Update src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/Application.java
Labels: server

Update src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/Application.java
Labels: server

Update src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/Application.java
Labels: server

fix: removed unnecessary @MapsId
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
Labels: server

Update src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/Application.java
Labels: server

Fix: Connection between Applicant Entity and Documents
  src/main/java/de/tum/cit/aet/core/domain/Applicant.java
Labels: server

Fix: Use Set instead of List, adhering to Database guidelines
  src/main/java/de/tum/cit/aet/core/domain/Applicant.java
  src/main/java/de/tum/cit/aet/core/domain/Job.java
  src/main/java/de/tum/cit/aet/core/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/core/domain/User.java
Labels: server

fix: to comply with Database Guidelines
  src/main/java/de/tum/cit/aet/application/domain/Application.java
Labels: server

Fix: Use Set instead of List, adhering to Database guidelines.
  src/main/java/de/tum/cit/aet/core/config/CacheConfiguration.java
  src/main/java/de/tum/cit/aet/core/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/core/service/UserService.java
  src/main/java/de/tum/cit/aet/core/service/dto/AdminUserDTO.java
  src/main/java/de/tum/cit/aet/core/service/dto/UserDTO.java
  src/main/java/de/tum/cit/aet/core/service/mapper/UserMapper.java
  src/main/java/de/tum/cit/aet/job/constants/State.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/UserGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
  src/test/java/de/tum/cit/aet/core/service/UserServiceIT.java
  src/test/java/de/tum/cit/aet/core/service/mapper/UserMapperTest.java
  src/test/java/de/tum/cit/aet/core/web/rest/PublicUserResourceIT.java
  src/test/java/de/tum/cit/aet/core/web/rest/UserResourceIT.java
Labels: server, tests

update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

ESLint adapted Artemis config
  .prettierrc
  eslint.config.mjs
Labels: none

Added Entities: CustomField, Document & InternalComment
  package-lock.json
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/CustomField.java
  src/main/java/de/tum/cit/aet/application/repository/CustomFieldRepository.java
  src/main/java/de/tum/cit/aet/core/config/DatabaseConfiguration.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/core/domain/constants/DocumentType.java
  src/main/java/de/tum/cit/aet/core/repository/DocumentRepository.java
  src/main/java/de/tum/cit/aet/evaluation/domain/InternalComment.java
  src/main/java/de/tum/cit/aet/evaluation/repository/InternalCommentRepository.java
  src/main/java/de/tum/cit/aet/evaluation/repository/SomeRepository.java
Labels: server

fixed DocumentType Enum
  src/main/java/de/tum/cit/aet/core/domain/constants/DocumentType.java
Labels: server

commented code of UserRepository to make application run
  package-lock.json
  src/main/java/de/tum/cit/aet/core/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/core/service/UserService.java
  src/main/java/de/tum/cit/aet/core/web/rest/PublicUserResource.java
Labels: server

fixed package-lock.json
  package-lock.json
Labels: none

extended eslint.config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
Labels: none

package-lock update
  package-lock.json
Labels: none

fixed package-lock
  package-lock.json
Labels: none

added additional entity relations
  package-lock.json
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/CustomField.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml
