Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

fix eslint
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

fix client style
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

`General`: Add hint for post docs on landing page (#1285)
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

remove ngoninit
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

add jsonInclude
  src/main/java/de/tum/cit/aet/core/dto/BiasedWordDTO.java
  src/main/java/de/tum/cit/aet/core/dto/GenderBiasAnalysisRequest.java
  src/main/java/de/tum/cit/aet/core/dto/GenderBiasAnalysisResponse.java
Labels: server

make request to java record
  src/main/java/de/tum/cit/aet/core/dto/GenderBiasAnalysisRequest.java
Labels: server

add logs to endpoints
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalysisResource.java
Labels: server

replace var with User
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

add comments to addOverviewSection
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

Remove selected_language column from users table - Deleted selected_language property from User.java entity class - Create Liquibase migration - Update changelog master.xml configuration
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/UserDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/resources/config/liquibase/changelog/00000000000014_remove_preferred_language.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/user.ts
  src/main/webapp/app/generated/model/userDTO.ts
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicantTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/UserTestData.java
Labels: server, client, tests, database, application, job, evaluation, user management

Aligned the dateOfBirth bar to match the other form-fields
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
Labels: client

add image table
  src/main/java/de/tum/cit/aet/core/constants/ImageType.java
  src/main/java/de/tum/cit/aet/core/constants/School.java
  src/main/java/de/tum/cit/aet/core/domain/Image.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
Labels: server, job

add image services
  src/main/java/de/tum/cit/aet/core/dto/ImageDTO.java
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobImageHelper.java
Labels: server, job

filter.model test and find-language-from-key test added
  src/test/webapp/app/shared/filter/filter.model.spec.ts
  src/test/webapp/app/shared/language/find-language-from-key.pipe.spec.ts
Labels: tests

add image to job services
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
Labels: server, job

update
  src/main/java/de/tum/cit/aet/job/service/JobImageHelper.java
Labels: server, job

add default image call
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
Labels: server

fix error
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
Labels: server, application

fix style errors
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/core/constants/ImageType.java
  src/main/java/de/tum/cit/aet/core/domain/Image.java
  src/main/java/de/tum/cit/aet/core/dto/ImageDTO.java
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobImageHelper.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
Labels: server, application, job

run prettier
  src/main/java/de/tum/cit/aet/core/dto/ImageDTO.java
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/job/service/JobImageHelper.java
Labels: server, job

fix codacy
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
Labels: server

fix prettier
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
Labels: server

fix tests
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/resources/config/application.yml
Labels: server, tests

remove duplicate
  src/test/resources/config/application.yml
Labels: tests

fix prettier
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
Labels: server

fix error
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/resources/config/liquibase/changelog/00000000000014_create_images_table.xml
  src/main/resources/config/liquibase/changelog/00000000000015_alter_jobs_add_image_id.xml
  src/main/resources/config/liquibase/master.xml
Labels: server, database, application

add static image serving
  src/main/java/de/tum/cit/aet/core/config/ImageStaticResourceConfiguration.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/resources/config/application.yml
Labels: server, config-change

replace class extension
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
Labels: server

secure deletion
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/resources/config/liquibase/changelog/00000000000014_create_images_table.xml
Labels: server

add endpoint, testdata and bruno file
  docs-github/TUMApply API/Interview/Create Slots.bru
  docs-github/TUMApply API/Interview/InterviewSlots/Get Slots.bru
  docs-github/TUMApply API/Interview/InterviewSlots/folder.bru
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/resources/testdata/11_interview_slots.sql
Labels: server

add testdata
  src/main/resources/testdata/03a_images.sql
  src/main/resources/testdata/04_jobs.sql
Labels: none

change AnalysisResult to a java record
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalysisService.java
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalyzer.java
Labels: server

Add processId to InterviewOverviewDTO
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

`Development`: Implement interview overview page UI (#1141)
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/ interview-process-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/de/sidebar.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/interview.json
  src/main/webapp/i18n/en/sidebar.json
Labels: client

change storage, remove log
  src/main/java/de/tum/cit/aet/core/config/ImageStaticResourceConfiguration.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
Labels: server, job

`Usability`: Change pdf style (#1255)
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/resources/images/tum-logo-blue.png
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/pdf.json
Labels: server, client

`Development`: Server implementation of gender decoder (#1270)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/constants/GenderBiasWordLists.java
  src/main/java/de/tum/cit/aet/core/dto/BiasedWordDTO.java
  src/main/java/de/tum/cit/aet/core/dto/GenderBiasAnalysisRequest.java
  src/main/java/de/tum/cit/aet/core/dto/GenderBiasAnalysisResponse.java
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalysisService.java
  src/main/java/de/tum/cit/aet/core/service/GenderBiasAnalyzer.java
  src/main/java/de/tum/cit/aet/core/util/StringUtil.java
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalysisResource.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/genderBiasAnalysisResourceApi.service.ts
  src/main/webapp/app/generated/model/biasedWordDTO.ts
  src/main/webapp/app/generated/model/genderBiasAnalysisRequest.ts
  src/main/webapp/app/generated/model/genderBiasAnalysisResponse.ts
  src/main/webapp/app/generated/model/models.ts
Labels: server, client

update renovate config
  renovate.json
Labels: none

update temporary test coverage for workflows
  build.gradle
  package.json
Labels: none

update temporary test coverage for workflows
  build.gradle
  package.json
Labels: none

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
