Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

add padding attributes
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

make overview card items to a row
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

remove comments
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

move grade validaiton into util file
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/core/util/grade-format.validator.ts
Labels: client

remove helperText from selectComponent as it is not needed anymore
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.ts
Labels: client

test
  src/main/java/de/tum/cit/aet/usermanagement/web/ProfOnboardingResource.java
Labels: server, user management

test 2
  gradle/openapi.gradle
  src/main/java/de/tum/cit/aet/usermanagement/web/ProfOnboardingResource.java
Labels: server, user management

remove casing
  gradle/openapi.gradle
Labels: none

test
  src/main/java/de/tum/cit/aet/usermanagement/web/ProfOnboardingResource.java
Labels: server, user management

add tests for secure endpoints
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

`Development`: View all documents dialog (#765)
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/components/document-dialog/document-dialog.html
  src/main/webapp/app/evaluation/components/document-dialog/document-dialog.ts
  src/main/webapp/app/evaluation/components/document-section/document-section.html
  src/main/webapp/app/evaluation/components/document-section/document-section.ts
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/en/evaluation.json
Labels: client

`Development`: Global document caching (#766)
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/app/service/document-cache.service.ts
  src/main/webapp/app/shared/components/atoms/document-viewer/document-viewer.component.ts
  src/test/webapp/app/service/document-cache.service.spec.ts
Labels: client, tests

`Development`: Secure application endpoints (#824)
  docs-github/TUMApply API/Applications/Application Tracking/Create Application.bru
  docs-github/TUMApply API/Applications/Application Tracking/Get All Applications.bru
  docs-github/TUMApply API/Applications/Application Tracking/Get Applications Length.bru
  docs-github/TUMApply API/Applications/Application Tracking/Get all applications of a Job.bru
  docs-github/TUMApply API/Applications/Application Tracking/Get all applications of a user.bru
  docs-github/TUMApply API/Applications/Application Tracking/Specific Application/Delete Application.bru
  docs-github/TUMApply API/Applications/Application Tracking/Specific Application/Get Application Details.bru
  docs-github/TUMApply API/Applications/Application Tracking/Specific Application/Update Application.bru
  docs-github/TUMApply API/Applications/Application Tracking/Specific Application/Withdraw Application.bru
  docs-github/TUMApply API/Applications/Application Tracking/Specific Application/folder.bru
  docs-github/TUMApply API/Applications/Application Tracking/folder.bru
  docs-github/TUMApply API/Applications/Document Upload/Create document.bru
  docs-github/TUMApply API/Applications/Document Upload/Delete Document.bru
  docs-github/TUMApply API/Applications/Document Upload/Get Document Ids.bru
  docs-github/TUMApply API/Applications/Document Upload/Get Specific Document.bru
  docs-github/TUMApply API/Applications/Document Upload/Rename Document.bru
  docs-github/TUMApply API/Applications/Document Upload/Replace file od document.bru
  docs-github/TUMApply API/Applications/Document Upload/Upload Document.bru
  docs-github/TUMApply API/Applications/Document Upload/folder.bru
  docs-github/TUMApply API/Applications/folder.bru
  docs-github/TUMApply API/Jobs/folder.bru
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/java/de/tum/cit/aet/core/security/CheckAccessAspect.java
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/core/service/DocumentDictionaryService.java
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
Labels: server, client, application

fix status check
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
Labels: tests

`General`: Write client tests for landing page (#867)
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/faq-section/faq-section.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/information-section/information-card/information-card.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/information-section/information-section.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/landing-page.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/voices-section/voice-card/voice-card.component.spec.ts
  src/test/webapp/app/shared/pages/landing-page/voices-section/voices-section.component.spec.ts
  src/test/webapp/util/button-group.stub.ts
  src/test/webapp/util/button.stub.ts
Labels: tests

remove unnecessary test
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
Labels: tests

`General`: Write client tests for my positions dashboard (#931)
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.scss
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.scss
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
Labels: client, tests

`General`: Write client tests for job detail page (#932)
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/app/job/job-overview/job-card/job-card.component.spec.ts
  src/test/webapp/util/account.service.mock.ts
  src/test/webapp/util/router.mock.ts
Labels: tests

fix failing test
  src/test/webapp/app/shared/components/atoms/string-input/string-input.component.spec.ts
Labels: tests

`General`: Adjust layout padding (#961)
  src/main/webapp/content/scss/_header.scss
  src/main/webapp/content/scss/_layout.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

`General`: Fix toast translations (#982)
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/evaluation.json
  src/main/webapp/i18n/en/job.json
Labels: client

`Development`: Exchange grading scale enum with upper and lower limits (#959)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/GradingScale.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantForApplicationDetailDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/ApplicantRepository.java
  src/main/resources/config/liquibase/changelog/00000000000010_add_grade_limits.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/06_applicants.sql
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/core/util/grade-format.validator.ts
  src/main/webapp/app/generated/model/applicant.ts
  src/main/webapp/app/generated/model/applicantDTO.ts
  src/main/webapp/app/generated/model/applicantForApplicationDetailDTO.ts
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicantTestData.java
Labels: server, client, tests, database, application, user management

`Development`: Add checkbox regarding german doctoral requirements (#1004)
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.scss
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

`General`: Improve date picker (#1005)
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
Labels: client

`General`: Add client tests for atomic select component (#1007)
  src/test/webapp/app/shared/components/atoms/select/select.component.spec.ts
Labels: tests

`General`: Add client tests for atomic datepicker component (#1008)
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
Labels: tests

update to version 1.0.3
  build.gradle
  package.json
Labels: none

update generated openapi files
  openapi/openapi.yaml
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/api/authenticationResourceApi.service.ts
  src/main/webapp/app/generated/api/documentResourceApi.service.ts
  src/main/webapp/app/generated/api/emailSettingResourceApi.service.ts
  src/main/webapp/app/generated/api/emailTemplateResourceApi.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/generated/api/internalCommentResourceApi.service.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
  src/main/webapp/app/generated/api/publicConfigResourceApi.service.ts
  src/main/webapp/app/generated/api/ratingResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/pageableObject.ts
  src/main/webapp/app/generated/model/sortObject.ts
Labels: client

`Development`: Add professor request access form (#907)
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserResearchGroupRoleRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.scss
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.ts
  src/main/webapp/app/shared/validators/custom-validators.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: server, client, user management

fix failing test
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
Labels: tests

add tests for comment, document, rating & prose section
  src/main/webapp/app/evaluation/service/evaluation.service.ts
  src/test/webapp/app/evaluation/components/comment-section/comment-section.spec.ts
  src/test/webapp/app/evaluation/components/document-section/document-section.spec.ts
  src/test/webapp/app/evaluation/components/prose/prose.spec.ts
  src/test/webapp/app/evaluation/components/rating-section/rating-section.spec.ts
Labels: client, tests

remove styling of optional setting
  package-lock.json
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.scss
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form-component.ts/professor-request-access-form/professor-request-access-form.component.ts
Labels: client

add check prerequisites step to application steps
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.ts
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.ts
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

fix: typo in route
  src/main/webapp/app/app.routes.ts
Labels: client

fix test
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
Labels: tests

extend tests
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
Labels: tests

remove temporary test
  src/test/webapp/app/shared/components/atoms/select/select.component.spec.ts
Labels: tests

remove datepicker changes
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
Labels: tests

only allow + and * for upper limit, remove - completely
  src/main/webapp/app/core/util/grade-format.validator.ts
Labels: client

adapt authorization to @Professor annotation
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
  src/main/java/de/tum/cit/aet/evaluation/web/InternalCommentResource.java
  src/main/java/de/tum/cit/aet/evaluation/web/RatingResource.java
Labels: server, evaluation

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
