Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

fix translation, add for loop in card html, fix header
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/ interview-process-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
  src/main/webapp/i18n/de/interview.json
Labels: client

reviewed tailwind styling and fix client style
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/ interview-process-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
Labels: client

fix import order
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/ interview-process-card.component.ts
Labels: client

add asterisk to checkbox
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
Labels: client

fix import error
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

remove icon import
  src/main/webapp/app/config/font-awesome-icons.ts
Labels: client

replace label
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/shared/components/molecules/review-dialog/review-dialog.component.html
Labels: client

change label for uncommented code
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

`Development`: Add grading conversion for professor view (#1045)
  src/main/webapp/app/core/util/grade-conversion.ts
  src/main/webapp/app/core/util/grade-format.validator.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/evaluation/components/description-list/description-list.html
  src/main/webapp/app/evaluation/components/description-list/description-list.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/en/evaluation.json
Labels: client

change button color
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

add tooltip to edit icon in job detail
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

change color, remove code
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-template-edit/research-group-template-edit.html
Labels: client

Development: Ratings server tests (#1053)
  src/main/java/de/tum/cit/aet/evaluation/service/RatingService.java
  src/test/java/de/tum/cit/aet/evaluation/web/rest/RatingResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/RatingTestData.java
Labels: server, tests, evaluation

Development: Integration and unit tests for templates (#1060)
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/notification/service/EmailTemplateService.java
  src/test/java/de/tum/cit/aet/notification/service/EmailTemplateServiceTest.java
  src/test/java/de/tum/cit/aet/notification/web/rest/EmailTemplateResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/EmailTemplateTestData.java
Labels: server, tests

Development: Email settings server tests (#1068)
  src/main/java/de/tum/cit/aet/core/constants/ErrorCode.java
  src/main/java/de/tum/cit/aet/core/exception/EmailSettingException.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/notification/service/EmailSettingService.java
  src/test/java/de/tum/cit/aet/notification/service/EmailSettingServiceTest.java
  src/test/java/de/tum/cit/aet/notification/web/rest/EmailSettingResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicantTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/EmailSettingTestData.java
Labels: server, tests

adjust keys and add to error message and fix var
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/ interview-process-card.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

add page container and comment out button
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

remove unused import
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

apply suggestion
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewStatisticsDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server, application

fix client style
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewStatisticsDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server, application

add translation key
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

fix display of carousel while sidebar open
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
  src/main/webapp/app/shared/constants/breakpoints.ts
  src/main/webapp/content/scss/_breakpoints.scss
Labels: client

fix junit tests
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: client, tests

fix vtests tests
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
  src/main/webapp/app/shared/constants/breakpoints.ts
  src/test/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.spec.ts
Labels: client, tests

remove redundant add
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
Labels: client

remove icon service
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
Labels: client

fix lint error
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

fix codacy
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

fix error
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
Labels: client

Add modal
  src/main/webapp/app/interview/interview-processes-overview/create-interview-dialog/create-interview-dialog.component.html
  src/main/webapp/app/interview/interview-processes-overview/create-interview-dialog/create-interview-dialog.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/ interview-process-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
  src/main/webapp/app/interview/service/interview.service.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

adapt keycloak setup
  docs-github/auth/keycloak-setup.md
  docs-github/auth/keycloak/keycloak-setup.md
Labels: none

adapt keycloak login
  docs-github/auth/keycloak/keycloak-setup.md
  src/main/docker/keycloak.yml
Labels: none

fix development setup
  docs-github/auth/keycloak/development/setup.md
Labels: none

production setup
  docs-github/auth/keycloak/keycloak-setup.md
  docs-github/auth/keycloak/production/setup.md
Labels: none

add docu for realms and clients
  docs-github/auth/keycloak/keycloak-realm-and-clients.md
Labels: none

change file location
  docs-github/auth/authentication-flow.md
Labels: none

fix: remove redundant anys, streamline Testbed
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

impersonation documentation
  docs-github/auth/keycloak/keycloak-impersonation.md
  docs-github/auth/keycloak/pictures/Permission 1.png
  docs-github/auth/keycloak/pictures/Permission 2.png
  docs-github/auth/keycloak/pictures/Permission 3.png
  docs-github/auth/keycloak/pictures/Policy.png
  docs-github/auth/keycloak/pictures/Resource 1.png
  docs-github/auth/keycloak/pictures/Resource 2.png
Labels: none

keycloak overview
  docs-github/auth/keycloak/keycloak-overview.md
Labels: none

prettier
  docs-github/auth/authentication-flow.md
Labels: none
