Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

get 100% coverage
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
Labels: tests

add wrap for long text
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.scss
  src/main/webapp/content/scss/_header.scss
Labels: client

remove unnecessary tests
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

add no roles test
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

add tests for branch coverage
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

fix: infinite loop page2
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
Labels: client

add missing english translation
  src/main/webapp/i18n/en/research-group.json
Labels: client

merge conflicts
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/java/de/tum/cit/aet/core/security/CheckAccessAspect.java
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/core/service/DocumentDictionaryService.java
Labels: server, application

fix: show error message on paste or exceeding the max length
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

fix: translation
  src/main/webapp/i18n/de/global.json
Labels: client

fix: translation
  src/main/webapp/i18n/de/global.json
Labels: client

update fetch
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

update error messages
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

fix validate grade input and show error message
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

fix code style
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

implement changes
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
Labels: tests

Update src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/global.json
Labels: client

Update src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

fix: move deepequal to util file
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
  src/main/webapp/app/core/util/deepequal-util.ts
Labels: client

feat: add appliedAr state
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationDetailDTO.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationOverviewDTO.java
  src/main/java/de/tum/cit/aet/evaluation/repository/impl/ApplicationEvaluationRepositoryImpl.java
  src/main/resources/config/liquibase/changelog/00000000000009_alter_application_add_applied_date.xml
Labels: server, application, evaluation

application review doc
  docs/docs/professors/application-review.md
  docs/docs/professors/images/application-review-1.png
  docs/docs/professors/images/application-review-2.png
  src/main/webapp/app/layouts/main/main.component.html
Labels: client

`General`: Redesign application detail page for applicants (#917)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationDetailDTO.java
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.scss
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/generated/model/applicationDetailDTO.ts
  src/main/webapp/content/scss/_header.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: server, client, application

`Development`: Make cv and privacy statement a mandatory field (#906)
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.html
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.html
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
Labels: client

`General`: Add client tests for job overview page (#911)
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.spec.ts
  src/test/webapp/util/translate.mock.ts
Labels: tests

`General`: Rename panel and page properties (#912)
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/service/localStorage.service.ts
Labels: client

`Development`: Review comments time ago bug (#916)
  src/main/java/de/tum/cit/aet/evaluation/dto/InternalCommentDTO.java
Labels: server, evaluation

`General`: Add client tests for job creation form (#926)
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
Labels: tests

`General`: Fix validate grade input and show error message (#941)
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

test: added test case
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testDataGeneration/UserTestData.java
Labels: tests

first initial tests
  src/test/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.spec.ts
Labels: tests

add margin to lists in application detail
  src/main/webapp/content/scss/global.scss
Labels: client

Revert "chore: update OpenAPI spec and generated client"
  openapi/openapi.yaml
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/model/pageableObject.ts
  src/main/webapp/app/generated/model/researchGroup.ts
  src/main/webapp/app/generated/model/researchGroupCreationDTO.ts
  src/main/webapp/app/generated/model/researchGroupDTO.ts
Labels: client

Revert "add margin to lists in application detail"
  src/main/webapp/content/scss/global.scss
Labels: client

add margin to lists in application detail
  src/main/webapp/content/scss/global.scss
Labels: client

add margin to lists in application detail
  src/main/webapp/content/scss/global.scss
Labels: client

refact: removed tests again
  openapi/openapi.yaml
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testDataGeneration/UserTestData.java
Labels: tests

refact: make researchGroupState not nullable and mandatory
  src/main/java/de/tum/cit/aet/usermanagement/constants/ResearchGroupState.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/ResearchGroupRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/resources/testdata/02_research_groups.sql
Labels: server, user management

refact: use ResearchGroupState enum instead of String for DTOs
  src/main/java/de/tum/cit/aet/usermanagement/dto/ProfessorResearchGroupRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupCreationDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

refact: send status 201 instead of 200 for created ResearchGroup
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
Labels: server, user management

add tests for application-overview component
  src/test/webapp/app/job/evaluation/application-overview/application-overview.component.spec.ts
Labels: tests

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
