Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

test endpoint
  src/main/java/de/tum/cit/aet/usermanagement/web/ProfOnboardingResource.java
Labels: server, user management

compare 2,45 with 2,4 to be same grade and not converted
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
Labels: client

openapi gradle anpassen
  gradle/openapi.gradle
Labels: none

remove endpoint
  src/main/java/de/tum/cit/aet/usermanagement/web/ProfOnboardingResource.java
Labels: server, user management

readd endpoint
  src/main/java/de/tum/cit/aet/usermanagement/web/ProfOnboardingResource.java
Labels: server, user management

`General`: Update wording on applicant landing page (#1044)
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.html
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

readd endpoint
  src/main/java/de/tum/cit/aet/usermanagement/web/ProfOnboardingResource.java
Labels: server, user management

implement requested changes
  docs-github/job/job-module-documentation.md
Labels: none

`General`: Add link to gs requirements (#1046)
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.ts
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.html
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

`General`: Make openapi workflow deterministic (#1047)
  .github/workflows/auto-generate-openapi.yml
  gradle/openapi.gradle
  gradle/scripts/openapi-post-processing.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
Labels: client

v3
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

add provideToastServiceMock
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/test/webapp/app/evaluation/application-overview/application-overview.component.spec.ts
Labels: client, tests

add tests for RatingComponent
  src/main/webapp/app/shared/components/atoms/rating/rating.component.ts
  src/test/webapp/app/shared/components/atoms/rating/rating.component.spec.ts
Labels: client, tests

add tests for TagComponent
  src/test/webapp/app/shared/components/atoms/tag/tag.component.spec.ts
Labels: tests

remove obsolete widthValue from TagComponent
  src/main/webapp/app/shared/components/atoms/tag/tag.component.html
  src/main/webapp/app/shared/components/atoms/tag/tag.component.ts
  src/test/webapp/app/shared/components/atoms/tag/tag.component.spec.ts
Labels: client, tests

add tests for CommentComponent
  src/main/webapp/app/shared/components/molecules/comment/comment.ts
  src/test/webapp/app/shared/components/molecules/comment/comment.spec.ts
Labels: client, tests

add tests for ApplicationCardComponent
  src/test/webapp/app/shared/components/molecules/application-card/application-card.component.spec.ts
Labels: tests

tests for button component
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
Labels: tests

v4
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

extend MvcTestClient to more status codes
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

add integration tests for Internal Comments
  src/test/java/de/tum/cit/aet/evaluation/web/rest/InternalCommentResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/InternalCommentTestData.java
Labels: tests

extend MvcTestClient to more status codes
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

add integration tests for Ratings
  src/main/java/de/tum/cit/aet/evaluation/service/RatingService.java
  src/test/java/de/tum/cit/aet/evaluation/web/rest/RatingResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/RatingTestData.java
Labels: server, tests, evaluation

extend MvcTestClient to more status codes
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

change access rights for get application, add viewMethod
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
Labels: server, application

remove unused method
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
Labels: server, application

redesign page
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.scss
Labels: client

reduce redundancy
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
Labels: server, application

move to tailwind
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.scss
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

remove Job Filter from job-overview page
  src/main/java/de/tum/cit/aet/job/dto/AvailableJobsFilterDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFiltersDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: server, client, job

replace statusFilter with emptyToUndef helper
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
Labels: client

remove job filter frmo my-positions page
  src/main/java/de/tum/cit/aet/job/dto/ProfessorJobsFilterDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: server, client, job

fix client tests
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
Labels: tests

adapt ResearchGroupResourceTest to DatabaseCleaner
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: tests

add integration tests for EmailTemplateResource
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/notification/service/EmailTemplateService.java
  src/test/java/de/tum/cit/aet/notification/web/rest/EmailTemplateResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/EmailTemplateTestData.java
Labels: server, tests

push jobResourceApi.service as it does not seem to be generated by github
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
Labels: client

push JobFiltersDTO
  src/main/webapp/app/generated/model/jobFiltersDTO.ts
Labels: client

add unit tests for EmailTemplateService
  src/main/java/de/tum/cit/aet/notification/service/EmailTemplateService.java
  src/test/java/de/tum/cit/aet/notification/service/EmailTemplateServiceTest.java
  src/test/java/de/tum/cit/aet/notification/web/rest/EmailTemplateResourceTest.java
Labels: server, tests

fix readTemplateContent() and adapt tests
  src/main/java/de/tum/cit/aet/notification/service/EmailTemplateService.java
  src/test/java/de/tum/cit/aet/notification/service/EmailTemplateServiceTest.java
Labels: server, tests

comment out readTemplateContent() test
  src/test/java/de/tum/cit/aet/notification/service/EmailTemplateServiceTest.java
Labels: tests
