Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

Fix client style
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/ interview-process-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

rewrite dropdown alignment without dom manipulation
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.html
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.ts
Labels: client

remove empty line in scss
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
Labels: client

Fix client style and remove liquibase from other branch
  src/main/resources/config/liquibase/changelog/00000000000012_create_interview_processes.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client, database

Fix client style
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

Fix client style method order
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
  src/main/webapp/app/interview/service/interview.service.ts
Labels: client

Fix client style import order
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
  src/main/webapp/app/interview/service/interview.service.ts
Labels: client

Fix client style
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

`General`: Fix workflow wrongly displaying deployment (#1136)
  .github/workflows/check-server-start.yml
  .github/workflows/test.yml
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

feat: added tests for string input component to create higher coverage for base input directive
  src/test/webapp/app/shared/components/atoms/string-input/string-input.component.spec.ts
Labels: tests

remove top
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
Labels: client

refine user docu for application review page
  docs/docs/professors/application-review.md
  docs/docs/professors/images/application-overview.png
  docs/docs/professors/images/application-review-1.png
  docs/docs/professors/images/application-review-2.png
  docs/docs/professors/images/application-review-3.png
  docs/docs/professors/images/application-review-document-dialog.png
Labels: none

fix alignment
  docs/docs/professors/application-review.md
Labels: none

restore mocks after each DocumentSection test
  src/test/webapp/app/evaluation/components/document-section/document-section.spec.ts
Labels: tests

adapt window namings to carousel in ApplicationDetail component
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

re-add ribbon
  src/main/webapp/app/layouts/main/main.component.html
Labels: client

add video link placeholder
  docs/docs/professors/application-review.md
Labels: none

change icons
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

add icon
  src/main/webapp/app/shared/icons/icons.ts
Labels: client

add helper function and describe.each to DocumentDialog tests
  src/test/webapp/app/evaluation/components/document-dialog/document-dialog.spec.ts
  src/test/webapp/app/shared/components/molecules/review-dialog/review-dialog.component.spec.ts
Labels: tests

improve code quality and remove duplicated code
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/webapp/app/usermanagement/research-group-templates/research-group-templates.spec.ts
Labels: tests

change icons
  src/main/webapp/app/shared/icons/icons.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-workflow-section/professor-workflow-section.component.ts
  src/main/webapp/i18n/de/professor-landing-page.json
  src/main/webapp/i18n/en/professor-landing-page.json
Labels: client

adjust button usage
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/shared/components/molecules/comment/comment.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.ts
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/en/button.json
Labels: client

move media stylings in media section
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
Labels: client

replace labels
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.html
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-template-edit/research-group-template-edit.html
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/button.json
  src/main/webapp/i18n/en/evaluation.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/job.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

fix tests
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
Labels: client, tests

remove single icon in form
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
Labels: client

adjust icon
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
Labels: client

change icons
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
Labels: client

add icon
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
Labels: client

adapt to parameterized tests for templates and template-edit component
  src/test/webapp/app/usermanagement/research-group-template-edit/research-group-template-edit.spec.ts
  src/test/webapp/app/usermanagement/research-group-templates/research-group-templates.spec.ts
Labels: tests

remove unused code
  src/test/webapp/app/shared/settings/settings.component.spec.ts
Labels: tests

improve user documentation for evaluation module
  docs/docs/professors/application-review.md
Labels: none

Fix client style and add java doc
  src/main/java/de/tum/cit/aet/interview/dto/CreateInterviewProcessDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewProcessDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

Update InterviewService.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

`Usability`: Adjust search-filter-sort bar to media version (#1133)
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.html
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.ts
  src/main/webapp/app/shared/components/atoms/sorting/sorting.scss
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.scss
Labels: client

`General`: Fix datepicker width and selector icon placement in forms (#1117)
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
Labels: client

`Development`: Tests for comment, document, rating & prose section (#1033)
  src/main/webapp/app/evaluation/components/comment-section/comment-section.ts
  src/main/webapp/app/evaluation/components/rating-section/rating-section.ts
  src/test/webapp/app/evaluation/components/comment-section/comment-section.spec.ts
  src/test/webapp/app/evaluation/components/document-section/document-section.spec.ts
  src/test/webapp/app/evaluation/components/prose/prose.spec.ts
  src/test/webapp/app/evaluation/components/rating-section/rating-section.spec.ts
Labels: client, tests

`Development`: Application carousel tests (#1048)
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.html
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
  src/test/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.spec.ts
Labels: client, tests

remove variable abbreviation
  src/test/webapp/app/shared/settings/email-settings/email-settings.component.spec.ts
  src/test/webapp/app/shared/settings/settings.component.spec.ts
Labels: tests
