Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

fix client workflows
  package-lock.json
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
  src/test/webapp/app/core/config/application-config.service.spec.ts
  src/test/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.spec.ts
  src/test/webapp/util/application-config.service.mock.ts
Labels: client, tests

fix client workflows
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicationTestData.java
Labels: tests

`General`: Fix slot deletion (#1563)
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix server tests
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
Labels: tests

fix client tests
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
  src/test/webapp/util/image-resource-api.service.mock.ts
  src/test/webapp/util/job-resource-api.service.mock.ts
Labels: tests

run prettier
  src/main/java/de/tum/cit/aet/core/dto/ImageDTO.java
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
Labels: server, tests

add unknown image type exception
  src/main/java/de/tum/cit/aet/core/constants/ErrorCode.java
  src/main/java/de/tum/cit/aet/core/dto/ImageDTO.java
  src/main/java/de/tum/cit/aet/core/exception/UnknownImageTypeException.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
Labels: server

rename changelog
  src/main/resources/config/liquibase/changelog/00000000000018_add_department_id_to_images.xml
  src/main/resources/config/liquibase/master.xml
Labels: database

revert few changes
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/test/webapp/app/core/config/application-config.service.spec.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.spec.ts
Labels: client, tests

fix tests
  src/test/webapp/app/core/config/application-config.service.spec.ts
  src/test/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

implement requested changes
  src/main/java/de/tum/cit/aet/usermanagement/repository/DepartmentRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/web/DepartmentResource.java
  src/main/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.html
Labels: server, client, user management

implement requested changes
  openapi/openapi.yaml
  src/main/webapp/app/generated/api/departmentResourceApi.service.ts
  src/main/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.html
Labels: client

dont do ngOnDestroy
  src/main/webapp/app/shared/settings/settings.component.ts
Labels: client

fix tests
  src/test/webapp/app/shared/settings/settings.component.spec.ts
Labels: tests

integration tests
  src/main/java/de/tum/cit/aet/core/exception/UserDataExportException.java
  src/main/java/de/tum/cit/aet/core/service/UserDataExportService.java
  src/main/java/de/tum/cit/aet/core/web/DocumentResource.java
  src/main/java/de/tum/cit/aet/core/web/UserDataExportResource.java
  src/test/java/de/tum/cit/aet/core/service/UserDataExportServiceTest.java
  src/test/java/de/tum/cit/aet/core/web/UserDataExportResourceTest.java
Labels: server, tests

add javadoc
  src/main/java/de/tum/cit/aet/core/web/UserDataExportResource.java
Labels: server

updated testdata for applications
  src/main/resources/testdata/07_applications.sql
Labels: none

remove "unit Test" and add employee tests
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: server, tests, application

fixed bug in countries prefilling and also added translations for Select... Placeholder in countries
  src/main/resources/testdata/06_applicants.sql
  src/main/resources/testdata/07_applications.sql
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicantTestData.java
Labels: client, tests

fix test
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
Labels: tests

adjust job creation form, email template
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.scss
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

`General`: Replace multiple modals with redirect to members page (#1564)
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: client, tests

fix codacy
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: client, tests

`Development`: Admin view departments and schools (#1566)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/util/PageUtil.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/AdminDepartmentFilterDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/DepartmentRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/DepartmentService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/DepartmentResource.java
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/departmentResourceApi.service.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/pageResponseDTODepartmentDTO.ts
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.scss
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/de/sidebar.json
  src/main/webapp/i18n/en/research-group.json
  src/main/webapp/i18n/en/sidebar.json
  src/test/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.spec.ts
Labels: server, client, tests, user management

rename
  src/main/webapp/app/usermanagement/research-group/research-group-departments/departments-view/departments-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/departments-view/departments-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.ts
Labels: client

`Development`: Client tests for department components (#1567)
  openapi/openapi.yaml
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.html
  src/test/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.spec.ts
  src/test/webapp/util/department-resource-api.service.mock.ts
  src/test/webapp/util/school-resource-api.service.mock.ts
Labels: client, tests

`Development`: Improve image integrity and crud operations (#1569)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/constants/ErrorCode.java
  src/main/java/de/tum/cit/aet/core/domain/DepartmentImage.java
  src/main/java/de/tum/cit/aet/core/domain/Image.java
  src/main/java/de/tum/cit/aet/core/domain/ProfileImage.java
  src/main/java/de/tum/cit/aet/core/domain/ResearchGroupImage.java
  src/main/java/de/tum/cit/aet/core/dto/ImageDTO.java
  src/main/java/de/tum/cit/aet/core/exception/UnknownImageTypeException.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/config/liquibase/changelog/00000000000018_add_department_id_to_images.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/generated/api/imageResourceApi.service.ts
  src/main/webapp/app/generated/model/image.ts
  src/main/webapp/app/generated/model/imageDTO.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ImageTestData.java
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
  src/test/webapp/util/image-resource-api.service.mock.ts
  src/test/webapp/util/job-resource-api.service.mock.ts
Labels: server, client, tests, database, job

`Development`: Export user data (server side) (#1570)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ApplicantDataExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ApplicationExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ApplicationReviewExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/DocumentExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/InternalCommentExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/InterviewSlotExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/RatingExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ResearchGroupRoleExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/StaffDataDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserDataExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserProfileExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserSettingDTO.java
  src/main/java/de/tum/cit/aet/core/exception/UserDataExportException.java
  src/main/java/de/tum/cit/aet/core/repository/DocumentDictionaryRepository.java
  src/main/java/de/tum/cit/aet/core/service/UserDataExportService.java
  src/main/java/de/tum/cit/aet/core/service/ZipExportService.java
  src/main/java/de/tum/cit/aet/core/util/FileUtil.java
  src/main/java/de/tum/cit/aet/core/web/DocumentResource.java
  src/main/java/de/tum/cit/aet/core/web/UserDataExportResource.java
  src/main/java/de/tum/cit/aet/evaluation/repository/ApplicationReviewRepository.java
  src/main/java/de/tum/cit/aet/evaluation/repository/InternalCommentRepository.java
  src/main/java/de/tum/cit/aet/evaluation/repository/RatingRepository.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserSettingRepository.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/userDataExportResourceApi.service.ts
  src/test/java/de/tum/cit/aet/core/web/UserDataExportResourceTest.java
  src/test/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationServiceTest.java
Labels: server, client, tests, application, evaluation, user management

Fix page
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/usermanagement/research-group/research-group-departments/departments-view/departments-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/departments-view/departments-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

fix test
  src/test/webapp/app/shared/settings/settings.component.spec.ts
Labels: tests

test
  src/test/webapp/app/shared/settings/settings.component.spec.ts
Labels: tests

use table instead of list
  package-lock.json
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

tests
  src/test/java/de/tum/cit/aet/core/web/UserDataExportResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

`Development`: Export user data (client side) (#1575)
  src/main/webapp/app/shared/settings/settings.component.html
  src/main/webapp/app/shared/settings/settings.component.ts
  src/main/webapp/i18n/de/settings.json
  src/main/webapp/i18n/en/settings.json
  src/test/java/de/tum/cit/aet/core/web/UserDataExportResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/webapp/app/shared/settings/settings.component.spec.ts
Labels: client, tests

`General`: Update application test data (#1595)
  src/main/resources/testdata/06_applicants.sql
  src/main/resources/testdata/07_applications.sql
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicantTestData.java
Labels: client, tests

hab tab view angelegt
  src/main/webapp/app/shared/settings/email-settings/email-settings.component.scss
  src/main/webapp/app/shared/settings/settings.component.html
  src/main/webapp/app/shared/settings/settings.component.scss
  src/main/webapp/app/shared/settings/settings.component.ts
  src/main/webapp/i18n/de/settings.json
  src/main/webapp/i18n/en/settings.json
Labels: client

add menu wrapper, adjust dialogs
  src/main/webapp/app/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/evaluation/application-overview/application-overview.component.scss
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.ts
  src/main/webapp/app/shared/components/atoms/dialog/dialog.component.html
  src/main/webapp/app/shared/components/atoms/dialog/dialog.component.ts
  src/main/webapp/app/shared/components/atoms/menu/menu.component.html
  src/main/webapp/app/shared/components/atoms/menu/menu.component.ts
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.html
  src/main/webapp/app/shared/components/molecules/review-dialog/review-dialog.component.html
  src/main/webapp/app/shared/constants/onboarding-dialog.constants.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.html
  src/main/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.scss
  src/main/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

remove comment
  src/main/webapp/app/shared/components/atoms/menu/menu.component.ts
Labels: client

use jhi dialog
  src/main/webapp/app/shared/components/atoms/dialog/dialog.component.html
  src/main/webapp/app/shared/components/atoms/dialog/dialog.component.ts
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.html
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
  src/main/webapp/app/shared/components/molecules/document-dialog/document-dialog.html
  src/main/webapp/app/shared/components/molecules/document-dialog/document-dialog.ts
Labels: client

adjust menu
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/app/shared/components/atoms/menu/menu.component.ts
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
