Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

add default background if truly none
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
Labels: client

removed unecessary initialization
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicationTestData.java
Labels: server, tests, application

`General`: Decouple application records from applicant data (#1536)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationDetailDTO.java
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationOverviewDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantForApplicationDetailDTO.java
  src/main/resources/config/liquibase/changelog/00000000000016_add_applicant_snapshot_to_applications.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/generated/model/application.ts
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicationTestData.java
Labels: server, client, tests, database, application, user management

`General`: Add fallback image for no image job cards (#1560)
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.ts
Labels: client

adjust gender-exclusive wording
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
Labels: client

release version 1.1.1
  build.gradle
  package.json
Labels: none

add tumapply line
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.html
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

increase size
  src/main/webapp/app/shared/pages/landing-page/banner-section/banner-section.component.html
Labels: client

fix slot deletion
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

remove query
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix searchSlotbyID
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

Fix formatting of Javadoc comment for getResearchGroupIdIfMember
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
Labels: server

Refine Javadoc for findById method
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
Labels: server

new departments sidebar
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.ts
  src/main/webapp/i18n/de/sidebar.json
  src/main/webapp/i18n/en/sidebar.json
Labels: client

fix
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.spec.ts
Labels: client, tests

fix failing tests
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
  src/test/webapp/app/core/config/application-config.service.spec.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.spec.ts
  src/test/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: client, tests

add back button and missing translations
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: client, tests

fix misplacement translation
  src/main/webapp/i18n/de/research-group.json
Labels: client

fix with prettier
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicationTestData.java
Labels: tests

route only accesible for admins
  src/main/webapp/app/app.routes.ts
Labels: client

adjust translation keys
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.html
  src/main/webapp/app/shared/gender-bias-analysis/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
Labels: client

adjust empty case
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
Labels: client

add new table for managing departments
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.spec.ts
Labels: client, tests

implementation done
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/service/DepartmentService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/DepartmentResource.java
  src/main/webapp/app/generated/api/departmentResourceApi.service.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.spec.ts
Labels: server, client, tests, user management

tests
  src/test/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.spec.ts
  src/test/webapp/util/department-resource-api.service.mock.ts
  src/test/webapp/util/school-resource-api.service.mock.ts
Labels: tests

fix misplaces button
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.html
Labels: client

fix codacy and client fails
  src/main/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.ts
  src/test/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.spec.ts
Labels: client, tests

update image
  src/main/java/de/tum/cit/aet/core/domain/DepartmentImage.java
  src/main/java/de/tum/cit/aet/core/domain/Image.java
  src/main/java/de/tum/cit/aet/core/domain/ProfileImage.java
  src/main/java/de/tum/cit/aet/core/domain/ResearchGroupImage.java
  src/main/java/de/tum/cit/aet/core/dto/ImageDTO.java
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/config/liquibase/changelog/00000000000017_add_department_id_to_images.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ImageTestData.java
Labels: server, tests, database, job

remove unnecessary upload method
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
Labels: server, tests

fix tests
  src/test/java/de/tum/cit/aet/core/service/ImageServiceTest.java
  src/test/java/de/tum/cit/aet/core/web/ImageResourceTest.java
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
Labels: tests

update retrieving default image
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
Labels: server

update client image logic
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

export dto
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ApplicantDataDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ApplicationExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ApplicationReviewExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/CustomFieldAnswerExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/InternalCommentExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/InterviewSlotExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/RatingExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/StaffDataDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserDataExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserProfileDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserSettingDTO.java
  src/main/java/de/tum/cit/aet/core/service/UserDataExportService.java
  src/main/java/de/tum/cit/aet/core/web/UserDataExportResource.java
Labels: server

remove logs
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
Labels: server

new export DTOs, added repository methods to retrieve data, implemented service method
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ApplicantDataExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ApplicationExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/CustomFieldAnswerExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/DocumentExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/InternalCommentExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/RatingExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/ResearchGroupRoleExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/StaffDataDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserDataExportDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserProfileDTO.java
  src/main/java/de/tum/cit/aet/core/dto/exportdata/UserProfileExportDTO.java
  src/main/java/de/tum/cit/aet/core/repository/DocumentDictionaryRepository.java
  src/main/java/de/tum/cit/aet/core/service/UserDataExportService.java
  src/main/java/de/tum/cit/aet/evaluation/repository/ApplicationReviewRepository.java
  src/main/java/de/tum/cit/aet/evaluation/repository/InternalCommentRepository.java
  src/main/java/de/tum/cit/aet/evaluation/repository/RatingRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserSettingRepository.java
Labels: server, application, evaluation, user management

fix
  src/main/java/de/tum/cit/aet/core/service/UserDataExportService.java
  src/main/java/de/tum/cit/aet/core/service/ZipExportService.java
  src/main/java/de/tum/cit/aet/core/util/FileUtil.java
  src/main/java/de/tum/cit/aet/core/web/UserDataExportResource.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
Labels: server, evaluation

fix error in method name
  src/main/java/de/tum/cit/aet/core/service/UserDataExportService.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserSettingRepository.java
Labels: server, user management

fix button
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
Labels: client

remove comment
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
Labels: client

implement requested changes
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/department-edit-dialog/department-edit-dialog.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-departments/research-group-departments.component.html
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client
