Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

fix tests
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

fix keys
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

rounded instead of rounded-lg
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.html
Labels: client

fix keys
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.html
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/en/button.json
Labels: client

first Value instead of subscribe
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.ts
Labels: client

add x button
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.html
Labels: client

Clean up master.xml by removing empty lines
  src/main/resources/config/liquibase/master.xml
Labels: database

adjus dark mode hover
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
Labels: client

use tooltip instead of icon
  src/main/webapp/app/shared/components/atoms/button/button.component.html
Labels: client

fix: trigger register progress animation after dialog render
  src/main/webapp/app/core/auth/auth-orchestrator.service.ts
  src/main/webapp/app/core/auth/models/auth.model.ts
Labels: client

small S
  src/main/webapp/i18n/en/interview.json
Labels: client

- added hover color on active - moved button stylings to registration.scss
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
Labels: client

removed empty lines
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
Labels: client

button color changes
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
  src/main/webapp/content/scss/prime-ng-overrides.scss
Labels: client

Add endpoint and service for sending registration confirmation email
  openapi/openapi.yaml
  package-lock.json
  src/main/java/de/tum/cit/aet/usermanagement/service/EmailVerificationService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/EmailVerificationResource.java
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/app/core/auth/server-authentication.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/shared/components/molecules/auth-idp-buttons/auth-idp-buttons.ts
  src/main/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.html
  src/main/webapp/app/shared/components/organisms/registration/registration.html
  src/main/webapp/app/shared/components/organisms/registration/registration.ts
  tsconfig.json
Labels: server, client, user management

fix style issues
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/StringUtil.java
  src/main/java/de/tum/cit/aet/usermanagement/service/EmailVerificationService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/EmailVerificationResource.java
  src/main/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.html
  src/main/webapp/app/shared/components/organisms/registration/registration.html
Labels: server, client, user management

update link to TUM Apply
  src/main/java/de/tum/cit/aet/usermanagement/service/EmailVerificationService.java
Labels: server, user management

fix style issues
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/StringUtil.java
  src/main/java/de/tum/cit/aet/usermanagement/web/EmailVerificationResource.java
Labels: server, user management

fix registration email sending when using provider
  src/main/java/de/tum/cit/aet/usermanagement/service/EmailVerificationService.java
  src/main/webapp/app/core/auth/auth-facade.service.ts
Labels: server, client, user management

add missing translation keys
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

Hab application und applicant voneinander decoupled
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationDetailDTO.java
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantForApplicationDetailDTO.java
  src/main/resources/config/liquibase/changelog/00000000000016_add_applicant_snapshot_to_applications.xml
  src/main/resources/config/liquibase/master.xml
Labels: server, database, application, user management

prettier
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantDTO.java
Labels: server, user management

add theme service, move custom themes to settings, clean up
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/app/shared/services/theme.service.ts
  src/main/webapp/app/shared/settings/settings.component.html
  src/main/webapp/app/shared/settings/settings.component.scss
  src/main/webapp/app/shared/settings/settings.component.ts
  src/main/webapp/content/theming/aquabloom.ts
  src/main/webapp/content/theming/custompreset.ts
  src/main/webapp/content/theming/shared-theme-config.ts
  src/main/webapp/content/theming/tumapplypreset.ts
  src/main/webapp/i18n/de/header.json
  src/main/webapp/i18n/de/settings.json
  src/main/webapp/i18n/en/header.json
  src/main/webapp/i18n/en/settings.json
Labels: client

adjust popover background
  src/main/webapp/content/theming/shared-theme-config.ts
Labels: client

move theme service to global
  eslint.config.mjs
  src/main/webapp/app/service/theme.service.ts
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/app/shared/settings/settings.component.ts
Labels: client

fix header tests
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
Labels: tests

fix tests
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
Labels: tests

fix codacy
  src/main/webapp/app/shared/settings/settings.component.ts
Labels: client

add theme service mock
  src/test/webapp/app/shared/components/organisms/header/header.component.spec.ts
  src/test/webapp/app/shared/settings/settings.component.spec.ts
  src/test/webapp/util/theme.service.mock.ts
Labels: tests

fix misplacement
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

improve registration email sending error handling and add translations
  package-lock.json
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/i18n/de/auth.json
  src/main/webapp/i18n/en/auth.json
  src/test/webapp/app/shared/components/molecules/auth-idp-buttons/auth-idp-buttons.spec.ts
Labels: client, tests

adjust header padding
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
Labels: client

adjust email display name
  src/main/java/de/tum/cit/aet/notification/service/EmailService.java
  src/main/resources/config/application.yml
Labels: server, config-change

adjust comments
  src/main/java/de/tum/cit/aet/notification/service/EmailService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/EmailVerificationService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/EmailVerificationResource.java
Labels: server, user management

`General`: Add new client tests for primeng-translation.service and localized-date.pipe (#1486)
  src/test/webapp/app/shared/language/primeng-translation.service.spec.ts
  src/test/webapp/app/shared/pipes/localized-date.pipe.spec.ts
Labels: tests

`General`: Move job preview button and align job cards from center (#1496)
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

allow editing of published jobs
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.html
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.scss
  src/main/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

get rid of ... annotation in date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

get rid of ... annotation in slot-creation-form.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
Labels: client

- changed hover color in presets for dark colorScheme accent - adjusted comments
  src/main/webapp/app/core/auth/models/auth.model.ts
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
