Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change

fix: Adjust Job, Applicant, and Application Entities to match the current Database Schema.
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

feature: Add DRAFT state for jobs, so drafts can be filtered out in the Job Listing View.
  src/main/java/de/tum/cit/aet/job/constants/State.java
Labels: server

fix: removed the OneToMany relation between Applicant and Document
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

feat: added rating int to applicationreview
  src/main/java/de/tum/cit/aet/evaluation/domain/ApplicationReview.java
Labels: server

feature: Add country and hasStudiedAtTum columns to Applicant Entity, in order to align with AOM fields
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

added @Column to Document.DocumentType
  src/main/java/de/tum/cit/aet/core/domain/Document.java
Labels: server

fix: removed resurfaced changes
  .github/workflows/issue-labler.yml
  src/main/java/de/tum/cit/aet/core/domain/Document.java
Labels: server

`General`: Example User Management SQL Scripts And Liquibase Update (#66)
  README.md
  gradle/liquibase.gradle
  src/main/java/de/tum/cit/aet/application/constants/ApplicationStatus.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/UserRole.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/UserResearchGroupRole.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/01_users.sql
  src/main/resources/testdata/02_research_groups.sql
  src/main/resources/testdata/03_user_roles.sql
  src/main/resources/testdata/import-testdata.sh
Labels: server, database

`Development`: Add basic server structure for job module (#74)
  src/main/java/de/tum/cit/aet/job/api/SomeController.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobDetailDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/service/SomeService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
Labels: server

fix: Remove all Document columns from Applicant Entity
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

fix: Adapt Document Entity to database schema
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

fix: Add Grading Scale for Applicants
  src/main/java/de/tum/cit/aet/usermanagement/constants/GradingScale.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

fix: moved Rejection Reason to evaluation module as well
  src/main/java/de/tum/cit/aet/evaluation/constants/RejectReason.java
Labels: server

fix: Only support one grading scale in the beginning.
  src/main/java/de/tum/cit/aet/usermanagement/constants/GradingScale.java
Labels: server

small server fix
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
Labels: server

fix: Make required columns in CustomField Entity non-nullable
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
Labels: server

Feature: introduce Job and CustomField entities with Liquibase changelog and foreign key relationships
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
Labels: none

Feature: Add example jobs testdata with full and partial data for testing
  src/main/resources/testdata/04_jobs.sql
Labels: none

Feature: Add example custom fields testdata with full and partial data for testing
  src/main/resources/testdata/05_custom_fields.sql
Labels: none

fix: moved rating to Application from ApplicationReview, changed from int to Integer (so rating can be null)
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/evaluation/domain/ApplicationReview.java
Labels: server

Fix: adjust job columns with non-nullable primitive types
  src/main/resources/testdata/04_jobs.sql
Labels: none

fix: adjustments of database entities
  src/main/java/de/tum/cit/aet/application/constants/ApplicationState.java
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/evaluation/constants/RejectReason.java
  src/main/java/de/tum/cit/aet/job/constants/Campus.java
  src/main/java/de/tum/cit/aet/job/constants/FundingType.java
  src/main/java/de/tum/cit/aet/job/constants/JobState.java
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
Labels: server

dev: restructured client modules
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/core/auth/auth-session.service.ts
  src/main/webapp/app/core/auth/user-route-access.service.ts
  src/main/webapp/app/core/interceptor/auth-expired.interceptor.ts
  src/main/webapp/app/layouts/navbar/navbar.component.spec.ts
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/pages/application/application.module.ts
  src/main/webapp/app/pages/evaluation/evaluation.module.ts
  src/main/webapp/app/pages/job/job.module.ts
  src/main/webapp/app/pages/misc/home/home.component.html
  src/main/webapp/app/pages/misc/home/home.component.scss
  src/main/webapp/app/pages/misc/home/home.component.spec.ts
  src/main/webapp/app/pages/misc/home/home.component.ts
  src/main/webapp/app/pages/misc/misc.module.ts
  src/main/webapp/app/pages/pages.module.ts
  src/main/webapp/app/pages/usermanagement/login/login.service.ts
  src/main/webapp/app/pages/usermanagement/login/logout.model.ts
  src/main/webapp/app/pages/usermanagement/usermanagement.module.ts
  src/main/webapp/app/shared/components/atoms/atoms.module.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.scss
  src/main/webapp/app/shared/components/atoms/button/button.component.spec.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/components.module.ts
  src/main/webapp/app/shared/components/molecules/molecules.module.ts
  src/main/webapp/app/shared/components/organisms/organisms.module.ts
Labels: client

fix: build failure
  src/main/webapp/app/layouts/navbar/navbar.component.spec.ts
  src/main/webapp/app/pages/misc/home/home.component.spec.ts
Labels: client

`Development`: Adjust job, applicant, and application entity fields (#75)
  src/main/java/de/tum/cit/aet/application/constants/ApplicationState.java
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/evaluation/constants/RejectReason.java
  src/main/java/de/tum/cit/aet/job/constants/Campus.java
  src/main/java/de/tum/cit/aet/job/constants/FundingType.java
  src/main/java/de/tum/cit/aet/job/constants/JobState.java
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/GradingScale.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
Labels: server

fix: buildfailure
  src/main/webapp/app/layouts/navbar/navbar.component.spec.ts
  src/main/webapp/app/pages/misc/home/home.component.spec.ts
Labels: client

fix: adjusted file path
  src/main/webapp/app/pages/misc/home/home.component.scss
Labels: client

`Development`: Restructured client modules (#94)
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/core/auth/auth-session.service.ts
  src/main/webapp/app/core/auth/user-route-access.service.ts
  src/main/webapp/app/core/interceptor/auth-expired.interceptor.ts
  src/main/webapp/app/layouts/navbar/navbar.component.spec.ts
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/pages/application/application.module.ts
  src/main/webapp/app/pages/evaluation/evaluation.module.ts
  src/main/webapp/app/pages/job/job.module.ts
  src/main/webapp/app/pages/misc/home/home.component.html
  src/main/webapp/app/pages/misc/home/home.component.scss
  src/main/webapp/app/pages/misc/home/home.component.spec.ts
  src/main/webapp/app/pages/misc/home/home.component.ts
  src/main/webapp/app/pages/misc/misc.module.ts
  src/main/webapp/app/pages/pages.module.ts
  src/main/webapp/app/pages/usermanagement/login/login.service.ts
  src/main/webapp/app/pages/usermanagement/login/logout.model.ts
  src/main/webapp/app/pages/usermanagement/usermanagement.module.ts
  src/main/webapp/app/shared/components/atoms/atoms.module.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.scss
  src/main/webapp/app/shared/components/atoms/button/button.component.spec.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/components.module.ts
  src/main/webapp/app/shared/components/molecules/molecules.module.ts
  src/main/webapp/app/shared/components/organisms/organisms.module.ts
Labels: client

chore: Update job and custom field test data to match latest entity and schema changes
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/04_jobs.sql
  src/main/resources/testdata/05_custom_fields.sql
Labels: server

`General`: Add sql testdata for jobs and custom fields (#93)
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/04_jobs.sql
  src/main/resources/testdata/05_custom_fields.sql
Labels: server

feat: Add initial JobFormDTO for Create Job Page
  src/main/java/de/tum/cit/aet/job/dto/JobDetailDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
Labels: server

open api addition
  build.gradle
Labels: none

feat: Fix build fail
  src/main/java/de/tum/cit/aet/job/dto/JobDetailDTO.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
Labels: server

Feat: add initial DTO for Job Creation Form
  src/main/java/de/tum/cit/aet/core/exception/EntityNotFoundException.java
  src/main/java/de/tum/cit/aet/core/repository/TumApplyJpaRepository.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/ResearchGroupRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
Labels: server

open api addition
  build.gradle
  src/main/resources/config/application.yml
Labels: config-change

open api addition
  build.gradle
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
Labels: server

changed ApplicationReview <-> Application relation and adapted desiredStartDate to LocalDate
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/evaluation/domain/ApplicationReview.java
Labels: server

add database schema and test data for applicants, applications & application_reviews
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/06_applicants.sql
  src/main/resources/testdata/07_applications.sql
  src/main/resources/testdata/08_application_reviews.sql
Labels: none

open api fixed
  build.gradle
  src/main/java/de/tum/cit/aet/core/config/OpenApiConfiguration.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application.yml
Labels: server, config-change

add openapi workflow and generated client code to test
  .github/workflows/validate-openapi.yml
  openapi/openapi.yaml
  src/main/webapp/app/generated/.gitignore
  src/main/webapp/app/generated/.openapi-generator-ignore
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/.openapi-generator/VERSION
  src/main/webapp/app/generated/README.md
  src/main/webapp/app/generated/api.base.service.ts
  src/main/webapp/app/generated/api.module.ts
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/generated/configuration.ts
  src/main/webapp/app/generated/encoder.ts
  src/main/webapp/app/generated/git_push.sh
  src/main/webapp/app/generated/index.ts
  src/main/webapp/app/generated/model/jobCardDTO.ts
  src/main/webapp/app/generated/model/jobDetailDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/ng-package.json
  src/main/webapp/app/generated/package.json
  src/main/webapp/app/generated/param.ts
  src/main/webapp/app/generated/tsconfig.json
  src/main/webapp/app/generated/variables.ts
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml
