Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

hab treshold wieder hoch getan
  package.json
Labels: none

initial
  docs/src/css/custom.css
  docs/static/img/tum-logo-blue.svg
  src/main/webapp/content/images/tum-logo/tum-logo-blue.svg
  src/main/webapp/content/scss/_primitives.scss
  src/main/webapp/content/theming/tumapplypreset.ts
  tailwind.config.ts
Labels: client

split addResearchGroupSection to reduce cyclomatic complexity
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

remove ^ from dependencies
  package.json
Labels: none

rewrite formatAddress to reduce cyclomatic complexity
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

fixed arrow button design
  src/main/webapp/app/shared/components/organisms/login/login.html
Labels: client

change
  src/main/java/de/tum/cit/aet/usermanagement/constants/ResearchGroupDepartment.java
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: server, client, user management

made prettier
  src/main/webapp/app/shared/components/organisms/login/login.html
  src/main/webapp/app/shared/components/organisms/login/login.ts
  src/main/webapp/app/shared/components/organisms/registration/registration.html
  src/main/webapp/app/shared/components/organisms/registration/registration.scss
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.html
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.scss
  src/main/webapp/content/scss/global.scss
Labels: client

made prettier
  src/main/webapp/app/shared/components/organisms/login/login.ts
Labels: client

made prettier
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.ts
Labels: client

reduce parameters by creating DTO
  src/main/java/de/tum/cit/aet/core/dto/JobOverviewData.java
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

change addResearchGroupContactInfo to reduce complexity
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

add brackets to the onDownloadPDF call
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

create and move files
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-template-edit/research-group-template-edit.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.spec.ts
Labels: tests

fix imports
  src/test/webapp/app/usermanagement/research-group/research-group-template-edit/research-group-template-edit.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.spec.ts
Labels: tests

from text to remove button
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
Labels: client

add highlighting, remove rowsPerPage option
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
Labels: client

left join with null
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
Labels: server, user management

remove search bar component
  src/main/webapp/app/shared/components/molecules/search-bar/search-bar.html
  src/main/webapp/app/shared/components/molecules/search-bar/search-bar.scss
  src/main/webapp/app/shared/components/molecules/search-bar/search-bar.ts
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

Reduce whitespace
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
Labels: client

add translation keys
  src/main/webapp/app/interview/interview-process-detail/date-header/date-header.component.html
  src/main/webapp/app/interview/interview-process-detail/date-header/date-header.component.ts
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/month-navigation/month-navigation.component.html
  src/main/webapp/app/interview/interview-process-detail/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/month-navigation/month-navigation.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/month-navigation/month-navigation.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
  src/main/webapp/content/theming/tumapplypreset.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

use primary blue colour
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
Labels: client

test enum
  src/main/java/de/tum/cit/aet/usermanagement/constants/ResearchGroupDepartment.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/ResearchGroupSchool.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/EnumDisplayDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupCreationDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
Labels: server, client, user management

remove unused transl. key
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

fix errors
  src/main/resources/config/liquibase/changelog/00000000000014_add_research_group_department.xml
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.ts
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
Labels: client, tests

fix liquibase
  src/main/resources/config/liquibase/changelog/00000000000014_add_research_group_department.xml
Labels: none

fix param comment for exportJobPreviewToPDF
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
Labels: server

modify liquibase
  src/main/resources/config/liquibase/changelog/00000000000014_add_research_group_department.xml
Labels: none

add comment for getCurrentUserFullNameIfAvailable
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
Labels: server

add javadoc comments to job endpoints
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

adjust enum
  src/main/java/de/tum/cit/aet/usermanagement/constants/ResearchGroupDepartment.java
Labels: server, user management

fix comment for generateJobFilenameForPreview
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

fix error message key
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/pdf.json
Labels: client

fix key in job-detail component
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

replace subscribe with firstValueFrom
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

rewrite previewData handling in the onDownloadPdf method
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

extend job-detail client tests
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
Labels: tests

add client tests for pdf labels
  src/test/webapp/app/shared/language/pdf-labels.spec.ts
Labels: tests

reduce white space
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/date-header/date-header.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/month-navigation/month-navigation.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
Labels: client

add endpoint to get a specific interviewProcess
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server
