Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

add server test
  docs-github/TUMApply API/Interview/Get specific InterviewProcess.bru
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

fix codacy
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

fix codacy method name
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

adapt image table
  src/main/java/de/tum/cit/aet/core/constants/School.java
  src/main/java/de/tum/cit/aet/core/domain/Image.java
  src/main/java/de/tum/cit/aet/core/dto/ImageDTO.java
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/resources/config/liquibase/changelog/00000000000014_create_images_table_and_add_to_jobs.xml
Labels: server

add school method
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
Labels: server

format code
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
Labels: server

clean up
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
Labels: server

fix style
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
Labels: server

update interface
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: client

update delete
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
Labels: server

remove logging
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
Labels: server

fix dependency version
  package-lock.json
  package.json
Labels: none

adjust styling, add restriction
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.scss
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/content/theming/tumapplypreset.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

fix and refactor tests
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
Labels: tests

add no default image message
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
Labels: client

make email sending reusable via extracted method
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

add postAndReturnBytes method to MvcTestClient
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

add server test for PDFExportResource
  src/test/java/de/tum/cit/aet/core/web/rest/PDFExportResourceTest.java
Labels: tests

update forms
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/resources/config/liquibase/changelog/00000000000014_add_research_group_department.xml
  src/main/resources/testdata/02_research_groups.sql
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.ts
  src/main/webapp/content/scss/_layout.scss
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: server, client, user management

Update InterviewSlotDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewSlotDTO.java
Labels: server

add server tests for PDFExportService
  src/test/java/de/tum/cit/aet/core/service/PDFExportServiceTest.java
Labels: tests

rewrite previewData handling in the onDownloadPdf method
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

add void before onDownloadPdf
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

add asserts to tests without any
  src/test/java/de/tum/cit/aet/core/web/rest/PDFExportResourceTest.java
Labels: tests

add void to onDownloadPdf call
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

split createCompleteLabelsMap into more smaller methods
  src/test/java/de/tum/cit/aet/core/web/rest/PDFExportResourceTest.java
Labels: tests

split createTestLabels into smaller methods
  src/test/java/de/tum/cit/aet/core/service/PDFExportServiceTest.java
Labels: tests

make formatDate package-private
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/test/java/de/tum/cit/aet/core/service/PDFExportServiceTest.java
Labels: server, tests

adjust tests, fix style
  src/main/java/de/tum/cit/aet/usermanagement/constants/ResearchGroupDepartment.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/ResearchGroupSchool.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/EnumDisplayDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupCreationDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/content/scss/_layout.scss
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
Labels: server, client, tests, user management

fix test
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: tests

Remove annotation
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

Update InterviewResourceTest.java
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

fix clientStyle
  src/test/java/de/tum/cit/aet/interview/web/rest/InterviewResourceTest.java
Labels: tests

fix changes
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/de/sidebar.json
Labels: client

create own json file for genderDecoder translation keys
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/genderDecoder.json
  src/main/webapp/i18n/en/job.json
Labels: client

incorporate comments, improve queries
  src/main/java/de/tum/cit/aet/core/repository/ImageRepository.java
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/job/service/JobImageHelper.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
Labels: server, job

replace exceptions
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
  src/main/java/de/tum/cit/aet/job/service/JobImageHelper.java
Labels: server, job

reduce cyclomatic complexity
  src/main/java/de/tum/cit/aet/core/service/ImageService.java
Labels: server

use gender-bias-analysis-dialog component
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.html
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.scss
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.spec.ts
  src/main/webapp/app/shared/gender-bias-analysis-dialog/gender-bias-analysis-dialog.ts
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
Labels: client

make explanations shorter
  src/main/webapp/i18n/de/genderDecoder.json
  src/main/webapp/i18n/en/genderDecoder.json
Labels: client
