Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

open api update
  openapi/openapi.yaml
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/api/authenticationResourceApi.service.ts
  src/main/webapp/app/generated/api/documentResourceApi.service.ts
  src/main/webapp/app/generated/api/emailSettingResourceApi.service.ts
  src/main/webapp/app/generated/api/emailTemplateResourceApi.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/generated/api/internalCommentResourceApi.service.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
  src/main/webapp/app/generated/api/publicConfigResourceApi.service.ts
  src/main/webapp/app/generated/api/ratingResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/generated/model/application.ts
Labels: client

add edit condition
  src/main/webapp/app/job/job-detail/job-detail.component.html
Labels: client

`Development`: Add authorization for the evaluation module (#1013)
  docs-github/TUMApply API/Evaluation/Accept Application.bru
  docs-github/TUMApply API/Evaluation/Get Applications Overview.bru
  docs-github/TUMApply API/Evaluation/Open Application.bru
  docs-github/TUMApply API/Evaluation/Reject Application copy.bru
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/evaluation/repository/JobEvaluationRepository.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
  src/main/java/de/tum/cit/aet/evaluation/web/InternalCommentResource.java
  src/main/java/de/tum/cit/aet/evaluation/web/RatingResource.java
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/evaluation/service/evaluation.service.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/model/jobFilterOptionDTO.ts
  src/test/java/de/tum/cit/aet/evaluation/web/rest/ApplicationEvaluationResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: server, client, tests, evaluation

remove bolfFont from parseHtmlContent
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

`Development`: Add appliedat to application table (#942)
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationDetailDTO.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationOverviewDTO.java
  src/main/java/de/tum/cit/aet/evaluation/repository/impl/ApplicationEvaluationRepositoryImpl.java
  src/main/resources/config/liquibase/changelog/00000000000011_alter_application_add_applied_date.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/07_applications.sql
  src/main/webapp/app/generated/model/application.ts
Labels: server, client, database, application, evaluation

`Development`: Rating component tests (#1050)
  src/main/webapp/app/shared/components/atoms/rating/rating.component.ts
  src/main/webapp/app/shared/components/atoms/tag/tag.component.html
  src/main/webapp/app/shared/components/atoms/tag/tag.component.ts
  src/test/webapp/app/shared/components/atoms/rating/rating.component.spec.ts
Labels: client, tests

`Development`: Comment & application card component tests (#1051)
  src/main/webapp/app/shared/components/molecules/comment/comment.ts
  src/test/webapp/app/shared/components/molecules/application-card/application-card.component.spec.ts
  src/test/webapp/app/shared/components/molecules/comment/comment.spec.ts
Labels: client, tests

fix: tests
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
Labels: tests

fix: replaced accountservice and toastservice
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

add: describe blocks
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

fix: client style
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

fix: cleaner + codacy
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

feat: application documentation
  docs-github/application/application-detail-page.md
  docs-github/application/application-editing-page.md
  docs-github/application/application-module-documentation.md
  docs-github/application/application-overview-page.md
  docs-github/application/document-upload.md
  docs-github/application/flow.md
  docs-github/application/validation.md
Labels: none

fix: client style
  src/test/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.spec.ts
Labels: tests

fix: removed unnecessary comments
  src/test/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.spec.ts
Labels: tests

fix: client tests
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
Labels: tests

add tests for ResearchGroupTemplates component
  src/test/webapp/app/usermanagement/research-group-templates/research-group-templates.spec.ts
Labels: tests

fix MvcTestClient
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

add multiple describe blocks
  src/test/webapp/app/evaluation/application-detail/application-detail.component.spec.ts
  src/test/webapp/app/evaluation/application-overview/application-overview.component.spec.ts
Labels: tests

adjust master.xml
  src/main/resources/config/liquibase/master.xml
Labels: database

add DTOS
  src/main/java/de/tum/cit/aet/interview/dto/CreateInterviewProcessDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewProcessDTO.java
Labels: server

adjust Method
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

adapt to code comments
  src/main/webapp/app/evaluation/components/comment-section/comment-section.ts
  src/test/webapp/app/evaluation/components/comment-section/comment-section.spec.ts
  src/test/webapp/app/evaluation/components/document-section/document-section.spec.ts
  src/test/webapp/app/evaluation/components/rating-section/rating-section.spec.ts
Labels: client, tests

fix clientstyle
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix server style error
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

fix eslint
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/en/button.json
Labels: client

fix translation
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/en/button.json
Labels: client

add methods
  src/main/java/de/tum/cit/aet/interview/dto/InterviewProcessDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

fix error
  src/main/java/de/tum/cit/aet/interview/dto/InterviewProcessDTO.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

remove unused import
  src/main/java/de/tum/cit/aet/interview/dto/InterviewProcessDTO.java
Labels: server

increase corner radius
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
Labels: client

fix changes
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
Labels: client

remove files
  src/main/resources/config/liquibase/changelog/00000000000012_create_interview_processes.xml
  src/main/resources/config/liquibase/master.xml
Labels: database

implement requested changes
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.spec.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.spec.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form/professor-request-access-form.component.spec.ts
Labels: tests

adjust file
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

fix MvcTestClient
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

restructure application-carousel.component.spec.ts
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.spec.ts
Labels: tests

add assertions to void tests
  src/test/java/de/tum/cit/aet/evaluation/web/rest/InternalCommentResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

restructure RatingResourceTest
  src/test/java/de/tum/cit/aet/evaluation/web/rest/RatingResourceTest.java
Labels: tests

feat: application module server tests
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
Labels: tests
