Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

feat: implement new endpoint for research groups
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/UserService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/main/webapp/app/generated/api/userResourceApi.service.ts
Labels: server, client, user management

implement endpoint with search query, remove unnecessary imports
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/UserService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
Labels: server, client, user management

use two query approach to fetch user ids
  src/main/java/de/tum/cit/aet/usermanagement/dto/AddMembersToResearchGroupDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/UUID.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/Pageable.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/UserService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
Labels: server, client, user management

fix and extend tests
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
Labels: client, tests

remove department comment
  src/main/java/de/tum/cit/aet/core/constants/School.java
  src/main/java/de/tum/cit/aet/core/domain/Image.java
Labels: server

add separate components
  src/main/resources/testdata/11_interview_slots.sql
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/interview/interview-process-detail/date-column/date-column.component.html
  src/main/webapp/app/interview/interview-process-detail/date-column/date-column.component.ts
  src/main/webapp/app/interview/interview-process-detail/date-header/date-header.component.html
  src/main/webapp/app/interview/interview-process-detail/date-header/date-header.component.ts
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/month-navigation/month-navigation.component.html
  src/main/webapp/app/interview/interview-process-detail/month-navigation/month-navigation.component.ts
  src/main/webapp/app/interview/interview-process-detail/slot-mini-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slot-mini-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

added 5 more tests
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
  src/test/webapp/app/application/pdf-labels.spec.ts
  src/test/webapp/app/core/auth/account.service.spec.ts
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
  src/test/webapp/app/service/localStorage.service.spec.ts
Labels: tests

fix linting errors
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: server, client, user management

Added 8 more tests
  src/test/webapp/app/core/auth/auth-orchestrator.service.spec.ts
  src/test/webapp/app/core/auth/keycloak-authentication.service.spec.ts
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/core/util/grade-conversion.spec.ts
  src/test/webapp/app/core/util/grade-format.validator.spec.ts
  src/test/webapp/app/shared/alert/alert-error.component.spec.ts
  src/test/webapp/app/shared/alert/alert.component.spec.ts
  src/test/webapp/app/shared/pipes/time-ago.pipe.spec.ts
Labels: tests

added more tests to reach treshold
  src/test/webapp/app/config/translation.config.spec.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.spec.ts
Labels: tests

added more tests to pass function treshold
  src/test/webapp/app/core/auth/keycloak-authentication.service.spec.ts
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
Labels: tests

add department
  src/main/java/de/tum/cit/aet/usermanagement/constants/ResearchGroupDepartment.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
Labels: server, client, user management

fix tests
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
Labels: tests

fix test
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: tests

add changelog, add translations, fix tests
  src/main/resources/config/liquibase/changelog/00000000000014_add_research_group_department.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/02_research_groups.sql
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.spec.ts
Labels: client, tests, database

fix translation
  src/main/webapp/i18n/en/onboarding.json
Labels: client

fix tests
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
Labels: tests

feat: sending email to user after added to research group
  package-lock.json
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

feat: confirmation dialog
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

test run
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupDTO.java
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: server, client, tests, user management

fix user selection
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
Labels: client

fix server test
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
Labels: client, tests

refactor component to reduce redundancy
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: client, tests

add selector
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupDTO.java
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: server, client, user management

fix
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
Labels: client

only show tum users to professor/admin
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.html
Labels: server, client, user management

remove unnecessary files
  src/main/java/de/tum/cit/aet/usermanagement/dto/UUID.java
  src/main/java/de/tum/cit/aet/usermanagement/service/Pageable.java
Labels: server, user management

adjust styling and add colors
  src/main/webapp/app/interview/interview-process-detail/date-header/date-header.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/month-navigation/month-navigation.component.html
  src/main/webapp/app/interview/interview-process-detail/month-navigation/month-navigation.component.ts
  src/main/webapp/app/interview/interview-process-detail/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slot-card/slot-card.component.ts
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

add getCurrentUserFullName to curenntUserService
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
Labels: server

add exportJobPreviewToPDF endpoint with new JobPreviewRequest DTO as requestbody
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
  src/main/java/de/tum/cit/aet/job/dto/JobPreviewRequest.java
Labels: server, job

add exportJobPreviewToPDF method to PDFExportService
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

ran prettier and refactored tests into test folder
  .github/workflows/pullrequest-labeler.yml
  .vscode/settings.json
  docs-github/application/application-module-documentation.md
  docs-github/auth/authentication-flow.md
  docs-github/auth/keycloak/development/setup.md
  docs-github/auth/keycloak/keycloak-impersonation.md
  docs-github/evaluation/evaluation-module-documentation.md
  docs-github/general/general-documentation.md
  docs-github/job/job-module-documentation.md
  docs-github/notification/notification-module-documentation.md
  src/main/webapp/app/core/util/data-util.service.spec.ts
  src/test/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
  src/test/webapp/app/application/pdf-labels.spec.ts
  src/test/webapp/app/config/translation.config.spec.ts
  src/test/webapp/app/core/auth/account.service.spec.ts
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
  src/test/webapp/app/core/auth/auth-orchestrator.service.spec.ts
  src/test/webapp/app/core/auth/keycloak-authentication.service.spec.ts
  src/test/webapp/app/core/auth/server-authentication.service.spec.ts
  src/test/webapp/app/core/util/alert.service.spec.ts
  src/test/webapp/app/core/util/data-util.service.spec.ts
  src/test/webapp/app/core/util/event-manager.service.spec.ts
  src/test/webapp/app/core/util/grade-conversion.spec.ts
  src/test/webapp/app/core/util/operators.spec.ts
  src/test/webapp/app/core/util/parse-links.service.spec.ts
  src/test/webapp/app/service/localStorage.service.spec.ts
  src/test/webapp/app/shared/alert/alert-error.component.spec.ts
  src/test/webapp/app/shared/alert/alert.component.spec.ts
  src/test/webapp/app/shared/pipes/time-ago.pipe.spec.ts
  src/test/webapp/app/shared/util/util.spec.ts
Labels: client, tests

fix failing client tests
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

add pdf error to pdf json file
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/pdf.json
Labels: client

fix: fix codacy errors
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

add preview pdf download on job detail page
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

remove unnecessary comment
  src/main/webapp/app/usermanagement/research-group/research-group-add-members/research-group-add-members.component.ts
Labels: client

refactor tests in two files
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-admin.component.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form-professor.component.spec.ts
Labels: tests

deleted test for pdf-labels since it will change soon anyways
  src/test/webapp/app/application/pdf-labels.spec.ts
Labels: tests

fix missing client tests
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
Labels: tests

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
