Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

persist mode
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/index.html
Labels: client

persist color mode
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
Labels: client

change name
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
Labels: client

add theme initilization to index html
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/index.html
Labels: client

`General`: Add department and school info to research group info page (#1402)
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-info/research-group-info.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

`General`: Replace delete image button with confirm dialog (#1408)
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

`General`: Fix toast error for default images (#1410)
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
Labels: client, tests

add delete slot endpoint
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

test different approacjh
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
Labels: server, user management

translation works in job detail summary now and field of studies are translated aswell
  src/main/webapp/app/job/dropdown-options.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

update client test coverage
  package.json
Labels: none

remove flaky test
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

remove comments
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
Labels: server, user management

implement requested changes
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/security/CheckAccess.java
  src/main/java/de/tum/cit/aet/core/security/CheckAccessAspect.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
  src/main/java/de/tum/cit/aet/notification/web/EmailTemplateResource.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/model/models.ts
Labels: server, client, job, user management

fix dupicate import
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

employees cant remove members and add jobs
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: client, tests

employees cant remove templates
  src/main/webapp/app/usermanagement/research-group/research-group-template-edit/research-group-template-edit.ts
  src/main/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.ts
  src/test/webapp/app/usermanagement/research-group/research-group-template-edit/research-group-template-edit.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.spec.ts
Labels: client, tests

missing changes
  src/main/java/de/tum/cit/aet/core/web/GenderBiasAnalysisResource.java
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
Labels: server, user management

remove button and reduce image height
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.ts
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

fix failing test
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
Labels: server

adjust button corner radius
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

adjust mode toggle button
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
Labels: client

adjust sidebar collpase button
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.html
Labels: client

adjust sm button
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
Labels: client

make hoverColor for dark consistent with light
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

adjust filter icon color in multiselect
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
Labels: client

fix test
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
Labels: tests

adjust color
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.html
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
Labels: client

adjust method
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

add tooltip to theme switch
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/i18n/de/header.json
  src/main/webapp/i18n/en/header.json
Labels: client

add slot deletion
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-card/slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

add load slots
  src/main/webapp/app/interview/interview-process-detail/slots-section/slots-section.component.ts
Labels: client

fix translaion key
  src/main/webapp/i18n/en/interview.json
Labels: client

adjusted pdf labels and label property
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/shared/language/pdf-labels.ts
Labels: client

job preview section with tests
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.html
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.ts
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
  src/test/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.spec.ts
Labels: client, tests

removed translation keys
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/evaluation.json
  src/main/webapp/i18n/en/global.json
Labels: client

merge
  src/main/webapp/app/shared/components/atoms/otp-input/otp-input.ts
  src/test/webapp/app/shared/components/atoms/otp-input/otp-input.component.spec.ts
  src/test/webapp/util/application-config.service.mock.ts
Labels: client, tests

remove css in tests
  src/test/webapp/app/shared/components/atoms/password-input/password-input.component.spec.ts
Labels: tests

adjust info box
  src/main/webapp/app/shared/components/atoms/info-box/info-box.component.html
  src/main/webapp/app/shared/components/atoms/info-box/info-box.component.ts
Labels: client

merge conflicts
  src/test/webapp/app/core/auth/auth-facade.service.spec.ts
Labels: tests
