Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

move job button, align job cards from center
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

fix tooltip
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
  src/main/webapp/i18n/de/interview.json
Labels: client

fix codacy
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

fix codacy
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

remove logo custom color
  src/main/webapp/content/scss/global.scss
Labels: client

`General`: Remove custom logo color (#1497)
  src/main/webapp/content/scss/global.scss
Labels: client

manage members dialog
  package-lock.json
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.spec.ts
Labels: client, tests

new endpoint o retreive research group members as admin
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.ts
Labels: server, client, user management

admin should be able to remove professors
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: server, tests, user management

refactor to one repository method
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
Labels: server, user management

add missing param annotation and create test files
  src/main/java/de/tum/cit/aet/core/web/ImageResource.java
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.spec.ts
Labels: server, tests, evaluation, user management

tests for new components
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.spec.ts
  src/test/webapp/util/research-group-resource-api.service.mock.ts
Labels: tests

remove border if at bottom
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.ts
Labels: client

fix codacy
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.ts
Labels: client

add button for no-jobs
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/en/landingPage.json
Labels: client

change layout to checkbox select, change tests to fit new logic
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.spec.ts
Labels: client, tests

add misisng tests
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/manage-members-choice/manage-members-choice.component.spec.ts
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-remove-members/research-group-remove-members.component.spec.ts
Labels: tests

fix translation jhi button and codacy
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
Labels: client

draggable false
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/core/auth/auth-dialog.service.ts
  src/main/webapp/app/shared/constants/onboarding-dialog.constants.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
Labels: client

resolved commants
  src/test/webapp/app/shared/language/primeng-translation.service.spec.ts
  src/test/webapp/app/shared/pipes/localized-date.pipe.spec.ts
Labels: tests

adjust padding
  src/main/webapp/app/shared/components/molecules/button-group/button-group.component.scss
  src/main/webapp/content/scss/_layout.scss
Labels: client

cnosistent padding
  src/main/webapp/app/shared/pages/landing-page/jobs-preview-section/jobs-preview-section.component.html
Labels: client

adjust document dialog styling
  src/main/webapp/app/shared/components/molecules/document-dialog/document-dialog.html
Labels: client

add review dialog
  src/main/webapp/app/shared/components/molecules/review-dialog/review-dialog.component.html
Labels: client

remove comment
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

add jhi datepicker styling
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
Labels: client

adjust input field stylings
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
Labels: client

Add feedback message when time range is too short for interview duration
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/interview.json
Labels: client

fix icon (semi)
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.html
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.html
Labels: client

add comment
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/slot-creation-form.component.ts
Labels: client

fix codacy
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

fix codacy
  src/main/webapp/app/interview/interview-process-detail/slots-section/slot-creation-form/date-slot-card.component.ts
Labels: client

new images jeii
  docs/docs/applicants/images/applying/application-form-page1.png
  docs/docs/applicants/images/applying/application-form-page2.png
  docs/docs/applicants/images/applying/application-form-page3_1.png
  docs/docs/applicants/images/applying/application-form-page3_2.png
  docs/docs/applicants/images/applying/application-form-page4_1.png
  docs/docs/applicants/images/applying/application-form-page4_2.png
  docs/docs/applicants/images/browse-jobs/job-detail-applicant-1.png
  docs/docs/applicants/images/browse-jobs/job-detail-applicant-2.png
  docs/docs/applicants/images/overview/application-overview.png
  docs/docs/professors/application-review.mdx
  docs/docs/professors/create-job.mdx
  docs/docs/professors/images/application-review/application-overview.png
  docs/docs/professors/images/application-review/application-review-1.png
  docs/docs/professors/images/application-review/application-review-2.png
  docs/docs/professors/images/application-review/application-review-3.png
  docs/docs/professors/images/create-job/job-creation-form-1.png
  docs/docs/professors/images/create-job/job-creation-form-2-1.png
  docs/docs/professors/images/create-job/job-creation-form-2-2.png
  docs/docs/professors/images/create-job/job-creation-form-2_1.png
  docs/docs/professors/images/create-job/job-creation-form-2_2.png
  docs/docs/professors/images/create-job/job-creation-form-3-1.png
  docs/docs/professors/images/create-job/job-creation-form-3-2.png
  docs/docs/professors/images/create-job/job-creation-form-3-3.png
  docs/docs/professors/images/create-job/job-creation-form-3-4.png
  docs/docs/professors/images/create-job/job-creation-form-3.png
  docs/docs/professors/images/create-job/job-creation-form-4_1.png
  docs/docs/professors/images/create-job/job-creation-form-4_2.png
  docs/docs/professors/images/manage-jobs/job-detail-professor-1.png
  docs/docs/professors/images/manage-jobs/job-detail-professor-2.png
  docs/docs/professors/images/manage-jobs/my-positions.png
  docs/docs/professors/images/research-groups/faq-research-group-registration.png
Labels: none

fix method
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

run prettier
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

remove comments
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

adjust stylings
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.ts
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/en/button.json
Labels: client

Fixed Bug
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.ts
  src/main/webapp/i18n/de/nationalities.json
Labels: client

add interviewee-card
  package-lock.json
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.html
  src/main/webapp/app/interview/interview-process-detail/interview-process-detail.component.ts
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-card/interviewee-card.component.ts
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.html
  src/main/webapp/app/interview/interview-process-detail/interviewee-section/interviewee-section.component.ts
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/de/interview.json
  src/main/webapp/i18n/en/button.json
Labels: client

Update access control and adjust security check in methods (InterviewService)
  package-lock.json
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
