Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

`Documentation`: Add user documentation for the application review page (#1143)
  docs/docs/professors/application-review.md
  docs/docs/professors/images/application-overview.png
  docs/docs/professors/images/application-review-1.png
  docs/docs/professors/images/application-review-2.png
  docs/docs/professors/images/application-review-3.png
  docs/docs/professors/images/application-review-document-dialog.png
Labels: none

`Usability`: Improve typography in application and job detail card (#1153)
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/content/scss/global.scss
Labels: client

add comments and adjust method
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

number steps
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

prettier
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

fix: removed duplicate method
  src/test/java/de/tum/cit/aet/application/web/rest/ApplicationResourceTest.java
Labels: tests

remove line in angular.json and adjust other files
  angular.json
  src/main/webapp/app/evaluation/application-detail/application-detail.component.scss
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.ts
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
Labels: client

add signal and remove OnDestroy
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.html
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.ts
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: client

fix nav button
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.html
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
Labels: client

remove comments
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
Labels: client

`Development`: Create Interview Processes overview endpoint (#1100)
  docs-github/TUMApply API/Interview/Get Interview Overview.bru
  docs-github/TUMApply API/Interview/folder.bru
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/constants/ApplicationState.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/interview/domain/InterviewProcess.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
  src/main/resources/config/liquibase/changelog/00000000000012_create_interview_processes.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/10_interview_processes.sql
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/interviewResourceApi.service.ts
  src/main/webapp/app/generated/model/application.ts
  src/main/webapp/app/generated/model/applicationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationForApplicantDTO.ts
  src/main/webapp/app/generated/model/applicationOverviewDTO.ts
  src/main/webapp/app/generated/model/interviewOverviewDTO.ts
  src/main/webapp/app/generated/model/jobCardDTO.ts
  src/main/webapp/app/generated/model/jobDetailDTO.ts
  src/main/webapp/app/generated/model/updateApplicationDTO.ts
Labels: server, client, database, application

add export buttons to job-detail page
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: client

`General`: Fix display application carousel on mobile devices (#1125)
  src/main/webapp/app/evaluation/application-detail/application-detail.component.scss
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.html
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.ts
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
  src/main/webapp/app/shared/constants/breakpoints.ts
  src/main/webapp/content/scss/_breakpoints.scss
  src/test/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.spec.ts
Labels: client, tests

fix compilation
  src/main/webapp/app/shared/components/molecules/review-dialog/review-dialog.component.ts
Labels: client

fix tests
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
  src/test/webapp/util/translate.mock.ts
Labels: tests

added httpmock
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
  src/test/webapp/util/http-client.mock.ts
Labels: tests

fix test
  src/test/webapp/util/translate.mock.ts
Labels: tests

fix translate mock
  src/test/webapp/util/translate.mock.ts
Labels: tests

`General`: Client tests for onboarding forms (#1097)
  src/main/webapp/app/shared/validators/custom-validators.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.spec.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.spec.ts
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form/professor-request-access-form.component.spec.ts
  src/test/webapp/util/dialog.service.mock.ts
  src/test/webapp/util/dynamicdialogref.mock.ts
Labels: client, tests

fix: remove unnecessary branch
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
Labels: client

feat: make detail view editable
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

feat: application overview for applicants test
  src/test/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.spec.ts
Labels: tests

fix: increased coverage to 100%
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

replace with @admin
  src/main/java/de/tum/cit/aet/usermanagement/web/AdminResource.java
Labels: server, user management

comments
  docs-github/auth/authentication-flow.md
  docs-github/auth/keycloak/development/setup.md
Labels: none

add resizing to information section
  src/main/webapp/app/shared/pages/landing-page/information-section/information-card/information-card/information-card.component.html
  src/main/webapp/app/shared/pages/landing-page/information-section/information-card/information-card/information-card.component.scss
Labels: client

fix test
  src/test/webapp/app/shared/pages/landing-page/information-section/information-card/information-card.component.spec.ts
Labels: tests

remove duplicate
  eslint.config.mjs
Labels: none

feat: document viewer tests
  src/test/webapp/app/shared/components/atoms/document-viewer/document-viewer.component.spec.ts
Labels: tests

fix: removed as any, added describe blocks
  src/test/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.spec.ts
Labels: tests

fix: adjusted to change requests
  src/test/webapp/app/application/application-creation-form/application-creation-page3.component.spec.ts
Labels: tests

fix: adjusted general and application documentation
  docs-github/application/application-module-documentation.md
  docs-github/general/general-documentation.md
Labels: none

fix description
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
Labels: client

use provideActivatedRouteMock in application detail component spec
  src/test/webapp/app/evaluation/application-detail/application-detail.component.spec.ts
Labels: tests

`Development`: Tests for evaluation pages (#954)
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/test/webapp/app/evaluation/application-detail/application-detail.component.spec.ts
  src/test/webapp/app/evaluation/application-overview/application-overview.component.spec.ts
  src/test/webapp/util/activated-route.mock.ts
Labels: client, tests

test onInit instead of constructor
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
Labels: client

`Development`: Add additional tests for the server evaluation module (#1127)
  src/main/java/de/tum/cit/aet/core/constants/ErrorCode.java
  src/main/java/de/tum/cit/aet/core/exception/BadRequestException.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/core/service/DocumentService.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/test/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationServiceTest.java
  src/test/java/de/tum/cit/aet/evaluation/web/rest/ApplicationEvaluationResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/DocumentTestData.java
  src/test/resources/testdocs/test-doc1.pdf
  src/test/resources/testdocs/test-doc2.pdf
  src/test/resources/testdocs/test-doc3.pdf
  src/test/resources/testdocs/test-doc4.pdf
  src/test/resources/testdocs/test-doc5.pdf
Labels: server, tests, evaluation

research group service test
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: tests

Add comprehensive unit tests for ResearchGroupService
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: tests

accidentally moved test file
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: tests
