Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

tests: page3 initial tests
  src/test/webapp/app/application/application-creation-form/application-creation-page3.component.spec.ts
Labels: tests

add tests for string input component
  src/test/webapp/app/shared/components/atoms/string-input/string-input.component.spec.ts
Labels: tests

fix today selection
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
Labels: client

remove unnecessary if condition
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
Labels: client

add Bruno requests
  docs-github/TUMApply API/Evaluation/Accept Application.bru
  docs-github/TUMApply API/Evaluation/Get Applications Overview.bru
  docs-github/TUMApply API/Evaluation/Open Application.bru
  docs-github/TUMApply API/Evaluation/Reject Application copy.bru
Labels: none

add Authorization Tests to ApplicationEvaluationResourceTest
  docs-github/TUMApply API/Evaluation/All Applications.bru
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/webapp/app/evaluation/service/evaluation.service.ts
  src/test/java/de/tum/cit/aet/evaluation/web/rest/ApplicationEvaluationResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: server, client, tests, evaluation

rename gradeLowerLimit in english
  src/main/webapp/i18n/en/global.json
Labels: client

replace Error with Fehler in german translations
  src/main/webapp/i18n/de/job.json
Labels: client

add extra tests
  src/test/webapp/app/shared/components/atoms/select/select.component.spec.ts
Labels: tests

tests v1
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

improve alignment and make review dialog non-draggable
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/components/document-dialog/document-dialog.html
  src/main/webapp/app/evaluation/components/document-section/document-section.html
Labels: client

add more test coverage
  src/test/webapp/app/service/document-cache.service.spec.ts
Labels: tests

add client tests for number input
  src/test/webapp/app/shared/components/atoms/number-input/number-input.component.spec.ts
Labels: tests

fix: implement feedback
  src/test/webapp/app/application/application-creation-form/application-creation-page1.component.spec.ts
Labels: tests

fix: cleanup tests
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

improve coverage for application detail component
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/test/webapp/app/evaluation/application-detail/application-detail.component.spec.ts
  src/test/webapp/app/evaluation/application-overview/application-overview.component.spec.ts
  src/test/webapp/app/job/evaluation/application-detail/application-detail.component.spec.ts
Labels: client, tests

feat: create new component and add route
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.scss
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

improve coverage for application overview component
  src/test/webapp/app/evaluation/application-overview/application-overview.component.spec.ts
Labels: tests

testing endloss loop
  .github/workflows/auto-generate-openapi.yml
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

tests: v2
  src/test/webapp/app/application/application-creation-form/application-creation-page3.component.spec.ts
Labels: tests

fix: adjustment for cleaner initialisation
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
Labels: client

add header to PDF file
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/resources/images/tum-logo-blue.png
Labels: server

testing endloss loop
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
Labels: server, user management

test openapi endless loop
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ProfOnboardingResource.java
Labels: server, user management

add client tests for editor
  src/test/webapp/app/shared/components/atoms/editor/editor.component.spec.ts
Labels: tests

add github docs for job module
  docs-github/job/job-module-documentation.md
Labels: none

remove 2nd docs
  docs-github/job/user-flow.md
Labels: none

adjust docs
  docs-github/job/job-module-documentation.md
Labels: none

implement feedback
  src/test/webapp/app/shared/components/atoms/string-input/string-input.component.spec.ts
Labels: tests

add afterEach
  src/test/webapp/app/shared/components/atoms/number-input/number-input.component.spec.ts
Labels: tests

add edge cases
  src/test/webapp/app/shared/components/atoms/number-input/number-input.component.spec.ts
Labels: tests

add afterEach
  src/test/webapp/app/shared/components/atoms/editor/editor.component.spec.ts
Labels: tests

add afterEach and another test
  src/test/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
Labels: tests

add afterEach and 2 other tests
  src/test/webapp/app/shared/components/atoms/select/select.component.spec.ts
Labels: tests

restore all mocks
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/app/job/job-overview/job-card/job-card.component.spec.ts
Labels: tests

add newer version for pdf creation
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/java/de/tum/cit/aet/core/web/PDFExportResource.java
Labels: server

add sections
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

add border settings
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

create attributes for fontSizes
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

remove label and text and summarize it in text
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server
