Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

remove auto label for generate openapi
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
Labels: server

test workflow auto trigger
  .github/workflows/auto-generate-openapi.yml
Labels: none

test workflow auto trigger
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
Labels: server

test workflow auto trigger
  .github/workflows/auto-generate-openapi.yml
Labels: none

test workflow auto trigger
  .github/workflows/auto-generate-openapi.yml
Labels: none

test gradle toolchain
  build.gradle
Labels: none

test toolchain
  build.gradle
Labels: none

test submit gradle
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
Labels: server

add import
  build.gradle
Labels: none

add java path for gradle
  gradle.properties
Labels: none

server test test coverage
  .github/workflows/test.yml
  build.gradle
Labels: none

test gradle submission
  build.gradle
Labels: none

test gradle
  build.gradle
Labels: none

server test test coverage
  .github/workflows/test.yml
  package-lock.json
Labels: none

server test test coverage
  .github/workflows/test.yml
Labels: none

server test test coverage
  .github/workflows/test.yml
Labels: none

test workflow
  .github/workflows/dependency_submission.yml
Labels: none

test toolchain
  build.gradle
Labels: none

remove unnecessary setup
  .github/workflows/dependency_submission.yml
  build.gradle
  gradle.properties
  settings.gradle
Labels: none

test gradle submit
  docs-github/setup/dev-environment.md
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
Labels: server

add comment
  build.gradle
Labels: none

add modenizer
  build.gradle
  gradle.properties
Labels: none

`General`: Adjust workflows for openapi (#763)
  .github/workflows/auto-generate-openapi.yml
  .github/workflows/check-server-start.yml
  .github/workflows/pullrequest-labeler.yml
  .github/workflows/test.yml
  .github/workflows/validate-openapi.yml
  Dockerfile
  build.gradle
  docs-github/setup/dev-environment.md
  gradle.properties
  gradle/docker.gradle
  gradle/openapi.gradle
  openapi/openapi.yaml
  package-lock.json
  src/main/java/de/tum/cit/aet/notification/service/EmailTemplateInitializer.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/actuatorApi.service.ts
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/api/authenticationResourceApi.service.ts
  src/main/webapp/app/generated/api/documentResourceApi.service.ts
  src/main/webapp/app/generated/api/emailSettingResourceApi.service.ts
  src/main/webapp/app/generated/api/emailTemplateResourceApi.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/generated/api/internalCommentResourceApi.service.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
  src/main/webapp/app/generated/api/publicConfigResourceApi.service.ts
  src/main/webapp/app/generated/api/ratingResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/generated/model/link.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/pageableObject.ts
  src/main/webapp/app/generated/model/sortObject.ts
Labels: server, client

add job creation form client tests
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
Labels: tests

implement requested changes
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.spec.ts
Labels: tests

remove all instances of "any"
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
Labels: tests

fix errors
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
Labels: tests

add client tests job detail
  src/test/webapp/app/job/job-detail/job-detail.component.spec.ts
Labels: tests

test
  src/test/webapp/util/translate.mock.ts
Labels: tests

remove ribbon
  src/main/webapp/app/layouts/main/main.component.html
  src/main/webapp/app/layouts/main/main.component.ts
Labels: client

remove sort-bar component
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.html
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.scss
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.ts
Labels: client

remove filter-sort-bar component
  src/main/webapp/app/evaluation/application-overview/application-overview.component.scss
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.html
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.scss
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.ts
Labels: client

remove filter-eselect component
  src/main/webapp/app/shared/components/atoms/filter-select/filter-select.component.html
  src/main/webapp/app/shared/components/atoms/filter-select/filter-select.component.scss
  src/main/webapp/app/shared/components/atoms/filter-select/filter-select.component.ts
Labels: client

add initial tests
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page.component.scss
  src/main/webapp/app/job/my-positions/my-positions-page.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.scss
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
Labels: client, tests

add text overflow
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.scss
Labels: client

add global styling
  gradle/openapi.gradle
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.scss
  src/main/webapp/content/scss/global.scss
Labels: client

clean up tests
  src/test/webapp/app/job/my-positions/my-positions-page.component.spec.ts
Labels: tests

add client Coverage comment for PRs
  .github/workflows/test.yml
Labels: none

adjust translation for tests
  src/main/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: client

add initial tests
  src/test/webapp/app/usermanagement/research-group/research-group-members/research-group-members.component.spec.ts
Labels: tests

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
