Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

Fix padding between results count, search bar, and job cards
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.html
Labels: client

feat: added tests
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: tests

supress error
  src/test/webapp/test-setup.ts
Labels: tests

`General`: Client tests for progress stepper component (#1109)
  src/test/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.spec.ts
Labels: tests

fix dependency
  package-lock.json
  package.json
Labels: none

fix null assertion
  src/main/webapp/app/core/auth/auth-dialog.service.ts
Labels: client

fix: trimmed down
  docs-github/application/application-module-documentation.md
Labels: none

fix tests
  src/test/webapp/util/translate.mock.ts
Labels: tests

fix: shortened it a lot more
  docs-github/application/application-module-documentation.md
Labels: none

clean up
  docs-github/application/application-module-documentation.md
Labels: none

added missing image
  docs-github/application/application-module-documentation.md
Labels: none

fix: added missing image
  docs-github/application/application-module-documentation.md
Labels: none

`General`: Application module documentation for developers (#1114)
  docs-github/application/application-detail-page.md
  docs-github/application/application-editing-page.md
  docs-github/application/application-module-documentation.md
  docs-github/application/application-overview-page.md
  docs-github/application/document-upload.md
  docs-github/application/flow.md
  docs-github/application/images/application-detail-1.png
  docs-github/application/images/application-detail-2.png
  docs-github/application/images/application-form-1.png
  docs-github/application/images/application-form-2.png
  docs-github/application/images/application-form-3-1.png
  docs-github/application/images/application-form-3-2.png
  docs-github/application/images/application-form-4-1.png
  docs-github/application/images/application-form-4-2.png
  docs-github/application/images/application-overview.png
  docs-github/application/validation.md
  docs-github/general/general-documentation.md
Labels: none

`Development`: Secure authentication endpoints (#1151)
  src/main/java/de/tum/cit/aet/usermanagement/service/UserSettingService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/AdminResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/AuthenticationResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/EmailVerificationResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ProfOnboardingResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
Labels: server, user management

fix: reduced duplications
  src/test/webapp/app/application/application-creation-form/application-creation-page2.component.spec.ts
Labels: tests

add sticky bottom
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

fix: apply suggestion to achieve 100% branch coverage
  src/test/webapp/app/application/application-creation-form/application-creation-page3.component.spec.ts
Labels: tests

fix: failing test
  src/test/webapp/app/shared/components/atoms/button/button.component.spec.ts
Labels: tests

disable lint
  src/main/webapp/app/core/auth/auth-dialog.service.ts
Labels: client

fix codacy
  src/main/webapp/app/core/auth/auth-dialog.service.ts
Labels: client

test
  src/main/webapp/app/core/auth/auth-dialog.service.ts
Labels: client

Clarified the onboarding notice to ask users to provide the name of their supervising professor.
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
  src/main/webapp/i18n/de/onboarding.json
  src/main/webapp/i18n/en/onboarding.json
Labels: client

fix tag
  src/main/webapp/app/shared/components/atoms/tag/tag.component.html
  src/main/webapp/app/shared/components/atoms/tag/tag.component.ts
Labels: client

Clarified the onboarding notice to ask users to provide the name of their supervising professor.
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
Labels: client

remove unnecessary utility
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

fix: remove detect changes where possible, message key handling, additional test case
  src/test/webapp/app/shared/components/atoms/string-input/string-input.component.spec.ts
Labels: tests

fix: removed unnecessary test
  src/test/webapp/app/shared/components/atoms/document-viewer/document-viewer.component.spec.ts
Labels: tests

adjusted scss and html files for cleaner, maintainable styling
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.html
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.scss
Labels: client

comment out input fields in application creation page 2
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
Labels: client

comment out limits in application detail page
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
Labels: client

comment out limits in pdf
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
Labels: server

comment out validators of grades
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: client

comment out converted grade for professor view
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
Labels: client

ready for review
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/employee-request-access-form/employee-request-access-form.component.html
Labels: client

reduced job card grid padding and increased searchbar bottompadding for applications overview
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.scss
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.html
Labels: client

feat: implement tests
  src/test/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.spec.ts
Labels: tests

implement requested changes
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.scss
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/evaluation/components/document-dialog/document-dialog.spec.ts
Labels: client, tests

fix errors
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: tests

fix template
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
Labels: client

implement requested changes
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
Labels: client, tests

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
