Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**

decrease padding after divider
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

add additional tests for the ApplicationEvaluationResource and ApplicationEvaluationService
  src/main/java/de/tum/cit/aet/core/constants/ErrorCode.java
  src/main/java/de/tum/cit/aet/core/exception/BadRequestException.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/core/service/DocumentService.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/test/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationServiceTest.java
  src/test/java/de/tum/cit/aet/evaluation/web/rest/ApplicationEvaluationResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/DocumentTestData.java
  src/test/resources/testdocs/test-doc1.pdf
  src/test/resources/testdocs/test-doc2.pdf
  src/test/resources/testdocs/test-doc3.pdf
  src/test/resources/testdocs/test-doc4.pdf
  src/test/resources/testdocs/test-doc5.pdf
Labels: server, tests, evaluation

fix: tests
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

fix: style
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

fix: tests
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
Labels: client

fix: style
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
Labels: client

fix: imports
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

fix: cleanup
  src/test/webapp/app/application/application-creation-form/application-creation-form.component.spec.ts
Labels: tests

add tests for settings and email-settings components
  src/main/webapp/app/shared/settings/settings.component.ts
  src/test/webapp/app/shared/settings/email-settings/email-settings.component.spec.ts
  src/test/webapp/app/shared/settings/settings.component.spec.ts
Labels: client, tests

remove obsolete null checks
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/test/java/de/tum/cit/aet/evaluation/web/rest/InternalCommentResourceTest.java
Labels: server, tests

use breakpoints for media
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
  src/main/webapp/app/shared/components/atoms/sorting/sorting.scss
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.scss
Labels: client

Used Tailwind and implementing Interview process card
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/ interview-process-card.component.ts
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.scss
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

remove comment
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

reduce card size
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.html
Labels: client

try fixing deployment workflow
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

professor logout redirects to professor landing page
  src/main/webapp/app/core/auth/auth-facade.service.ts
Labels: client

remove bracket on catch
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
Labels: client

fix button
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.ts
Labels: client

fix title size
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
Labels: client

Adjust colours
  src/main/webapp/app/interview/interview-processes-overview/interview-process-card/interview-process-card.component.html
  src/main/webapp/app/interview/interview-processes-overview/interview-processes-overview.component.html
Labels: client

fix: corrected image tag to use commit_sha (as done in hephaestus) and corrected environment input to use github input
  .github/workflows/deploy-to-testserver.yml
Labels: none

adjust app routes and translation key
  src/main/webapp/app/app.routes.ts
  src/main/webapp/i18n/de/interview.json
Labels: client

fix: replace commit_sha in image-tag with branch name
  .github/workflows/deploy-to-testserver.yml
Labels: none

fix tab name
  src/main/webapp/app/app.routes.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

refactor: remove environment from test workflows to avoid confusing deployment messages
  .github/workflows/check-server-start.yml
  .github/workflows/test.yml
Labels: none

change comment sections to describe blocs
  src/test/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.spec.ts
Labels: tests

fix import error
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
Labels: client

fix: undo changes in deploy-to-testserver workflow for test
  .github/workflows/deploy-to-testserver.yml
Labels: none

improve unit and integration tests for EmailTemplates
  src/test/java/de/tum/cit/aet/notification/service/EmailTemplateServiceTest.java
  src/test/java/de/tum/cit/aet/notification/web/rest/EmailTemplateResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/EmailTemplateTestData.java
Labels: tests

fix: server mvctestclient error
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

improve EmailSettingResourceTests
  src/test/java/de/tum/cit/aet/notification/service/EmailSettingServiceTest.java
  src/test/java/de/tum/cit/aet/notification/web/rest/EmailSettingResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicantTestData.java
Labels: tests

fix MvcTestClient
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

add DatabaseCleaner to ResearchGroupResourceTest
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
Labels: tests

fix "*" to "-" for bullet points
  docs-github/notification/notification-module-documentation.md
Labels: none

page number calculation test to research-group-templates.spec.ts
  src/test/webapp/app/usermanagement/research-group-templates/research-group-templates.spec.ts
Labels: tests

tests for the DocumentDialog component
  src/test/webapp/app/evaluation/components/document-dialog/document-dialog.spec.ts
Labels: tests

tests for the ReviewDialog component
  src/test/webapp/app/shared/components/molecules/review-dialog/review-dialog.component.spec.ts
Labels: tests

fix MvcTestClient
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: tests

add custom icons, replace icons
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page.component.html
  src/main/webapp/app/shared/icons/icons.ts
Labels: client

add mockConfirmationService instead of spying directly on confirmationService
  src/test/webapp/app/shared/components/atoms/confirm-dialog/confirm-dialog.spec.ts
Labels: tests
