Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change, application, job, evaluation, user management

remove funding type
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.scss
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: server, client, application, job

add tooltip
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
Labels: client

remove unused tooltip
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

add missing translation
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

fix translation
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

adapt sidebar design
  src/main/webapp/app/layouts/footer/footer.component.scss
  src/main/webapp/app/layouts/main/main.component.html
  src/main/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.scss
  src/main/webapp/content/scss/_header.scss
  src/main/webapp/content/scss/global.scss
Labels: client

adapt header color
  src/main/webapp/content/scss/_header.scss
Labels: client

added a cancel/back button for going back to inital dialog after "continue with password"
  src/main/webapp/app/shared/components/organisms/login/login.html
  src/main/webapp/app/shared/components/organisms/login/login.ts
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.html
  src/main/webapp/app/shared/components/templates/auth-card/auth-card.component.scss
Labels: client

fixed missing ; in backButtonHandler
  src/main/webapp/app/shared/components/organisms/login/login.ts
Labels: client

change metadata texts
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/pdf.json
Labels: client

add padding to top and bottom of the pdf
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

add dto description
  src/main/java/de/tum/cit/aet/interview/dto/InterviewOverviewDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewProcessDTO.java
Labels: server

adjust methodname
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

add signal for translation
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
Labels: client

Decrease header size
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
Labels: server

change metaData stylings and add page numbers
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/pdf.json
Labels: server, client

change to old method name
  src/main/java/de/tum/cit/aet/interview/repository/InterviewProcessRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
Labels: server

`General`: Adapt sidebar and footer design (#1248)
  src/main/webapp/app/layouts/footer/footer.component.scss
  src/main/webapp/app/layouts/main/main.component.html
  src/main/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.scss
  src/main/webapp/content/scss/_header.scss
  src/main/webapp/content/scss/global.scss
Labels: client

Add header information
  src/main/java/de/tum/cit/aet/core/service/PDFExportService.java
  src/main/java/de/tum/cit/aet/core/util/PDFBuilder.java
  src/main/webapp/app/application/pdf-labels.ts
  src/main/webapp/i18n/de/pdf.json
  src/main/webapp/i18n/en/pdf.json
Labels: server, client

use util files
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/UserTestData.java
Labels: tests

updated package-lock.json
  package-lock.json
Labels: none

refactor and move to util files
  src/test/java/de/tum/cit/aet/usermanagement/service/ResearchGroupServiceTest.java
  src/test/java/de/tum/cit/aet/utility/testdata/PageTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
Labels: tests

adjust liquibase
  src/main/resources/config/liquibase/changelog/00000000000013_create_interview_slot_table.xml
Labels: none

`Development`: Research group detail view for admins (#1155)
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/shared/components/atoms/description-list/description-list.html
  src/main/webapp/app/shared/components/atoms/description-list/description-list.ts
  src/main/webapp/app/shared/components/atoms/link-list/link-list.html
  src/main/webapp/app/shared/components/atoms/link-list/link-list.ts
  src/main/webapp/app/shared/components/atoms/prose/prose.html
  src/main/webapp/app/shared/components/atoms/prose/prose.ts
  src/main/webapp/app/shared/components/atoms/section/section.html
  src/main/webapp/app/shared/components/atoms/section/section.ts
  src/main/webapp/app/shared/components/atoms/sub-section/sub-section.html
  src/main/webapp/app/shared/components/atoms/sub-section/sub-section.ts
  src/main/webapp/app/shared/components/molecules/comment-section/comment-section.html
  src/main/webapp/app/shared/components/molecules/comment-section/comment-section.ts
  src/main/webapp/app/shared/components/molecules/document-dialog/document-dialog.html
  src/main/webapp/app/shared/components/molecules/document-dialog/document-dialog.ts
  src/main/webapp/app/shared/components/molecules/rating-section/rating-section.html
  src/main/webapp/app/shared/components/molecules/rating-section/rating-section.ts
  src/main/webapp/app/shared/components/organisms/document-section/document-section.html
  src/main/webapp/app/shared/components/organisms/document-section/document-section.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-detail-view/research-group-detail-view.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/button.json
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/button.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/evaluation/components/comment-section/comment-section.spec.ts
  src/test/webapp/app/evaluation/components/document-dialog/document-dialog.spec.ts
  src/test/webapp/app/evaluation/components/document-section/document-section.spec.ts
  src/test/webapp/app/evaluation/components/prose/prose.spec.ts
  src/test/webapp/app/evaluation/components/rating-section/rating-section.spec.ts
Labels: client, tests

add java doc
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
Labels: server

adjust liquibase
  src/main/resources/config/liquibase/changelog/00000000000013_create_interview_slot_table.xml
Labels: none

`General`: Adapt sidebar and footer design (#1248)
  src/main/webapp/app/layouts/footer/footer.component.scss
  src/main/webapp/app/layouts/main/main.component.html
  src/main/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.scss
  src/main/webapp/content/scss/_header.scss
  src/main/webapp/content/scss/global.scss
Labels: client

`General`: Improve seo for tumapply (#1243)
  angular.json
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/webapp/googledd0b8a13f86d0918.html
  src/main/webapp/index.html
  src/main/webapp/robots.txt
  src/main/webapp/sitemap.xml
Labels: server, client

adjust table name
  src/main/java/de/tum/cit/aet/interview/domain/InterviewSlot.java
  src/main/resources/config/liquibase/changelog/00000000000013_create_interview_slot_table.xml
Labels: server

add InterviewSlotRepository
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
Labels: server

add InterviewSlot entity
  src/main/java/de/tum/cit/aet/interview/domain/InterviewSlot.java
Labels: server

`General`: Allow setting initial datepicker view (#1246)
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
Labels: client

add liquibase file
  src/main/java/de/tum/cit/aet/interview/domain/InterviewSlot.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/resources/config/liquibase/changelog/00000000000013_create_interview_slot_table.xml
  src/main/resources/config/liquibase/master.xml
Labels: server, database

create endpoint
  src/main/java/de/tum/cit/aet/interview/dto/CreateSlotsDTO.java
  src/main/java/de/tum/cit/aet/interview/dto/InterviewSlotDTO.java
  src/main/java/de/tum/cit/aet/interview/repository/InterviewSlotRepository.java
  src/main/java/de/tum/cit/aet/interview/service/InterviewService.java
  src/main/java/de/tum/cit/aet/interview/web/InterviewResource.java
Labels: server

`Development`: Fix stacking in application creation (#1247)
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
Labels: client

adjust padding
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
Labels: client

add bruno file
  docs-github/TUMApply API/Interview/Create Slots.bru
Labels: none

Fix eslint
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/ResearchGroupResource.java
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.ts
  src/main/webapp/app/shared/components/molecules/onboarding-dialog/professor-request-access-form/professor-request-access-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.html
  src/main/webapp/app/usermanagement/research-group/research-group-admin-view/research-group-admin-view.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
  src/test/webapp/app/shared/components/molecules/onboarding-dialog/onboarding-dialog.spec.ts
  src/test/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.spec.ts
Labels: server, client, tests, user management

fix error
  src/main/java/de/tum/cit/aet/usermanagement/service/ResearchGroupService.java
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.html
  src/main/webapp/app/shared/components/molecules/research-group-creation-form/research-group-creation-form.component.ts
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/en/research-group.json
Labels: server, client, user management

add scss class
  src/main/webapp/content/scss/global.scss
Labels: client

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

application:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/application/**
      - any-glob-to-any-file: src/main/webapp/app/pages/application/**

job:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/job/**
      - any-glob-to-any-file: src/main/webapp/app/pages/job/**

evaluation:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/evaluation/**
      - any-glob-to-any-file: src/main/webapp/app/pages/evaluation/**

user management:
  - changed-files:
      - any-glob-to-any-file: src/main/java/de/tum/cit/aet/usermanagement/**
      - any-glob-to-any-file: src/main/webapp/app/pages/usermanagement/**
