Repository ls1intum/tum-apply, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database, docker, config-change

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

fix: applicationreview belongs to the evaluation module, not the application module
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/evaluation/domain/ApplicationReview.java
Labels: server

`Development`: ESLint and Prettier configuration (#61)
  .prettierrc
  eslint.config.mjs
  package.json
Labels: none

fix: addendum, forgot to commit
  src/main/java/de/tum/cit/aet/application/repository/ApplicationReviewRepository.java
Labels: server

fix: moved const from domain into core
  src/main/java/de/tum/cit/aet/core/constants/DocumentType.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
Labels: server

chore: fix issues in client style github workflow using --fix
  eslint.config.mjs
Labels: none

chore: fix issues in client style github workflow using --fix
  src/main/webapp/app/admin/configuration/configuration.component.spec.ts
  src/main/webapp/app/admin/configuration/configuration.component.ts
  src/main/webapp/app/admin/health/health.component.spec.ts
  src/main/webapp/app/admin/health/modal/health-modal.component.spec.ts
  src/main/webapp/app/admin/logs/logs.component.spec.ts
Labels: client

chore: fix issues in client style github workflow manually
  src/main/webapp/app/shared/filter/filter.model.ts
  src/main/webapp/app/shared/pagination/item-count.component.spec.ts
  src/main/webapp/app/shared/pagination/item-count.component.ts
  src/main/webapp/app/shared/sort/sort.service.ts
Labels: client

chore: fix issues in client style github workflow manually
  src/main/webapp/app/shared/auth/has-any-authority.directive.ts
  src/main/webapp/app/shared/sort/sort.service.ts
Labels: client

`Development`: Adjust classes to use auditing superclass (#70)
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/core/domain/AbstractAuditingEntity.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/evaluation/domain/InternalComment.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
Labels: server

chore: fix issues in client style github workflow manually
  src/main/webapp/app/layouts/main/main.component.spec.ts
  src/main/webapp/app/shared/alert/alert-error.component.ts
Labels: client

chore: fix issues in client style github workflow manually
  src/main/webapp/app/shared/sort/sort.service.ts
Labels: client

chore: fix issues in client style github workflow manually
  eslint.config.mjs
Labels: none

chore: fix issues in client style github workflow manually
  src/main/webapp/app/admin/configuration/configuration.component.ts
Labels: client

chore: fix issues in client style github workflow manually
  eslint.config.mjs
Labels: none

chore: fix issues in client style github workflow manually
  src/main/webapp/app/layouts/main/main.component.spec.ts
  src/main/webapp/app/shared/date/duration.pipe.ts
  src/main/webapp/app/shared/filter/filter.model.ts
Labels: client

chore: fix issues in client style github workflow manually
  src/main/webapp/app/app.config.ts
  src/main/webapp/app/core/auth/account.service.ts
Labels: client

chore: fix issues in client style github workflow manually
  eslint.config.mjs
Labels: none

chore: fix issues in client style github workflow manually
  eslint.config.mjs
Labels: none

chore: fix issues in client style github workflow manually
  eslint.config.mjs
Labels: none

chore: fix issues in client style github workflow manually
  src/main/webapp/app/entities/admin/authority/list/authority.component.ts
  src/main/webapp/app/layouts/error/error.component.ts
  src/main/webapp/app/layouts/profiles/profile.service.ts
  src/main/webapp/app/shared/alert/alert.component.ts
Labels: client

chore: fix issues in client style github workflow manually
  eslint.config.mjs
Labels: none

chore: fix issues in client style github workflow manually
  src/main/webapp/app/shared/filter/filter.model.ts
  src/main/webapp/bootstrap.ts
Labels: client

chore: fix issues in client style github workflow manually
  src/main/webapp/app/shared/filter/filter.model.ts
Labels: client

chore: remove unnecessary null-checks
  src/main/webapp/app/layouts/error/error.component.ts
  src/main/webapp/app/shared/alert/alert.component.ts
  src/main/webapp/app/shared/date/duration.pipe.ts
Labels: client

feat: add basic server structure for job module
  src/main/java/de/tum/cit/aet/job/api/SomeController.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobDetailDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/service/SomeService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
Labels: server

feat: Fix server-style issues caused by javadoc comments
  src/main/java/de/tum/cit/aet/job/service/JobService.java
Labels: server

feat: Fix server-style issues caused by javadoc comments
  src/main/java/de/tum/cit/aet/job/dto/JobDetailDTO.java
Labels: server

feat: Fix server-style issues caused by javadoc comments
  src/main/java/de/tum/cit/aet/job/dto/JobDetailDTO.java
Labels: server

fix: Adjust Job, Applicant, and Application Entities to match the current Database Schema.
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

feature: Add DRAFT state for jobs, so drafts can be filtered out in the Job Listing View.
  src/main/java/de/tum/cit/aet/job/constants/State.java
Labels: server

fix: removed the OneToMany relation between Applicant and Document
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

fix: minor restructure of server moved ApplicationReview into Evalution Module moved core.domain.constants from to core.constants
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationReviewRepository.java
  src/main/java/de/tum/cit/aet/core/constants/DocumentType.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/evaluation/domain/ApplicationReview.java
Labels: server

fix: moved the repository as well
  src/main/java/de/tum/cit/aet/evaluation/repository/ApplicationReviewRepository.java
Labels: server

remove unneccessary workflow
  .github/workflows/issue-labler.yml
Labels: none

fix(test-data): integrated database changes
  src/main/java/de/tum/cit/aet/usermanagement/constants/UserRole.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/UserResearchGroupRole.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/01_users.sql
  src/main/resources/testdata/02_research_groups.sql
  src/main/resources/testdata/03_user_roles.sql
  src/main/resources/testdata/04_user_login_providers.sql
Labels: server

fix(test-data): fix issue with renaming
  src/main/java/de/tum/cit/aet/application/constants/ApplicationStatus.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/UserResearchGroupRole.java
Labels: server

fix(test-data): change head format in liquibase changeset and sql insert statement
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/02_research_groups.sql
Labels: none

`Development`: Minor restructure of server (#73)
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/core/constants/DocumentType.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/evaluation/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/evaluation/repository/ApplicationReviewRepository.java
Labels: server

feature: Add country and hasStudiedAtTum columns to Applicant Entity, in order to align with AOM fields
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server

fix(test-data): add birthday and selected language
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/01_users.sql
Labels: server
