Repository ls1intum/tum-apply, pull requests merged in 2025-07, with the labels that each got.

#237 `Development`: Adjust production deployment
  .github/workflows/deploy-to-production.yml
Labels: bug, ready for review, shared

#233 `Development`: Add functions to improve ways of fetching user information
  .github/workflows/codeql-analysis.yml
  docs/AUTH.md
  src/main/java/de/tum/cit/aet/core/domain/CurrentUser.java
  src/main/java/de/tum/cit/aet/core/domain/ResearchGroupRole.java
  src/main/java/de/tum/cit/aet/core/dto/UiTextFormatter.java
  src/main/java/de/tum/cit/aet/core/repository/DocumentDictionaryEntityRepositoryImpl.java
  src/main/java/de/tum/cit/aet/core/security/AccessTarget.java
  src/main/java/de/tum/cit/aet/core/security/CheckAccess.java
  src/main/java/de/tum/cit/aet/core/security/CheckAccessAspect.java
  src/main/java/de/tum/cit/aet/core/security/SecurityUtils.java
  src/main/java/de/tum/cit/aet/core/security/SpringSecurityAuditorAware.java
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/core/util/CriteriaUtils.java
  src/test/java/de/tum/cit/aet/core/security/SecurityUtilsUnitTest.java
Labels: enhancement, server, ready for review, tests, shared

#243 `Development`: Add research group to account service
  src/main/webapp/app/core/auth/account.service.ts
Labels: enhancement, ready for review, client

#240 `Usability`: Add dynamic footer
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/layouts/footer/footer.component.html
  src/main/webapp/app/layouts/footer/footer.component.scss
  src/main/webapp/app/layouts/footer/footer.component.ts
  src/main/webapp/app/shared/pages/imprint-page/imprint-page.component.html
  src/main/webapp/app/shared/pages/imprint-page/imprint-page.component.scss
  src/main/webapp/app/shared/pages/imprint-page/imprint-page.component.spec.ts
  src/main/webapp/app/shared/pages/imprint-page/imprint-page.component.ts
  src/main/webapp/app/shared/pages/privacy-page/privacy-page.component.html
  src/main/webapp/app/shared/pages/privacy-page/privacy-page.component.scss
  src/main/webapp/app/shared/pages/privacy-page/privacy-page.component.spec.ts
  src/main/webapp/app/shared/pages/privacy-page/privacy-page.component.ts
  src/main/webapp/i18n/de.json
  src/main/webapp/i18n/de/footer.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/imprint.json
  src/main/webapp/i18n/de/privacy.json
  src/main/webapp/i18n/en.json
  src/main/webapp/i18n/en/footer.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/imprint.json
  src/main/webapp/i18n/en/privacy.json
Labels: client

#244 `Usability`: Improve landing page responsiveness
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/information-section/information-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/information-section/information-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/voices-section/voices-section.component.scss
  src/main/webapp/content/images/landing-page/doctoral-journey-section/landing-page-doctoral-journey.jpg
  src/main/webapp/content/images/landing-page/hero-section/landing-page-hero-section-1.png
  src/main/webapp/content/images/landing-page/hero-section/landing-page-hero-section-2.jpg
  src/main/webapp/content/images/landing-page/information-section/diversity.png
  src/main/webapp/content/images/landing-page/information-section/events.png
  src/main/webapp/content/images/landing-page/information-section/excellence.png
  src/main/webapp/content/images/landing-page/information-section/funding.png
  src/main/webapp/content/images/landing-page/information-section/internationality.png
  src/main/webapp/content/images/landing-page/information-section/women.png
  src/main/webapp/content/images/landing-page/voices-section/aline-vogt.png
  src/main/webapp/content/images/landing-page/voices-section/emily-wagner.png
  src/main/webapp/content/images/landing-page/voices-section/lukas-mueller.png
  src/main/webapp/content/images/landing-page/voices-section/max-richter.png
  src/main/webapp/content/images/landing-page/voices-section/sofia-klein.png
  src/main/webapp/i18n/de.json
  src/main/webapp/i18n/en.json
Labels: client

#238 `Development`: Add job closing compatibility server side
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/constants/ApplicationState.java
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationShortDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/generated/model/application.ts
  src/main/webapp/app/generated/model/applicationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationForApplicantDTO.ts
  src/main/webapp/app/generated/model/applicationOverviewDTO.ts
  src/main/webapp/app/generated/model/createApplicationDTO.ts
  src/main/webapp/app/generated/model/jobDetailDTO.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/updateApplicationDTO.ts
  src/main/webapp/app/job/job-detail/job-detail.component.spec.ts
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: server, ready for review, client, job, application

#250 `Development`: Deploy GitHub secrets securely
  .github/workflows/build.yml
  docker/compose-prod.yaml
  docker/compose.yaml
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
Labels: enhancement, ready for review, config-change, docker

#242 `Development`: Fix sidebar and browse button
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.ts
  src/main/webapp/i18n/de/header.json
  src/main/webapp/i18n/en/header.json
Labels: enhancement, server, ready for review, client, shared

#255 `Development`: Update test data scripts for database
  src/main/resources/testdata/01_users.sql
  src/main/resources/testdata/02_research_groups.sql
  src/main/resources/testdata/03_user_roles.sql
  src/main/resources/testdata/04_jobs.sql
  src/main/resources/testdata/05_custom_fields.sql
  src/main/resources/testdata/06_applicants.sql
  src/main/resources/testdata/07_applications.sql
  src/main/resources/testdata/08_application_reviews.sql
Labels: ready for review, database

#254 `Usability`: Further improvements on landing page
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/information-section/information-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/voices-section/voices-section.component.scss
  src/main/webapp/content/scss/_breakpoints.scss
Labels: client

#259 `Development`: Allow job detail page to be accessed without logging in
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/webapp/app/app.routes.ts
Labels: server, ready for review, client

#261 `Usability`: Add external link icon
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/molecules/button-group/button-group.component.html
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.ts
  src/main/webapp/app/shared/pages/landing-page/information-section/information-card/information-card/information-card.component.html
  src/main/webapp/app/shared/pages/landing-page/information-section/information-card/information-card/information-card.component.ts
  src/main/webapp/content/scss/global.scss
Labels: client

#262 `Development`: Disable dark mode
  src/main/webapp/app/app.component.ts
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.spec.ts
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/bootstrap.ts
Labels: ready for review, client, shared

#263 `Development`: Fix testdata sql scripts
  src/main/resources/testdata/07_applications.sql
  src/main/resources/testdata/09_internal_comments.sql
Labels: bug, ready for review, shared

#257 `Development`: Add action buttons to job detail page
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.scss
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.html
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.spec.ts
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: ready for review, client

#264 `Development`: Fix spelling of nationalities in sql testdata
  src/main/resources/testdata/01_users.sql
Labels: ready for review

#234 `Development`: Add automatic saving
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/domain/dto/CreateApplicationDTO.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/resources/testdata/07_applications.sql
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.scss
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.spec.ts
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.html
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.spec.ts
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/applicationResource.service.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/pageableObject.ts
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.ts
Labels: server, ready for review, client, application

#268 `Usability`: Adapt readme
  README.md
  docs/application/document-upload.md
  docs/application/endpoints.md
  docs/application/flow.md
  docs/application/validation.md
  docs/auth/authentication-flow.md
  docs/auth/authorization.md
  docs/auth/keycloak-setup.md
  docs/deployment/build-production.md
  docs/deployment/docker.md
  docs/deployment/environment-config.md
  docs/errors/error-handling.md
  docs/evaluation/endpoints.md
  docs/evaluation/ratings.md
  docs/evaluation/reviewer-workflow.md
  docs/intro/features.md
  docs/intro/personas.md
  docs/intro/project-overview.md
  docs/job/create-edit-publish.md
  docs/job/endpoints.md
  docs/setup/database-setup.md
  docs/setup/dev-environment.md
  docs/setup/openapi.md
  docs/testing/bruno.md
  docs/testing/testing-guide.md
  docs/theming/color-theming.md
  docs/user-management/endpoints.md
Labels: documentation, enhancement, ready for review, shared

#269 `Usability`: Add project architecture to ReadMe
  README.md
  docs/architecture/tumapply-project-architecture.svg
Labels: documentation, enhancement, ready for review

#265 `Development`: Minor code improvements in different areas
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/evaluation/repository/ApplicationEvaluationRepository.java
  src/main/java/de/tum/cit/aet/evaluation/repository/JobEvaluationRepository.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.scss
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/evaluation/application-overview/application-overview.component.scss
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/generated/api/applicationEvaluationResource.service.ts
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.ts
  src/main/webapp/app/shared/components/organisms/dynamic-table/dynamic-table.component.html
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/de/sidebar.json
  src/main/webapp/i18n/en/evaluation.json
  src/main/webapp/i18n/en/sidebar.json
Labels: server, client, evaluation

#267 `Development`: Add translation for remaining pages in job module
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.html
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.spec.ts
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.ts
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.html
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.scss
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.html
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.html
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.ts
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.html
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.spec.ts
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.ts
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: ready for review, client

#239 `Development`: Add multiple document viewer
  openapi/openapi.yaml
  package-lock.json
  package.json
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.scss
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/.openapi-generator/VERSION
  src/main/webapp/app/generated/README.md
  src/main/webapp/app/generated/api.base.service.ts
  src/main/webapp/app/generated/api/applicationResource.service.ts
  src/main/webapp/app/generated/api/documentResource.service.ts
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/generated/api/userResource.service.ts
  src/main/webapp/app/generated/configuration.ts
  src/main/webapp/app/generated/index.ts
  src/main/webapp/app/generated/model/applicant.ts
  src/main/webapp/app/generated/model/applicantDTO.ts
  src/main/webapp/app/generated/model/applicantForApplicationDetailDTO.ts
  src/main/webapp/app/generated/model/application.ts
  src/main/webapp/app/generated/model/applicationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationForApplicantDTO.ts
  src/main/webapp/app/generated/model/applicationOverviewDTO.ts
  src/main/webapp/app/generated/model/createdJobDTO.ts
  src/main/webapp/app/generated/model/customField.ts
  src/main/webapp/app/generated/model/job.ts
  src/main/webapp/app/generated/model/jobDTO.ts
  src/main/webapp/app/generated/model/jobDetailDTO.ts
  src/main/webapp/app/generated/model/jobFormDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/pageableObject.ts
  src/main/webapp/app/generated/model/rejectDTO.ts
  src/main/webapp/app/generated/model/sortObject.ts
  src/main/webapp/app/generated/model/updateApplicationDTO.ts
  src/main/webapp/app/generated/model/userResearchGroupRole.ts
  src/main/webapp/app/generated/model/userShortDTO.ts
  src/main/webapp/app/generated/provide-api.ts
  src/main/webapp/app/generated/tsconfig.json
  src/main/webapp/app/shared/components/atoms/document-viewer/document-viewer.component.html
  src/main/webapp/app/shared/components/atoms/document-viewer/document-viewer.component.spec.ts
  src/main/webapp/app/shared/components/atoms/document-viewer/document-viewer.component.ts
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.html
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: ready for review, client

#274 `Usability`: Fix alignment of information card title and grid layout
  src/main/webapp/app/shared/pages/landing-page/information-section/information-section.component.scss
  src/main/webapp/i18n/de.json
  src/main/webapp/i18n/en.json
Labels: client

#276 `Development`: Fix job closing logic in sql scripts
  src/main/resources/testdata/04_jobs.sql
  src/main/resources/testdata/07_applications.sql
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.html
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.scss
Labels: ready for review, client

#258 `Development`: Applicant page fixes from confluence
  src/main/resources/testdata/01_users.sql
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.scss
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.html
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.spec.ts
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.scss
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.scss
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.spec.ts
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.ts
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.html
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.scss
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.spec.ts
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.ts
  src/main/webapp/content/scss/_header.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: ready for review, client

#277 `Development`: Fix translation of sort bar and draft button logic
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.ts
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.html
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.ts
Labels: ready for review, client

#275 `Development`: Improve document viewers in evaluation page
  src/main/resources/testdata/07_applications.sql
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.scss
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/shared/components/molecules/document-group/document-group.component.html
  src/main/webapp/app/shared/components/molecules/document-group/document-group.component.scss
  src/main/webapp/app/shared/components/molecules/document-group/document-group.component.spec.ts
  src/main/webapp/app/shared/components/molecules/document-group/document-group.component.ts
Labels: ready for review, client

#278 `Development`: Fix translation of sort bar
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: ready for review, client

#279 `General`: Fix base url
  src/main/webapp/app/generated/api.base.service.ts
Labels: ready for review, client, shared, config-change

#272 `Development`: Add more notifications
  .github/workflows/check-server-start.yml
  .github/workflows/test.yml
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationShortDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/core/service/TemplateService.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationDetailDTO.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/config/application.yml
  src/main/resources/templates/de/application_accepted_subject.ftl
  src/main/resources/templates/en/application_accepted_subject.ftl
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/generated/model/applicationEvaluationDetailDTO.ts
  src/test/resources/config/application.yml
Labels: server, ready for review, client, tests, job, application, evaluation, config-change

#296 `Development`: Fix conversion of workload inside find positions page
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/.openapi-generator/VERSION
  src/main/webapp/app/generated/README.md
  src/main/webapp/app/generated/api.base.service.ts
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/applicationEvaluationResource.service.ts
  src/main/webapp/app/generated/api/applicationResource.service.ts
  src/main/webapp/app/generated/api/documentResource.service.ts
  src/main/webapp/app/generated/api/emailLoginResource.service.ts
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/generated/api/userResource.service.ts
  src/main/webapp/app/generated/configuration.ts
  src/main/webapp/app/generated/index.ts
  src/main/webapp/app/generated/model/applicant.ts
  src/main/webapp/app/generated/model/applicantDTO.ts
  src/main/webapp/app/generated/model/applicantForApplicationDetailDTO.ts
  src/main/webapp/app/generated/model/application.ts
  src/main/webapp/app/generated/model/applicationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationForApplicantDTO.ts
  src/main/webapp/app/generated/model/applicationOverviewDTO.ts
  src/main/webapp/app/generated/model/createdJobDTO.ts
  src/main/webapp/app/generated/model/customField.ts
  src/main/webapp/app/generated/model/job.ts
  src/main/webapp/app/generated/model/jobCardDTO.ts
  src/main/webapp/app/generated/model/jobDTO.ts
  src/main/webapp/app/generated/model/jobDetailDTO.ts
  src/main/webapp/app/generated/model/jobFormDTO.ts
  src/main/webapp/app/generated/model/loginRequestDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/rejectDTO.ts
  src/main/webapp/app/generated/model/updateApplicationDTO.ts
  src/main/webapp/app/generated/model/userResearchGroupRole.ts
  src/main/webapp/app/generated/model/userShortDTO.ts
  src/main/webapp/app/generated/tsconfig.json
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.spec.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: bug, server, ready for review, client, job

#287 `General`: Applicant documentation
  docs/application/application-detail-page.md
  docs/application/application-editing-page.md
  docs/application/application-overview-page.md
  docs/application/document-upload.md
  docs/application/endpoints.md
Labels: ready for review

#290 `Development`: Create applicant fix
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationOverviewDTO.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantForApplicationDetailDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/ApplicantRepository.java
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/generated/api/applicationResource.service.ts
  src/main/webapp/app/generated/model/sortObject.ts
Labels: server, ready for review, client, user management, application, evaluation

#302 `Development`: Update server dependencies
  build.gradle
  docs/setup/dev-environment.md
  gradle.properties
  gradle/liquibase.gradle
  gradle/wrapper/gradle-wrapper.properties
  openapi/openapi.yaml
  src/main/docker/config/mysql/my.cnf
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/.openapi-generator/VERSION
  src/main/webapp/app/generated/README.md
  src/main/webapp/app/generated/api.base.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResource.service.ts
  src/main/webapp/app/generated/api/applicationResource.service.ts
  src/main/webapp/app/generated/api/documentResource.service.ts
  src/main/webapp/app/generated/api/emailLoginResource.service.ts
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/generated/api/userResource.service.ts
  src/main/webapp/app/generated/configuration.ts
  src/main/webapp/app/generated/index.ts
  src/main/webapp/app/generated/model/applicant.ts
  src/main/webapp/app/generated/model/applicantDTO.ts
  src/main/webapp/app/generated/model/applicantForApplicationDetailDTO.ts
  src/main/webapp/app/generated/model/application.ts
  src/main/webapp/app/generated/model/applicationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationForApplicantDTO.ts
  src/main/webapp/app/generated/model/applicationOverviewDTO.ts
  src/main/webapp/app/generated/model/createdJobDTO.ts
  src/main/webapp/app/generated/model/customField.ts
  src/main/webapp/app/generated/model/customFieldAnswerDTO.ts
  src/main/webapp/app/generated/model/internalComment.ts
  src/main/webapp/app/generated/model/job.ts
  src/main/webapp/app/generated/model/jobDTO.ts
  src/main/webapp/app/generated/model/jobDetailDTO.ts
  src/main/webapp/app/generated/model/jobFormDTO.ts
  src/main/webapp/app/generated/model/pageableObject.ts
  src/main/webapp/app/generated/model/rejectDTO.ts
  src/main/webapp/app/generated/model/updateApplicationDTO.ts
  src/main/webapp/app/generated/model/userResearchGroupRole.ts
  src/main/webapp/app/generated/model/userShortDTO.ts
  src/main/webapp/app/generated/tsconfig.json
Labels: server, client

#299 `Development`: Adjust database schema for jobs table
  .prettierignore
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/job/dto/JobDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobDetailDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/config/liquibase/changelog/00000000000001_alter_jobs_add_end_date.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/04_jobs.sql
  src/main/webapp/app/generated/README.md
  src/main/webapp/app/generated/model/job.ts
  src/main/webapp/app/generated/model/jobDTO.ts
  src/main/webapp/app/generated/model/jobDetailDTO.ts
  src/main/webapp/app/generated/model/jobFormDTO.ts
  src/main/webapp/app/generated/model/pageableObject.ts
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.scss
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.html
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: server, ready for review, client, database, job
