Repository ls1intum/tum-apply, pull requests merged in 2025-04, with the labels that each got.

#49 `General`: Fix checkstyle violations and gradle build
  src/main/java/de/tum/cit/aet/core/config/CacheConfiguration.java
  src/main/java/de/tum/cit/aet/core/config/LiquibaseConfiguration.java
  src/main/java/de/tum/cit/aet/core/config/OAuth2Configuration.java
  src/main/java/de/tum/cit/aet/core/config/OpenApiConfiguration.java
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/config/WebConfigurer.java
  src/main/java/de/tum/cit/aet/core/security/oauth2/AudienceValidator.java
  src/main/java/de/tum/cit/aet/core/security/oauth2/CustomClaimConverter.java
  src/main/java/de/tum/cit/aet/core/service/mapper/UserMapper.java
  src/main/java/de/tum/cit/aet/core/web/rest/errors/ExceptionTranslator.java
  src/test/java/de/tum/cit/aet/core/config/WebConfigurerTest.java
Labels: server, ready for review, tests

#53 Revert "Configure Mend Bolt for GitHub"
  .whitesource
Labels: ready for review

#56 `Development`: Lombok integration
  build.gradle
Labels: dependencies

#55 `Development`: Add database entities
  build.gradle
  src/main/java/de/tum/cit/aet/core/constants/State.java
  src/main/java/de/tum/cit/aet/core/constants/UserGroup.java
  src/main/java/de/tum/cit/aet/core/domain/Applicant.java
  src/main/java/de/tum/cit/aet/core/domain/Job.java
  src/main/java/de/tum/cit/aet/core/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/core/domain/User.java
  src/main/java/de/tum/cit/aet/core/service/UserService.java
  src/main/java/de/tum/cit/aet/core/service/dto/AdminUserDTO.java
  src/main/java/de/tum/cit/aet/core/service/dto/UserDTO.java
  src/main/java/de/tum/cit/aet/core/service/mapper/UserMapper.java
  src/test/java/de/tum/cit/aet/core/service/UserServiceIT.java
  src/test/java/de/tum/cit/aet/core/service/mapper/UserMapperTest.java
  src/test/java/de/tum/cit/aet/core/web/rest/PublicUserResourceIT.java
  src/test/java/de/tum/cit/aet/core/web/rest/UserResourceIT.java
Labels: server, ready for review, tests

#57 `Development`: Database application entities
  src/main/java/de/tum/cit/aet/application/constants/ApplicationStatus.java
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationReviewRepository.java
  src/main/java/de/tum/cit/aet/application/repository/SomeRepository.java
  src/main/java/de/tum/cit/aet/core/domain/Applicant.java
  src/main/java/de/tum/cit/aet/core/domain/Job.java
Labels: server

#64 `Development`: Adjusted reject reason
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/application/domain/RejectReason.java
Labels: server

#65 `Development`: Add more application statuses
  src/main/java/de/tum/cit/aet/application/constants/ApplicationStatus.java
Labels: server

#63 `Development`: Added Custom Fields data structure
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/CustomField.java
  src/main/java/de/tum/cit/aet/application/domain/CustomFieldAnswer.java
  src/main/java/de/tum/cit/aet/application/repository/CustomFieldAnswerRepository.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/core/domain/converter/StringListConverter.java
  src/main/java/de/tum/cit/aet/job/constants/CustomFieldType.java
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/job/repository/CustomFieldRepository.java
  src/main/java/de/tum/cit/aet/job/repository/SomeRepository.java
Labels: server

#69 `General`: Refactor Applicant entity to use applicantId instead of userId
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
Labels: server, ready for review

#61 `Development`: ESLint and Prettier configuration
  .prettierrc
  eslint.config.mjs
  package.json
Labels: dependencies, stale

#70 `Development`: Adjust classes to use auditing superclass
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/core/domain/AbstractAuditingEntity.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/evaluation/domain/InternalComment.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
Labels: server

#73 `Development`: Minor restructure of server
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/core/constants/DocumentType.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/evaluation/domain/ApplicationReview.java
  src/main/java/de/tum/cit/aet/evaluation/repository/ApplicationReviewRepository.java
Labels: server

#66 `General`: Example User Management SQL Scripts And Liquibase Update
  README.md
  gradle/liquibase.gradle
  src/main/java/de/tum/cit/aet/application/constants/ApplicationStatus.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/UserRole.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/UserResearchGroupRole.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/testdata/01_users.sql
  src/main/resources/testdata/02_research_groups.sql
  src/main/resources/testdata/03_user_roles.sql
  src/main/resources/testdata/import-testdata.sh
Labels: enhancement, server, ready for review, database

#74 `Development`: Add basic server structure for job module
  src/main/java/de/tum/cit/aet/job/api/SomeController.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobDetailDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/service/SomeService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
Labels: server, ready for review

#75 `Development`: Adjust job, applicant, and application entity fields
  src/main/java/de/tum/cit/aet/application/constants/ApplicationState.java
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/evaluation/constants/RejectReason.java
  src/main/java/de/tum/cit/aet/job/constants/Campus.java
  src/main/java/de/tum/cit/aet/job/constants/FundingType.java
  src/main/java/de/tum/cit/aet/job/constants/JobState.java
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/GradingScale.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
Labels: server, ready for review

#94 `Development`: Restructured client modules
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/core/auth/auth-session.service.ts
  src/main/webapp/app/core/auth/user-route-access.service.ts
  src/main/webapp/app/core/interceptor/auth-expired.interceptor.ts
  src/main/webapp/app/layouts/navbar/navbar.component.spec.ts
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/pages/application/application.module.ts
  src/main/webapp/app/pages/evaluation/evaluation.module.ts
  src/main/webapp/app/pages/job/job.module.ts
  src/main/webapp/app/pages/misc/home/home.component.html
  src/main/webapp/app/pages/misc/home/home.component.scss
  src/main/webapp/app/pages/misc/home/home.component.spec.ts
  src/main/webapp/app/pages/misc/home/home.component.ts
  src/main/webapp/app/pages/misc/misc.module.ts
  src/main/webapp/app/pages/pages.module.ts
  src/main/webapp/app/pages/usermanagement/login/login.service.ts
  src/main/webapp/app/pages/usermanagement/login/logout.model.ts
  src/main/webapp/app/pages/usermanagement/usermanagement.module.ts
  src/main/webapp/app/shared/components/atoms/atoms.module.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.scss
  src/main/webapp/app/shared/components/atoms/button/button.component.spec.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/components.module.ts
  src/main/webapp/app/shared/components/molecules/molecules.module.ts
  src/main/webapp/app/shared/components/organisms/organisms.module.ts
Labels: client

#93 `General`: Add sql testdata for jobs and custom fields
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/04_jobs.sql
  src/main/resources/testdata/05_custom_fields.sql
Labels: server, ready for review
