Repository ls1intum/tum-apply, pull requests merged in 2025-10, with the labels that each got.

#829 `General`: Add filter sort to job overview
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/util/StringUtil.java
  src/main/java/de/tum/cit/aet/job/constants/Campus.java
  src/main/java/de/tum/cit/aet/job/dto/AvailableJobsFilterDTO.java
  src/main/java/de/tum/cit/aet/job/dto/JobFiltersDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
  src/main/webapp/app/core/util/array-util.service.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/model/jobFiltersDTO.ts
  src/main/webapp/app/job/dropdown-options.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.ts
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.html
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.scss
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: server, client, job, ready for merge

#897 `Usability`: Add more information to grading scale fields
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
  src/main/webapp/app/shared/components/atoms/select/select.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: ready for review, client

#899 `Bugfix`: Fixes to editor validation and overflow
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/components/atoms/editor/editor.component.html
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.scss
  src/main/webapp/app/shared/validators/custom-validators.ts
  src/main/webapp/content/scss/global.scss
Labels: ready for review, client

#763 `General`: Adjust workflows for openapi
  .github/workflows/auto-generate-openapi.yml
  .github/workflows/check-server-start.yml
  .github/workflows/pullrequest-labeler.yml
  .github/workflows/test.yml
  .github/workflows/validate-openapi.yml
  Dockerfile
  build.gradle
  docs-github/setup/dev-environment.md
  gradle.properties
  gradle/docker.gradle
  gradle/openapi.gradle
  openapi/openapi.yaml
  package-lock.json
  src/main/java/de/tum/cit/aet/notification/service/EmailTemplateInitializer.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/actuatorApi.service.ts
  src/main/webapp/app/generated/api/adminResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/api/authenticationResourceApi.service.ts
  src/main/webapp/app/generated/api/documentResourceApi.service.ts
  src/main/webapp/app/generated/api/emailSettingResourceApi.service.ts
  src/main/webapp/app/generated/api/emailTemplateResourceApi.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/generated/api/internalCommentResourceApi.service.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
  src/main/webapp/app/generated/api/publicConfigResourceApi.service.ts
  src/main/webapp/app/generated/api/ratingResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
  src/main/webapp/app/generated/model/link.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/pageableObject.ts
  src/main/webapp/app/generated/model/sortObject.ts
Labels: server, ready for review, client, stale

#917 `General`: Redesign application detail page for applicants
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationDetailDTO.java
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.scss
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/generated/model/applicationDetailDTO.ts
  src/main/webapp/content/scss/_header.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: server, ready for review, client, application, ui/ux improvement, ready for merge

#911 `General`: Add client tests for job overview page
  src/test/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/test/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.spec.ts
  src/test/webapp/util/translate.mock.ts
Labels: ready for review, tests, ready for merge

#912 `General`: Rename panel and page properties
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/service/localStorage.service.ts
Labels: client, ready for merge

#916 `Development`: Review comments time ago bug
  src/main/java/de/tum/cit/aet/evaluation/dto/InternalCommentDTO.java
Labels: server, evaluation, ready for merge

#926 `General`: Add client tests for job creation form
  src/test/webapp/app/job/job-creation-form/job-creation-form.component.spec.ts
Labels: ready for review, tests, ready for merge

#611 `Development`: Server tests for evaluation module
  checkstyle.xml
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/core/validation/Odd.java
  src/main/java/de/tum/cit/aet/core/validation/validator/OddValidator.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/test/java/de/tum/cit/aet/evaluation/web/rest/ApplicationEvaluationResourceTest.java
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/DatabaseCleaner.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicantTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/ApplicationTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/JobTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/ResearchGroupTestData.java
  src/test/java/de/tum/cit/aet/utility/testdata/UserTestData.java
  src/test/resources/application-test.properties
Labels: server, tests, evaluation, ready for merge
