Repository ls1intum/tum-apply, pull requests merged in 2025-06, with the labels that each got.

#172 `Development`: Add document upload/download functionality - server side
  .gitignore
  build.gradle
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/CustomFieldAnswer.java
  src/main/java/de/tum/cit/aet/application/service/ApplicantService.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/service/CustomFieldAnswerService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/java/de/tum/cit/aet/core/constants/DocumentType.java
  src/main/java/de/tum/cit/aet/core/constants/FileExtension.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/core/domain/DocumentDictionary.java
  src/main/java/de/tum/cit/aet/core/repository/DocumentDictionaryRepository.java
  src/main/java/de/tum/cit/aet/core/repository/DocumentRepository.java
  src/main/java/de/tum/cit/aet/core/service/DocumentDictionaryService.java
  src/main/java/de/tum/cit/aet/core/service/DocumentService.java
  src/main/java/de/tum/cit/aet/core/service/support/DocumentDictionaryOwnerSetter.java
  src/main/java/de/tum/cit/aet/core/web/DocumentResource.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/resources/config/application.yml
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/documentResource.service.ts
  src/main/webapp/app/generated/model/pageableObject.ts
  src/test/resources/config/application.yml
Labels: server, client, tests, application, evaluation, config-change

#169 `Development`: Add discard option to application creation/editing
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/09_internal_comments.sql
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/pageableObject.ts
Labels: server, ready for review, client, application

#173 `Development`: Add application table for applicants - client side
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationOverviewDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationEntityRepository.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationEntityRepositoryImpl.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/java/de/tum/cit/aet/core/dto/InstantToRelativeTimeLabelTranslator.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/UserDTO.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/07_applications.sql
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/applicationResource.service.ts
  src/main/webapp/app/generated/model/applicationOverviewDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/app/pages/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/pages/application/application-overview-for-applicant/application-overview-for-applicant.component.scss
  src/main/webapp/app/pages/application/application-overview-for-applicant/application-overview-for-applicant.component.spec.ts
  src/main/webapp/app/pages/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
Labels: server, ready for review, client, user management, job, application

#194 `Development`: Add rating and application-card
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.scss
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/shared/components/atoms/rating/rating.component.html
  src/main/webapp/app/shared/components/atoms/rating/rating.component.scss
  src/main/webapp/app/shared/components/atoms/rating/rating.component.spec.ts
  src/main/webapp/app/shared/components/atoms/rating/rating.component.ts
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.html
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.spec.ts
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.ts
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/en/evaluation.json
Labels: client

#202 `General`: Fix keycloak usability issues
  src/main/webapp/app/app.config.ts
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/core/auth/keycloak.service.ts
  src/main/webapp/app/core/auth/user-route-access.service.ts
  src/main/webapp/app/core/interceptor/auth.interceptor.ts
  src/main/webapp/app/layouts/main/main.component.ts
  src/main/webapp/app/shared/components/organisms/auth-card/auth-card.component.ts
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.spec.ts
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
Labels: bug, ready for review, client, shared

#201 `Development`: Add carousel to evaluation page
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/dto/OffsetPageDTO.java
  src/main/java/de/tum/cit/aet/core/util/OffsetPageRequest.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.scss
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/generated/api/applicationEvaluationResource.service.ts
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.html
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.scss
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.ts
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.html
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.scss
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.spec.ts
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/en/evaluation.json
Labels: server, ready for review, client, evaluation

#208 `Development`: Add window query and dynamic filtering
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/dto/FilterDTO.java
  src/main/java/de/tum/cit/aet/core/util/CriteriaUtils.java
  src/main/java/de/tum/cit/aet/core/util/SqlQueryUtil.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicantEvaluationDetailDTO.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationDetailDTO.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationDetailListDTO.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationListDTO.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationOverviewDTO.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationOverviewListDTO.java
  src/main/java/de/tum/cit/aet/evaluation/dto/UserEvaluationDetailDTO.java
  src/main/java/de/tum/cit/aet/evaluation/repository/custom/ApplicationEvaluationRepositoryCustom.java
  src/main/java/de/tum/cit/aet/evaluation/repository/impl/ApplicationEvaluationRepositoryImpl.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/applicationEvaluationResource.service.ts
  src/main/webapp/app/generated/model/applicantEvaluationDetailDTO.ts
  src/main/webapp/app/generated/model/applicantEvaluationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationDetailListDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewListDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/userEvaluationDetailDTO.ts
  src/main/webapp/app/generated/model/userEvaluationOverviewDTO.ts
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.html
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.spec.ts
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.ts
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.spec.ts
  src/main/webapp/app/shared/components/organisms/application-carousel/application-carousel.component.ts
Labels: server, ready for review, client, evaluation

#213 `Development`: Add sorting and filtering for my positions and job overview page
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/core/util/PageUtil.java
  src/main/java/de/tum/cit/aet/job/dto/AvailableJobsFilterDTO.java
  src/main/java/de/tum/cit/aet/job/dto/ProfessorJobsFilterDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/sortObject.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.spec.ts
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.html
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.scss
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.spec.ts
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.ts
Labels: server, ready for review, client, job

#215 `Development`: Add filter and sort bar
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/evaluation/application-overview/application-overview.component.scss
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/evaluation/filterSortOptions.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.scss
  src/main/webapp/app/shared/components/atoms/button/button.component.spec.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/atoms/filter-select/filter-select.component.html
  src/main/webapp/app/shared/components/atoms/filter-select/filter-select.component.scss
  src/main/webapp/app/shared/components/atoms/filter-select/filter-select.component.ts
  src/main/webapp/app/shared/components/molecules/filter-dialog/filter-dialog.component.html
  src/main/webapp/app/shared/components/molecules/filter-dialog/filter-dialog.component.scss
  src/main/webapp/app/shared/components/molecules/filter-dialog/filter-dialog.component.ts
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.html
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.scss
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.ts
  src/main/webapp/content/theming/tumapplypreset.ts
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/evaluation.json
  src/main/webapp/i18n/en/global.json
Labels: client

#207 `Development`: Add application detail component
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationDetailDTO.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantForApplicationDetailDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/UserForApplicationDetailDTO.java
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.scss
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.spec.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/applicationResource.service.ts
  src/main/webapp/app/generated/model/applicantForApplicationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationDetailDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/userForApplicationDetailDTO.ts
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.html
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.scss
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.spec.ts
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: server, ready for review, client, user management, application
