Repository ls1intum/tum-apply, pull requests merged in 2025-08, with the labels that each got.

#448 `Development`: Implement automatic saving in job creation form
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api.base.service.ts
  src/main/webapp/app/generated/api.module.ts
  src/main/webapp/app/generated/api/actuator.service.ts
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/applicationEvaluationResource.service.ts
  src/main/webapp/app/generated/api/documentResource.service.ts
  src/main/webapp/app/generated/api/emailLoginResource.service.ts
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/generated/api/userResource.service.ts
  src/main/webapp/app/generated/configuration.ts
  src/main/webapp/app/generated/encoder.ts
  src/main/webapp/app/generated/model/acceptDTO.ts
  src/main/webapp/app/generated/model/applicantDTO.ts
  src/main/webapp/app/generated/model/applicantForApplicationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationDocumentIdsDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationDetailListDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewListDTO.ts
  src/main/webapp/app/generated/model/applicationForApplicantDTO.ts
  src/main/webapp/app/generated/model/applicationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationReview.ts
  src/main/webapp/app/generated/model/createdJobDTO.ts
  src/main/webapp/app/generated/model/customField.ts
  src/main/webapp/app/generated/model/customFieldAnswer.ts
  src/main/webapp/app/generated/model/documentInformationHolderDTO.ts
  src/main/webapp/app/generated/model/jobFilterOptionDTO.ts
  src/main/webapp/app/generated/model/jobFormDTO.ts
  src/main/webapp/app/generated/model/link.ts
  src/main/webapp/app/generated/model/loginRequestDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/professorDTO.ts
  src/main/webapp/app/generated/model/rejectDTO.ts
  src/main/webapp/app/generated/model/researchGroup.ts
  src/main/webapp/app/generated/model/researchGroupShortDTO.ts
  src/main/webapp/app/generated/model/sortObject.ts
  src/main/webapp/app/generated/model/updateApplicationDTO.ts
  src/main/webapp/app/generated/model/userDTO.ts
  src/main/webapp/app/generated/model/userForApplicationDetailDTO.ts
  src/main/webapp/app/generated/model/userResearchGroupRole.ts
  src/main/webapp/app/generated/model/userShortDTO.ts
  src/main/webapp/app/generated/package.json
  src/main/webapp/app/generated/param.ts
  src/main/webapp/app/generated/tsconfig.json
  src/main/webapp/app/generated/variables.ts
  src/main/webapp/app/job/dropdown-options.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.scss
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.html
  src/main/webapp/app/job/jobCreationForm/job-creation-form.component.ts
Labels: server, ready for review, client, job

#457 `Usability`: Add tooltips to job card icons
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: client

#330 `Development`: Email settings integration
  src/main/webapp/app/shared/settings/email-settings/email-settings.component.html
  src/main/webapp/app/shared/settings/email-settings/email-settings.component.scss
  src/main/webapp/app/shared/settings/email-settings/email-settings.component.ts
  src/main/webapp/app/shared/settings/notifications/applicant-notifications/applicant-notifications.component.html
  src/main/webapp/app/shared/settings/notifications/applicant-notifications/applicant-notifications.component.scss
  src/main/webapp/app/shared/settings/notifications/applicant-notifications/applicant-notifications.component.ts
  src/main/webapp/app/shared/settings/notifications/professor-notifications/professor-notifications.component.html
  src/main/webapp/app/shared/settings/notifications/professor-notifications/professor-notifications.component.scss
  src/main/webapp/app/shared/settings/notifications/professor-notifications/professor-notifications.component.ts
  src/main/webapp/app/shared/settings/settings.component.html
  src/main/webapp/app/shared/settings/settings.component.spec.ts
  src/main/webapp/app/shared/settings/settings.component.ts
  src/main/webapp/i18n/de/settings.json
  src/main/webapp/i18n/en/settings.json
Labels: ready for review, client

#454 `Development`: Implement optional search inside select component
  src/main/webapp/app/generated/api.base.service.ts
  src/main/webapp/app/generated/api.module.ts
  src/main/webapp/app/generated/api/applicationEvaluationResource.service.ts
  src/main/webapp/app/generated/api/documentResource.service.ts
  src/main/webapp/app/generated/api/emailLoginResource.service.ts
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/generated/api/userResource.service.ts
  src/main/webapp/app/generated/configuration.ts
  src/main/webapp/app/generated/encoder.ts
  src/main/webapp/app/generated/model/acceptDTO.ts
  src/main/webapp/app/generated/model/applicantDTO.ts
  src/main/webapp/app/generated/model/applicantForApplicationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationDocumentIdsDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationDetailListDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewListDTO.ts
  src/main/webapp/app/generated/model/applicationForApplicantDTO.ts
  src/main/webapp/app/generated/model/applicationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationReview.ts
  src/main/webapp/app/generated/model/createdJobDTO.ts
  src/main/webapp/app/generated/model/customField.ts
  src/main/webapp/app/generated/model/customFieldAnswer.ts
  src/main/webapp/app/generated/model/documentInformationHolderDTO.ts
  src/main/webapp/app/generated/model/jobFilterOptionDTO.ts
  src/main/webapp/app/generated/model/link.ts
  src/main/webapp/app/generated/model/loginRequestDTO.ts
  src/main/webapp/app/generated/model/professorDTO.ts
  src/main/webapp/app/generated/model/rejectDTO.ts
  src/main/webapp/app/generated/model/researchGroup.ts
  src/main/webapp/app/generated/model/researchGroupShortDTO.ts
  src/main/webapp/app/generated/model/updateApplicationDTO.ts
  src/main/webapp/app/generated/model/userDTO.ts
  src/main/webapp/app/generated/model/userForApplicationDetailDTO.ts
  src/main/webapp/app/generated/model/userResearchGroupRole.ts
  src/main/webapp/app/generated/model/userShortDTO.ts
  src/main/webapp/app/generated/param.ts
  src/main/webapp/app/generated/tsconfig.json
  src/main/webapp/app/generated/variables.ts
  src/main/webapp/app/job/dropdown-options.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.ts
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: ready for review, client

#297 `Development`: Error handling for editor component
  angular.json
  package-lock.json
  package.json
  src/main/webapp/app/job/job-detail/job-detail.component.scss
  src/main/webapp/app/playground/editor-playground/editor-playground.component.html
  src/main/webapp/app/playground/editor-playground/editor-playground.component.ts
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/app/shared/components/atoms/editor/editor.component.html
  src/main/webapp/app/shared/components/atoms/editor/editor.component.scss
  src/main/webapp/app/shared/components/atoms/editor/editor.component.spec.ts
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
  src/main/webapp/content/scss/global.scss
Labels: ready for review, client

#311 `Development`: Editor component in application and job creation form
  src/main/resources/testdata/07_applications.sql
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.html
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.spec.ts
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/components/organisms/application-detail-card/application-detail-card.component.html
Labels: ready for review, client

#526 `Usability`: Fix endless loop
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
Labels: bug, ready for review, client

#520 `Usability`: Links application to job in overview page
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationOverviewDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationEntityRepositoryImpl.java
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.scss
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/actuator.service.ts
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/authenticationResource.service.ts
  src/main/webapp/app/generated/api/emailTemplateResource.service.ts
  src/main/webapp/app/generated/model/applicationOverviewDTO.ts
  src/main/webapp/app/generated/model/emailTemplateDTO.ts
  src/main/webapp/app/generated/model/emailTemplateOverviewDTO.ts
  src/main/webapp/app/generated/model/emailTemplateTranslationDTO.ts
  src/main/webapp/app/generated/model/link.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/pageResponseDTOEmailTemplateOverviewDTO.ts
  src/main/webapp/app/generated/model/sortObject.ts
Labels: enhancement, server, ready for review, client, application

#541 `Development`: Restructure Job Creation Form
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: ready for review, client

#543 `Development`: Fix login design
  src/main/webapp/app/core/auth/auth-facade.service.ts
  src/main/webapp/app/core/auth/auth-tab.service.ts
  src/main/webapp/app/core/auth/user-route-access.service.ts
  src/main/webapp/app/layouts/main/main.component.ts
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/atoms/password-input/password-input.html
  src/main/webapp/app/shared/components/atoms/password-input/password-input.ts
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.html
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.ts
  src/main/webapp/app/shared/components/molecules/button-group/button-group.component.html
  src/main/webapp/app/shared/components/molecules/button-group/button-group.component.scss
  src/main/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.html
  src/main/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.scss
  src/main/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.ts
  src/main/webapp/app/shared/components/organisms/auth-card/auth-card.component.html
  src/main/webapp/app/shared/components/organisms/auth-card/auth-card.component.scss
  src/main/webapp/app/shared/components/organisms/auth-card/auth-card.component.spec.ts
  src/main/webapp/app/shared/components/organisms/auth-card/auth-card.component.ts
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/login.json
  src/main/webapp/i18n/de/register.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/login.json
  src/main/webapp/i18n/en/register.json
Labels: bug, enhancement, ready for review, client, shared, ui/ux improvement

#542 `General`: Rewrite toast implementation
  src/main/webapp/app/app.config.ts
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.html
  src/main/webapp/app/application/application-detail-for-applicant/application-detail-for-applicant.component.ts
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.html
  src/main/webapp/app/application/application-overview-for-applicant/application-overview-for-applicant.component.ts
  src/main/webapp/app/evaluation/application-detail/application-detail.component.html
  src/main/webapp/app/evaluation/application-detail/application-detail.component.ts
  src/main/webapp/app/job/job-detail/job-detail.component.html
  src/main/webapp/app/job/job-detail/job-detail.component.ts
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.html
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.ts
  src/main/webapp/app/playground/button-play-ground/button-play-ground.component.html
  src/main/webapp/app/playground/button-play-ground/button-play-ground.component.ts
  src/main/webapp/app/playground/stepper-playground/stepper-playground.component.html
  src/main/webapp/app/playground/stepper-playground/stepper-playground.component.ts
  src/main/webapp/app/service/toast-service.ts
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.html
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
  src/main/webapp/app/shared/toast/toast.component.ts
  src/main/webapp/app/usermanagement/research-group/research-group-template-edit/research-group-template-edit.html
  src/main/webapp/app/usermanagement/research-group/research-group-template-edit/research-group-template-edit.ts
  src/main/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.html
  src/main/webapp/app/usermanagement/research-group/research-group-templates/research-group-templates.ts
Labels: ready for review, client

#534 `Development`: Create seperate server notification module
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/core/service/CurrentUserService.java
  src/main/java/de/tum/cit/aet/core/util/TemplateUtil.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/notification/constants/EmailType.java
  src/main/java/de/tum/cit/aet/notification/constants/TemplateVariable.java
  src/main/java/de/tum/cit/aet/notification/domain/EmailSetting.java
  src/main/java/de/tum/cit/aet/notification/domain/EmailTemplate.java
  src/main/java/de/tum/cit/aet/notification/domain/EmailTemplateTranslation.java
  src/main/java/de/tum/cit/aet/notification/dto/EmailSettingDTO.java
  src/main/java/de/tum/cit/aet/notification/dto/EmailTemplateDTO.java
  src/main/java/de/tum/cit/aet/notification/dto/EmailTemplateOverviewDTO.java
  src/main/java/de/tum/cit/aet/notification/dto/EmailTemplateTranslationDTO.java
  src/main/java/de/tum/cit/aet/notification/repository/EmailSettingRepository.java
  src/main/java/de/tum/cit/aet/notification/repository/EmailTemplateRepository.java
  src/main/java/de/tum/cit/aet/notification/service/AsyncEmailSender.java
  src/main/java/de/tum/cit/aet/notification/service/EmailService.java
  src/main/java/de/tum/cit/aet/notification/service/EmailSettingService.java
  src/main/java/de/tum/cit/aet/notification/service/EmailTemplateInitializer.java
  src/main/java/de/tum/cit/aet/notification/service/EmailTemplateService.java
  src/main/java/de/tum/cit/aet/notification/service/TemplateProcessingService.java
  src/main/java/de/tum/cit/aet/notification/service/mail/Email.java
  src/main/java/de/tum/cit/aet/notification/web/EmailSettingResource.java
  src/main/java/de/tum/cit/aet/notification/web/EmailTemplateResource.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
  src/main/resources/templates/de/APPLICATION_ACCEPTED.html
  src/main/resources/templates/de/APPLICATION_ACCEPTED_subject.html
  src/main/resources/templates/de/APPLICATION_RECEIVED_subject.html
  src/main/resources/templates/de/APPLICATION_REJECTED_subject.html
  src/main/resources/templates/de/APPLICATION_SENT_subject.html
  src/main/resources/templates/de/APPLICATION_WITHDRAWN_subject.html
  src/main/resources/templates/en/APPLICATION_ACCEPTED.html
  src/main/resources/templates/en/APPLICATION_ACCEPTED_subject.html
  src/main/resources/templates/en/APPLICATION_RECEIVED_subject.html
  src/main/resources/templates/en/APPLICATION_REJECTED_subject.html
  src/main/resources/templates/en/APPLICATION_SENT_subject.html
  src/main/resources/templates/en/APPLICATION_WITHDRAWN_subject.html
Labels: server, ready for review, user management, job, application, evaluation

#537 `Development`: Add adjustable width to tag component
  src/main/webapp/app/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/job/my-positions/my-positions-page/my-positions-page.component.html
  src/main/webapp/app/shared/components/atoms/tag/tag.component.html
  src/main/webapp/app/shared/components/atoms/tag/tag.component.scss
  src/main/webapp/app/shared/components/atoms/tag/tag.component.ts
  src/main/webapp/app/shared/components/molecules/application-card/application-card.component.html
Labels: client

#577 `Usability`: Improve layout grouping for "Your application in 4 steps" section
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-step/application-step/application-step.component.scss
  src/main/webapp/app/shared/pages/landing-page/application-steps-section/application-steps-section.component.scss
Labels: client

#583 `General`: Fix logout button size
  src/main/webapp/app/shared/components/organisms/header/header.component.html
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
Labels: ready for review, client

#586 `General`: Fix browser tab title
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/config/language.helper.ts
Labels: ready for review, client

#592 `Usability`: Improve Hero Section
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.scss
  src/main/webapp/content/images/landing-page/hero-section/landing-page-hero-section-1.webp
Labels: ready for review, client

#483 `Usability`: Add screencasts to README.md
  README.md
Labels: documentation, enhancement, stale

#545 `Development`: Display relative deadline in job card
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/core/dto/UiTextFormatter.java
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/README.md
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/ratingResource.service.ts
  src/main/webapp/app/generated/model/application.ts
  src/main/webapp/app/generated/model/applicationEvaluationDetailDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewDTO.ts
  src/main/webapp/app/generated/model/jobCardDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/ratingDTO.ts
  src/main/webapp/app/generated/model/ratingOverviewDTO.ts
  src/main/webapp/app/generated/package.json
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.html
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.ts
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: server, ready for review, client, job, application

#580 `Development`: Add comments
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/playground/comment-playground/comment-playground.html
  src/main/webapp/app/playground/comment-playground/comment-playground.scss
  src/main/webapp/app/playground/comment-playground/comment-playground.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/molecules/comment/comment.html
  src/main/webapp/app/shared/components/molecules/comment/comment.scss
  src/main/webapp/app/shared/components/molecules/comment/comment.ts
  src/main/webapp/app/shared/pipes/time-ago.pipe.ts
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/de/time.json
  src/main/webapp/i18n/en/evaluation.json
  src/main/webapp/i18n/en/time.json
Labels: client

#599 `Development`: Fix review page rating issue
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/webapp/app/evaluation/filterSortOptions.ts
Labels: server, client, evaluation

#626 `General`: Unify German translations to Du-Form
  src/main/webapp/i18n/de/activate.json
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/de/landingPage.json
  src/main/webapp/i18n/de/login.json
  src/main/webapp/i18n/de/register.json
  src/main/webapp/i18n/de/research-group.json
  src/main/webapp/i18n/de/reset.json
  src/main/webapp/i18n/de/settings.json
  src/main/webapp/i18n/de/sidebar.json
  src/main/webapp/i18n/en/settings.json
Labels: ready for review, client
