Repository ls1intum/tum-apply, pull requests merged in 2025-05, with the labels that each got.

#101 `Development`: Applicant, Application & ApplicationReview Schema + Test Data
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/evaluation/domain/ApplicationReview.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/06_applicants.sql
  src/main/resources/testdata/07_applications.sql
  src/main/resources/testdata/08_application_reviews.sql
Labels: server

#104 `General`: Resolve windows path in Webconfigurer
  src/main/java/de/tum/cit/aet/core/config/WebConfigurer.java
Labels: server, ready for review

#103 `General`: Introduce color scheme and dark mode support
  README.md
  src/main/webapp/app/app.component.ts
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/layouts/footer/footer.component.scss
  src/main/webapp/app/layouts/footer/footer.component.ts
  src/main/webapp/app/layouts/navbar/navbar.component.html
  src/main/webapp/app/layouts/navbar/navbar.component.scss
  src/main/webapp/app/layouts/navbar/navbar.component.spec.ts
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/content/scss/_bootstrap-overrides.scss
  src/main/webapp/content/scss/_primitives.scss
  src/main/webapp/content/scss/_tokens.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/vendor.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: enhancement, ready for review, client

#107 `Development`: Remove legacy OAuth2 logic
  src/main/java/de/tum/cit/aet/core/config/OAuth2Configuration.java
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/security/oauth2/CustomClaimConverter.java
  src/main/java/de/tum/cit/aet/core/web/filter/OAuth2RefreshTokensWebFilter.java
  src/main/java/de/tum/cit/aet/core/web/rest/AuthInfoResource.java
  src/main/java/de/tum/cit/aet/core/web/rest/AuthorityResource.java
  src/main/java/de/tum/cit/aet/core/web/rest/LogoutResource.java
  src/main/resources/config/application.yml
  src/test/java/de/tum/cit/aet/core/config/TestSecurityConfiguration.java
  src/test/java/de/tum/cit/aet/core/security/oauth2/CustomClaimConverterIT.java
  src/test/java/de/tum/cit/aet/core/web/rest/AuthorityResourceIT.java
  src/test/java/de/tum/cit/aet/core/web/rest/LogoutResourceIT.java
  src/test/resources/config/application.yml
Labels: enhancement, server, ready for review, tests, user management, shared, config-change

#105 `General`: Adapted Database schema and fixed JDBC bugs
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/core/domain/Document.java
  src/main/java/de/tum/cit/aet/job/domain/CustomField.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/Applicant.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/testdata/01_users.sql
Labels: bug, server

#109 `Development`: Configure keycloak setup
  docs/AUTH.md
  src/main/docker/realm-config/jhipster-realm.json
  src/main/docker/realm-config/tumapply-realm.json
Labels: documentation, enhancement, ready for review, user management, shared

#106 `Development`: Create server endpoints for application creation and editing
  src/main/java/de/tum/cit/aet/application/api/SomeController.java
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/domain/dto/CreateApplicationDTO.java
  src/main/java/de/tum/cit/aet/application/domain/dto/CustomFieldAnswerDTO.java
  src/main/java/de/tum/cit/aet/application/domain/dto/UpdateApplicationDTO.java
  src/main/java/de/tum/cit/aet/application/dto/SomeDto.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/service/SomeService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/java/de/tum/cit/aet/core/dto/DocumentDTO.java
  src/main/java/de/tum/cit/aet/job/dto/CustomFieldDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantDTO.java
Labels: server, ready for review

#111 `Development`: Setup primeng, bootstrap dependencies
  package.json
  src/main/webapp/app/app.config.ts
  src/main/webapp/app/pages/misc/home/home.component.html
  src/main/webapp/app/pages/misc/home/home.component.ts
  src/main/webapp/app/shared/components/atoms/atoms.module.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/components.module.ts
Labels: client

#110 `Development`: Implement basic server structure for Application Overview Page
  src/main/java/de/tum/cit/aet/application/domain/Application.java
  src/main/java/de/tum/cit/aet/evaluation/api/SomeController.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationListDTO.java
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationOverviewDTO.java
  src/main/java/de/tum/cit/aet/evaluation/dto/SomeDto.java
  src/main/java/de/tum/cit/aet/evaluation/repository/ApplicationEvaluationRepository.java
  src/main/java/de/tum/cit/aet/evaluation/repository/specification/ApplicationEvaluationSpecification.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/evaluation/service/SomeService.java
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
  src/test/java/de/tum/cit/aet/TechnicalStructureTest.java
Labels: server, tests

#116 `Development`: Migrate from bootstrap to primeng and tailwind
  README.md
  angular.json
  package.json
  src/main/webapp/app/app.config.ts
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/content/scss/_bootstrap-overrides.scss
  src/main/webapp/content/scss/_bootstrap-variables.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/vendor.scss
  src/main/webapp/content/theming/tumapplypreset.ts
  tsconfig.json
Labels: enhancement, client

#119 `Development`: Fix for tailwind setup
  .postcssrc.json
  package.json
  src/main/webapp/app/pages/misc/home/home.component.html
Labels: client

#118 `General`: Adapt openAPI generation and fix windows compatibility
  build.gradle
  openapi/openapi.yaml
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/api.ts
  src/main/webapp/app/generated/api/applicationEvaluationResource.service.ts
  src/main/webapp/app/generated/api/applicationResource.service.ts
  src/main/webapp/app/generated/model/applicationEvaluationListDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationForApplicantDTO.ts
  src/main/webapp/app/generated/model/createApplicationDTO.ts
  src/main/webapp/app/generated/model/customFieldAnswerDTO.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/updateApplicationDTO.ts
Labels: client

#115 `Development`: Add job creation form for professors
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/java/de/tum/cit/aet/job/dto/JobFormDTO.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/testdata/04_jobs.sql
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/generated/model/jobFormDTO.ts
  src/main/webapp/app/pages/job/job.module.ts
  src/main/webapp/app/pages/job/jobCreationForm/job-creation-form.component.html
  src/main/webapp/app/pages/job/jobCreationForm/job-creation-form.component.scss
  src/main/webapp/app/pages/job/jobCreationForm/job-creation-form.component.ts
Labels: server, ready for review, client

#114 `Development`: Create atomic datepicker and dropdown components
  jest.conf.js
  src/main/webapp/app/pages/misc/home/home.component.html
  src/main/webapp/app/pages/misc/home/home.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.html
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.scss
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.spec.ts
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.ts
  src/main/webapp/bootstrap.ts
Labels: ready for review, client

#137 `Development`: Add Bruno collection for API testing
  README.md
  docs/AUTH.md
  docs/TUMApply API/Applications/Application Tracking/Create Application.bru
  docs/TUMApply API/Applications/Application Tracking/Get all applications of a Job.bru
  docs/TUMApply API/Applications/Application Tracking/Get all applications of a user.bru
  docs/TUMApply API/Applications/Application Tracking/Specific Application/Delete Application.bru
  docs/TUMApply API/Applications/Application Tracking/Specific Application/Get Application.bru
  docs/TUMApply API/Applications/Application Tracking/Specific Application/Update Application.bru
  docs/TUMApply API/Applications/Application Tracking/Specific Application/Withdraw Application.bru
  docs/TUMApply API/Applications/Application Tracking/Specific Application/folder.bru
  docs/TUMApply API/Applications/Application Tracking/folder.bru
  docs/TUMApply API/Applications/Document Upload/Create document.bru
  docs/TUMApply API/Applications/Document Upload/Delete Document.bru
  docs/TUMApply API/Applications/Document Upload/Get Specific Document.bru
  docs/TUMApply API/Applications/Document Upload/Replace file od document.bru
  docs/TUMApply API/Applications/Document Upload/folder.bru
  docs/TUMApply API/Applications/folder.bru
  docs/TUMApply API/Authentication/Keycloak Logout.bru
  docs/TUMApply API/Authentication/Keycloak Token.bru
  docs/TUMApply API/Authentication/folder.bru
  docs/TUMApply API/Evaluation/All Applications.bru
  docs/TUMApply API/Evaluation/folder.bru
  docs/TUMApply API/Job Management/Job Posting/Applicant Overview/Available Jobs.bru
  docs/TUMApply API/Job Management/Job Posting/Applicant Overview/folder.bru
  docs/TUMApply API/Job Management/Job Posting/Full Details of Job.bru
  docs/TUMApply API/Job Management/Job Posting/Professor Overview/Create new Job.bru
  docs/TUMApply API/Job Management/Job Posting/Professor Overview/Delete Job.bru
  docs/TUMApply API/Job Management/Job Posting/Professor Overview/Edit Job.bru
  docs/TUMApply API/Job Management/Job Posting/Professor Overview/Get all Jobs by Professor.bru
  docs/TUMApply API/Job Management/Job Posting/Professor Overview/folder.bru
  docs/TUMApply API/Job Management/Job Posting/folder.bru
  docs/TUMApply API/Job Management/folder.bru
  docs/TUMApply API/Notification/folder.bru
  docs/TUMApply API/Research Group/New Request.bru
  docs/TUMApply API/Research Group/folder.bru
  docs/TUMApply API/User Management/All Users.bru
  docs/TUMApply API/User Management/Archive User.bru
  docs/TUMApply API/User Management/Change User by id.bru
  docs/TUMApply API/User Management/Current User.bru
  docs/TUMApply API/User Management/User by id.bru
  docs/TUMApply API/User Management/folder.bru
  docs/TUMApply API/bruno.json
  docs/TUMApply API/collection.bru
  docs/TUMApply API/environments/Dev Server.bru
  docs/TUMApply API/environments/Local.bru
  docs/TUMApply API/environments/Prod Server.bru
Labels: documentation, enhancement

#117 `Development`: Add atomic button and molecule of button group
  openapi/openapi.yaml
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/generated/api/applicationEvaluationResource.service.ts
  src/main/webapp/app/generated/api/applicationResource.service.ts
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/pages/misc/button-play-ground/button-play-ground.component.html
  src/main/webapp/app/pages/misc/button-play-ground/button-play-ground.component.scss
  src/main/webapp/app/pages/misc/button-play-ground/button-play-ground.component.ts
  src/main/webapp/app/pages/misc/home/home.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.html
  src/main/webapp/app/shared/components/atoms/button/button.component.scss
  src/main/webapp/app/shared/components/atoms/button/button.component.spec.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.ts
  src/main/webapp/app/shared/components/molecules/button-group/button-group.component.html
  src/main/webapp/app/shared/components/molecules/button-group/button-group.component.scss
  src/main/webapp/app/shared/components/molecules/button-group/button-group.component.spec.ts
  src/main/webapp/app/shared/components/molecules/button-group/button-group.component.ts
  src/main/webapp/app/shared/components/molecules/molecules.module.ts
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: ready for review, client

#154 `General`: Clean up deprecated code
  src/main/java/de/tum/cit/aet/core/config/CacheConfiguration.java
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/domain/Authority.java
  src/main/java/de/tum/cit/aet/core/repository/AuthorityRepository.java
  src/main/java/de/tum/cit/aet/core/security/AuthoritiesConstants.java
  src/main/java/de/tum/cit/aet/core/security/SecurityUtils.java
  src/main/java/de/tum/cit/aet/core/security/oauth2/AudienceValidator.java
  src/main/java/de/tum/cit/aet/core/security/oauth2/package-info.java
  src/main/java/de/tum/cit/aet/core/service/UserService.java
  src/main/java/de/tum/cit/aet/core/service/dto/AdminUserDTO.java
  src/main/java/de/tum/cit/aet/core/service/dto/UserDTO.java
  src/main/java/de/tum/cit/aet/core/service/dto/package-info.java
  src/main/java/de/tum/cit/aet/core/service/mapper/UserMapper.java
  src/main/java/de/tum/cit/aet/core/service/mapper/package-info.java
  src/main/java/de/tum/cit/aet/core/web/filter/SpaWebFilter.java
  src/main/java/de/tum/cit/aet/core/web/filter/package-info.java
  src/main/java/de/tum/cit/aet/core/web/rest/AccountResource.java
  src/main/java/de/tum/cit/aet/core/web/rest/PublicUserResource.java
  src/main/java/de/tum/cit/aet/core/web/rest/package-info.java
  src/test/java/de/tum/cit/aet/IntegrationTest.java
  src/test/java/de/tum/cit/aet/core/config/TestSecurityConfiguration.java
  src/test/java/de/tum/cit/aet/core/domain/AssertUtils.java
  src/test/java/de/tum/cit/aet/core/domain/AuthorityAsserts.java
  src/test/java/de/tum/cit/aet/core/domain/AuthorityTest.java
  src/test/java/de/tum/cit/aet/core/domain/AuthorityTestSamples.java
  src/test/java/de/tum/cit/aet/core/security/SecurityUtilsUnitTest.java
  src/test/java/de/tum/cit/aet/core/security/oauth2/AudienceValidatorTest.java
  src/test/java/de/tum/cit/aet/core/service/UserServiceIT.java
  src/test/java/de/tum/cit/aet/core/service/mapper/UserMapperTest.java
  src/test/java/de/tum/cit/aet/core/util/OAuth2TestUtil.java
  src/test/java/de/tum/cit/aet/core/web/filter/SpaWebFilterIT.java
  src/test/java/de/tum/cit/aet/core/web/rest/AccountResourceIT.java
  src/test/java/de/tum/cit/aet/core/web/rest/PublicUserResourceIT.java
  src/test/java/de/tum/cit/aet/core/web/rest/UserResourceIT.java
Labels: enhancement, server, tests, shared

#122 `Development`: Add progress stepper component
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/pages/misc/home/home.component.html
  src/main/webapp/app/pages/misc/stepper-playground/stepper-playground.component.html
  src/main/webapp/app/pages/misc/stepper-playground/stepper-playground.component.scss
  src/main/webapp/app/pages/misc/stepper-playground/stepper-playground.component.ts
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.html
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.scss
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.spec.ts
  src/main/webapp/app/shared/components/molecules/progress-stepper/progress-stepper.component.ts
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: ready for review, client

#153 `Development`: Improve datepicker and dropdown components
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/pages/job/jobCreationForm/job-creation-form.component.html
  src/main/webapp/app/pages/job/jobCreationForm/job-creation-form.component.scss
  src/main/webapp/app/pages/job/jobCreationForm/job-creation-form.component.ts
  src/main/webapp/app/pages/misc/home/home.component.html
  src/main/webapp/app/pages/misc/home/home.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.spec.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.html
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.scss
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.spec.ts
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.ts
Labels: ready for review, client

#152 `Development`: Improve usability of import script
  README.md
  src/main/resources/testdata/00_drop_all_tables.sql
  src/main/resources/testdata/import-testdata.sh
Labels: documentation, enhancement

#121 `General`: Add deploy workflows and improve existing workflows
  .dockerignore
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy-to-testserver.yml
  .github/workflows/deploy-with-helios.yml
  .github/workflows/validate-openapi.yml
  .gitignore
  Dockerfile
  angular.json
  build.gradle
  compose.yaml
  package-lock.json
  proxy.conf.mjs
  src/main/docker/client/Dockerfile
  src/main/docker/config/mysql.env
  src/main/docker/config/tumapply.env
  src/main/docker/docker-compose.prod.yml
  src/main/docker/docker-compose.test.yml
  src/main/docker/nginx/compose.proxy.yaml
  src/main/docker/server/Dockerfile
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/nginx/nginx.conf
Labels: server, ready for review, config-change

#151 `Development`: Introduce centralized exception handling
  docs/ERROR_HANDLING.md
  src/main/java/de/tum/cit/aet/core/constants/ErrorCode.java
  src/main/java/de/tum/cit/aet/core/dto/ApiError.java
  src/main/java/de/tum/cit/aet/core/exception/AccessDeniedException.java
  src/main/java/de/tum/cit/aet/core/exception/EntityNotFoundException.java
  src/main/java/de/tum/cit/aet/core/exception/InternalServerException.java
  src/main/java/de/tum/cit/aet/core/exception/InvalidParameterException.java
  src/main/java/de/tum/cit/aet/core/exception/MailingException.java
  src/main/java/de/tum/cit/aet/core/exception/OperationNotAllowedException.java
  src/main/java/de/tum/cit/aet/core/exception/ResourceAlreadyExistsException.java
  src/main/java/de/tum/cit/aet/core/exception/UnauthorizedException.java
  src/main/java/de/tum/cit/aet/core/exception/UploadException.java
  src/main/java/de/tum/cit/aet/core/exception/errors/ValidationFieldError.java
  src/main/java/de/tum/cit/aet/core/exception/handler/GlobalExceptionHandler.java
  src/main/java/de/tum/cit/aet/core/repository/TumApplyJpaRepository.java
  src/main/java/de/tum/cit/aet/core/util/OptionalUtils.java
  src/main/java/de/tum/cit/aet/core/web/rest/errors/BadRequestAlertException.java
  src/main/java/de/tum/cit/aet/core/web/rest/errors/ErrorConstants.java
  src/main/java/de/tum/cit/aet/core/web/rest/errors/ExceptionTranslator.java
  src/main/java/de/tum/cit/aet/core/web/rest/errors/package-info.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/test/java/de/tum/cit/aet/core/web/rest/errors/ExceptionTranslatorIT.java
  src/test/java/de/tum/cit/aet/core/web/rest/errors/ExceptionTranslatorTestController.java
  src/test/java/de/tum/cit/aet/core/web/rest/errors/GlobalExceptionHandlerTest.java
  src/test/java/de/tum/cit/aet/core/web/rest/errors/TestExceptionController.java
  src/test/java/de/tum/cit/aet/core/web/rest/errors/ValidationTestDto.java
Labels: documentation, enhancement, server, ready for review, tests, job, shared

#155 `Development`: Add custom tag molecule
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/pages/badge-playground/badge-playground.component.html
  src/main/webapp/app/pages/badge-playground/badge-playground.component.scss
  src/main/webapp/app/pages/badge-playground/badge-playground.component.spec.ts
  src/main/webapp/app/pages/badge-playground/badge-playground.component.ts
  src/main/webapp/app/shared/components/atoms/tag/tag.component.html
  src/main/webapp/app/shared/components/atoms/tag/tag.component.scss
  src/main/webapp/app/shared/components/atoms/tag/tag.component.spec.ts
  src/main/webapp/app/shared/components/atoms/tag/tag.component.ts
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: client

#160 `Development`: Add secure server-side authentication
  docs/AUTH.md
  docs/TUMApply API/User Management/Current User.bru
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/security/CustomJwtAuthenticationConverter.java
  src/main/java/de/tum/cit/aet/core/service/AuthenticationService.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/ResearchGroup.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/UserResearchGroupRole.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ResearchGroupShortDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/SomeDto.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/UserDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/UserShortDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserResearchGroupRoleRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/SomeService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/UserService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/UserResource.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/main/resources/config/application.yml
  src/main/resources/testdata/01_users.sql
  src/test/java/de/tum/cit/aet/TechnicalStructureTest.java
  src/test/java/de/tum/cit/aet/TestSecurityConfiguration.java
  src/test/java/de/tum/cit/aet/core/web/rest/errors/GlobalExceptionHandlerTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/UserResourceTest.java
Labels: documentation, enhancement, server, ready for review, tests, user management, shared, config-change

#159 `Development`: Add dynamic table and application overview page
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/evaluation/dto/ApplicationEvaluationOverviewDTO.java
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewDTO.ts
  src/main/webapp/app/pages/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/pages/evaluation/application-overview/application-overview.component.scss
  src/main/webapp/app/pages/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/shared/components/organisms/dynamic-table/dynamic-table.component.html
  src/main/webapp/app/shared/components/organisms/dynamic-table/dynamic-table.component.scss
  src/main/webapp/app/shared/components/organisms/dynamic-table/dynamic-table.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: server, client, evaluation

#156 `Development`: Add atomic string and number input component
  src/main/webapp/app/pages/job/jobCreationForm/job-creation-form.component.html
  src/main/webapp/app/pages/job/jobCreationForm/job-creation-form.component.scss
  src/main/webapp/app/pages/job/jobCreationForm/job-creation-form.component.ts
  src/main/webapp/app/pages/misc/home/home.component.html
  src/main/webapp/app/pages/misc/home/home.component.ts
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.html
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.scss
  src/main/webapp/app/shared/components/atoms/datepicker/datepicker.component.ts
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.html
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.scss
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.ts
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.html
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.scss
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.spec.ts
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.ts
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.html
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.scss
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.spec.ts
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.ts
  src/main/webapp/content/scss/global.scss
Labels: ready for review, client, job, shared

#126 `Development`: Add application creation page
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/application/domain/dto/ApplicationForApplicantDTO.java
  src/main/java/de/tum/cit/aet/application/domain/dto/CreateApplicationDTO.java
  src/main/java/de/tum/cit/aet/application/repository/ApplicationRepository.java
  src/main/java/de/tum/cit/aet/application/service/ApplicationService.java
  src/main/java/de/tum/cit/aet/application/web/ApplicationResource.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/ApplicantDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/UserDTO.java
  src/main/resources/testdata/04_jobs.sql
  src/main/webapp/app/app.component.ts
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/actuator.service.ts
  src/main/webapp/app/generated/model/applicantDTO.ts
  src/main/webapp/app/generated/model/applicationForApplicantDTO.ts
  src/main/webapp/app/generated/model/createApplicationDTO.ts
  src/main/webapp/app/generated/model/link.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/researchGroupShortDTO.ts
  src/main/webapp/app/generated/model/userDTO.ts
  src/main/webapp/app/pages/application/application-creation/application-creation-form/application-creation-form.component.html
  src/main/webapp/app/pages/application/application-creation/application-creation-form/application-creation-form.component.scss
  src/main/webapp/app/pages/application/application-creation/application-creation-form/application-creation-form.component.spec.ts
  src/main/webapp/app/pages/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/pages/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/pages/application/application-creation/application-creation-page1/application-creation-page1.component.scss
  src/main/webapp/app/pages/application/application-creation/application-creation-page1/application-creation-page1.component.spec.ts
  src/main/webapp/app/pages/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/pages/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/pages/application/application-creation/application-creation-page2/application-creation-page2.component.scss
  src/main/webapp/app/pages/application/application-creation/application-creation-page2/application-creation-page2.component.spec.ts
  src/main/webapp/app/pages/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/pages/application/application-creation/application-creation-page3/application-creation-page3.component.html
  src/main/webapp/app/pages/application/application-creation/application-creation-page3/application-creation-page3.component.scss
  src/main/webapp/app/pages/application/application-creation/application-creation-page3/application-creation-page3.component.spec.ts
  src/main/webapp/app/pages/application/application-creation/application-creation-page3/application-creation-page3.component.ts
  src/main/webapp/app/pages/misc/home/home.component.html
  src/main/webapp/app/pages/misc/home/home.component.ts
  src/main/webapp/app/shared/components/atoms/string-input/string-input.component.html
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.html
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.scss
  src/main/webapp/app/shared/components/atoms/upload-button/upload-button.component.ts
  src/main/webapp/content/theming/tumapplypreset.ts
Labels: server, ready for review, client, user management, application, shared

#164 `Development`: Add server side endpoints for retrieving all published jobs
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/job/dto/JobCardDTO.java
  src/main/java/de/tum/cit/aet/job/dto/SomeDto.java
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
  src/main/webapp/app/generated/api/actuator.service.ts
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/generated/model/jobCardDTO.ts
  src/main/webapp/app/generated/model/link.ts
Labels: server, ready for review, client, job

#161 `Development`: Add spring boot dev tools
  build.gradle
Labels: enhancement

#168 `Development`: Add dynamic sort bar
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/generated/README.md
  src/main/webapp/app/generated/api.base.service.ts
  src/main/webapp/app/generated/api.module.ts
  src/main/webapp/app/generated/api/applicationEvaluationResource.service.ts
  src/main/webapp/app/generated/api/applicationResource.service.ts
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/generated/configuration.ts
  src/main/webapp/app/generated/encoder.ts
  src/main/webapp/app/generated/model/applicantDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationListDTO.ts
  src/main/webapp/app/generated/model/applicationEvaluationOverviewDTO.ts
  src/main/webapp/app/generated/model/applicationForApplicantDTO.ts
  src/main/webapp/app/generated/model/createApplicationDTO.ts
  src/main/webapp/app/generated/model/customFieldAnswerDTO.ts
  src/main/webapp/app/generated/model/jobCardDTO.ts
  src/main/webapp/app/generated/model/jobDetailDTO.ts
  src/main/webapp/app/generated/model/jobFormDTO.ts
  src/main/webapp/app/generated/model/researchGroupShortDTO.ts
  src/main/webapp/app/generated/model/updateApplicationDTO.ts
  src/main/webapp/app/generated/model/userDTO.ts
  src/main/webapp/app/generated/package.json
  src/main/webapp/app/generated/param.ts
  src/main/webapp/app/generated/tsconfig.json
  src/main/webapp/app/generated/variables.ts
  src/main/webapp/app/pages/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/pages/evaluation/application-overview/application-overview.component.scss
  src/main/webapp/app/pages/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/shared/components/atoms/button/button.component.scss
  src/main/webapp/app/shared/components/atoms/dropdown/dropdown.component.scss
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.html
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.scss
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.spec.ts
  src/main/webapp/app/shared/components/molecules/sort-bar/sort-bar.component.ts
  src/main/webapp/app/shared/components/organisms/dynamic-table/dynamic-table.component.html
  src/main/webapp/app/shared/components/organisms/dynamic-table/dynamic-table.component.ts
Labels: client, evaluation

#174 `General`: Fix white page
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/webapp/app/layouts/main/main.component.html
  src/main/webapp/app/layouts/main/main.component.ts
Labels: bug, server, ready for review, client, shared

#175 `Development`: Add job overview page client side
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/job/repository/JobRepository.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
  src/main/resources/testdata/04_jobs.sql
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/generated/.openapi-generator/FILES
  src/main/webapp/app/generated/api/actuator.service.ts
  src/main/webapp/app/generated/api/jobResource.service.ts
  src/main/webapp/app/generated/api/userResource.service.ts
  src/main/webapp/app/generated/model/models.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/generated/model/pageableObject.ts
  src/main/webapp/app/generated/model/sortObject.ts
  src/main/webapp/app/generated/model/userShortDTO.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.html
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.scss
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.spec.ts
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.ts
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.ts
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.html
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.scss
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.spec.ts
  src/main/webapp/app/job/job-overview/job-overview-page/job-overview-page.component.ts
  src/main/webapp/content/scss/global.scss
Labels: server, ready for review, client, job
