Repository ls1intum/tum-apply, pull requests merged in 2025-09, with the labels that each got.

#573 `Development`: Update sidebar UI
  src/main/webapp/app/config/font-awesome-icons.ts
  src/main/webapp/app/layouts/footer/footer.component.scss
  src/main/webapp/app/layouts/main/main.component.html
  src/main/webapp/app/layouts/main/main.component.scss
  src/main/webapp/app/layouts/main/main.component.ts
  src/main/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.html
  src/main/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.scss
  src/main/webapp/app/shared/components/atoms/sidebar-button/sidebar-button.component.ts
  src/main/webapp/app/shared/components/organisms/header/header.component.scss
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.html
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.scss
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.spec.ts
  src/main/webapp/app/shared/components/organisms/sidebar/sidebar.component.ts
  src/main/webapp/app/shared/pages/landing-page/landing-page.component.ts
Labels: enhancement, ready for review, client, shared, ui/ux improvement

#631 `General`: Comment out current filter bar
  src/main/webapp/app/shared/components/molecules/filter-dialog/filter-dialog.component.html
  src/main/webapp/app/shared/components/molecules/filter-dialog/filter-dialog.component.scss
  src/main/webapp/app/shared/components/molecules/filter-dialog/filter-dialog.component.ts
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.html
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.ts
Labels: client, task, ready for merge

#642 `Development`: Improve job form layout
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.scss
  src/main/webapp/i18n/de/job.json
  src/main/webapp/i18n/en/job.json
Labels: ready for review, client, task, ready for merge

#643 `Usability`: Add tooltip to upload sections
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.html
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client, application, ready for merge

#587 `Development`: Validate postal code and final grade input
  package-lock.json
  package.json
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.spec.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page1/nationalities.ts
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page3/application-creation-page3.component.ts
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/app/shared/components/molecules/filter-sort-bar/filter-sort-bar.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: ready for review, client

#650 `General`: Fix renovate config
  renovate.json
Labels: bug, security fix, ready for review, config-change, ready for merge

#658 `Development`: Granular renovate configuration
  renovate.json
Labels: enhancement, ready for review, dependencies, ready for merge

#679 `Development`: Improve autosaving logic in job creation form
  src/main/java/de/tum/cit/aet/job/domain/Job.java
  src/main/resources/config/liquibase/changelog/00000000000007_alter_jobs_make_location_nullable.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.ts
Labels: server, ready for review, client, database, job

#680 `General`: Add new filter
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/evaluation/dto/EvaluationFilterDTO.java
  src/main/java/de/tum/cit/aet/evaluation/repository/custom/ApplicationEvaluationRepositoryCustom.java
  src/main/java/de/tum/cit/aet/evaluation/repository/impl/ApplicationEvaluationRepositoryImpl.java
  src/main/java/de/tum/cit/aet/evaluation/service/ApplicationEvaluationService.java
  src/main/java/de/tum/cit/aet/evaluation/web/ApplicationEvaluationResource.java
  src/main/webapp/app/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/evaluation/service/evaluation.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResource.service.ts
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.html
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.spec.ts
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.ts
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.html
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.scss
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.ts
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/evaluation.json
  src/main/webapp/i18n/en/global.json
Labels: server, client, evaluation, ready for merge

#693 `General`: Fix error text for pre-filled editor fields
  src/main/webapp/app/shared/components/atoms/editor/editor.component.ts
Labels: bug, client, shared, ready for merge

#694 `General`: Fix job card button
  src/main/webapp/app/job/job-overview/job-card-list/job-card-list.component.scss
  src/main/webapp/app/job/job-overview/job-card/job-card.component.html
  src/main/webapp/app/job/job-overview/job-card/job-card.component.scss
Labels: client, ready for merge

#682 `Development`: Add more registration server APIs
  build.gradle
  docs-github/TUMApply API/Authentication/OTP/Verify Code.bru
  src/main/docker/keycloak.yml
  src/main/docker/realm-config/tumapply-realm.json
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/exception/EmailVerificationFailedException.java
  src/main/java/de/tum/cit/aet/core/security/otp/OtpUtil.java
  src/main/java/de/tum/cit/aet/core/service/AuthenticationService.java
  src/main/java/de/tum/cit/aet/core/util/CookieUtils.java
  src/main/java/de/tum/cit/aet/core/util/HttpUtils.java
  src/main/java/de/tum/cit/aet/core/util/StringUtil.java
  src/main/java/de/tum/cit/aet/usermanagement/api/SomeController.java
  src/main/java/de/tum/cit/aet/usermanagement/constants/OtpPurpose.java
  src/main/java/de/tum/cit/aet/usermanagement/domain/User.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/AuthResponseDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/auth/AuthResponseDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/auth/AuthSessionInfoDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/auth/LoginRequestDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/auth/OtpCompleteDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/dto/auth/UserProfileDTO.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/EmailVerificationOtpRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/usermanagement/service/EmailVerificationService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakAuthenticationService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/OtpFlowService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/UserService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/AuthenticationResource.java
  src/main/java/de/tum/cit/aet/usermanagement/web/EmailVerificationResource.java
Labels: enhancement, server, ready for review, user management, shared, keycloak, ready for merge

#710 `General`: Adjust Multiselect filter
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.scss
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.scss
Labels: ready for review, client

#695 `Development`: Fix button logic in job detail based on application state
  openapi/openapi.yaml
  src/main/java/de/tum/cit/aet/job/dto/JobDetailDTO.java
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/webapp/app/generated/model/jobDetailDTO.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: server, client, job, ready for merge

#711 `General`: Fix navigation as Professor
  src/main/webapp/app/shared/components/organisms/header/header.component.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.spec.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-landing-page.component.spec.ts
Labels: bug, ready for review, client

#712 `Development`: Combine application and account creation
  .github/workflows/build.yml
  .github/workflows/check-server-start.yml
  .github/workflows/test.yml
  .github/workflows/validate-openapi.yml
  Dockerfile
  gradle/profile_dev.gradle
  gradle/profile_prod.gradle
  openapi/openapi.yaml
  prebuild.mjs
  src/main/java/de/tum/cit/aet/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/core/service/JwtService.java
  src/main/java/de/tum/cit/aet/core/util/StringUtil.java
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakAuthenticationService.java
  src/main/java/de/tum/cit/aet/usermanagement/service/KeycloakUserService.java
  src/main/java/de/tum/cit/aet/usermanagement/web/AuthenticationResource.java
  src/main/resources/config/application-test.yml
  src/main/resources/config/application.yml
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.spec.ts
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/core/auth/authentication.service.ts
  src/main/webapp/app/environments/environment.ts
  src/main/webapp/app/generated/model/pageCreatedJobDTO.ts
  src/main/webapp/app/generated/model/pageJobCardDTO.ts
  src/main/webapp/app/shared/auth/data-access/auth-gateway.service.ts
  src/main/webapp/app/shared/auth/data-access/auth-orchestrator.service.ts
  src/main/webapp/app/shared/auth/data-access/auth.service.ts
  src/main/webapp/app/shared/components/atoms/otp-input/otp-input.html
  src/main/webapp/app/shared/components/atoms/otp-input/otp-input.scss
  src/main/webapp/app/shared/components/atoms/otp-input/otp-input.spec.ts
  src/main/webapp/app/shared/components/atoms/otp-input/otp-input.ts
  src/main/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.ts
  src/main/webapp/i18n/de/auth.json
  src/main/webapp/i18n/en/auth.json
Labels: enhancement, server, ready for review, client, user management, config-change, keycloak, ready for merge

#723 `General`: Remove production website ribbon
  src/main/resources/config/application.yml
  src/main/webapp/app/layouts/profiles/page-ribbon.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client, config-change

#721 `Usability`: Fix toast text translation
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
Labels: client

#724 Documentation/adjust job
  docs/docs/applicants/browse-jobs.md
  docs/docs/professors/application-review.md
  docs/docs/professors/create-job.md
  docs/docs/professors/images/application-review-1.png
  docs/docs/professors/images/application-review-2.png
  docs/docs/professors/manage-jobs.md
  docs/sidebars.ts
Labels: documentation, ready for review

#725 `General`: Remove icon in View Application button
  src/main/webapp/app/job/job-detail/job-detail.component.ts
Labels: ready for review, client

#720 `General`: Fix page2 grade error
  src/main/webapp/app/application/application-creation/application-creation-form/application-creation-form.component.ts
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.html
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.spec.ts
  src/main/webapp/app/application/application-creation/application-creation-page2/application-creation-page2.component.ts
Labels: ready for review, client

#751 `Development`: Add server tests for job module
  src/main/java/de/tum/cit/aet/job/service/JobService.java
  src/main/java/de/tum/cit/aet/job/web/JobResource.java
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
  src/test/java/de/tum/cit/aet/utility/security/JwtPostProcessors.java
Labels: server, ready for review, tests, job

#821 `General`: Run openAPI
  gradle/openapi.gradle
  openapi/openapi.yaml
  src/main/webapp/app/generated/api/actuatorApi.service.ts
  src/main/webapp/app/generated/api/applicationEvaluationResourceApi.service.ts
  src/main/webapp/app/generated/api/applicationResourceApi.service.ts
  src/main/webapp/app/generated/api/authenticationResourceApi.service.ts
  src/main/webapp/app/generated/api/documentResourceApi.service.ts
  src/main/webapp/app/generated/api/emailSettingResourceApi.service.ts
  src/main/webapp/app/generated/api/emailTemplateResourceApi.service.ts
  src/main/webapp/app/generated/api/emailVerificationResourceApi.service.ts
  src/main/webapp/app/generated/api/internalCommentResourceApi.service.ts
  src/main/webapp/app/generated/api/jobResourceApi.service.ts
  src/main/webapp/app/generated/api/profOnboardingResourceApi.service.ts
  src/main/webapp/app/generated/api/ratingResourceApi.service.ts
  src/main/webapp/app/generated/api/researchGroupResourceApi.service.ts
  src/main/webapp/app/generated/api/userResourceApi.service.ts
Labels: ready for review, client

#773 `General`: Make mvcTestClient a spring component for automatic dependency injection
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: ready for review, tests

#764 `General`: Add status filter to applications overview
  src/main/webapp/app/evaluation/application-overview/application-overview.component.html
  src/main/webapp/app/evaluation/application-overview/application-overview.component.ts
  src/main/webapp/app/evaluation/filterSortOptions.ts
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.html
  src/main/webapp/app/shared/components/atoms/filter-multiselect/filter-multiselect.ts
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.html
  src/main/webapp/app/shared/components/molecules/search-filter-sort-bar/search-filter-sort-bar.ts
  src/main/webapp/i18n/de/evaluation.json
  src/main/webapp/i18n/en/evaluation.json
Labels: client, ready for merge

#774 `Usability`: Allow clearing selection in optional drop downs
  src/main/webapp/app/application/application-creation/application-creation-page1/application-creation-page1.component.html
  src/main/webapp/app/job/job-creation-form/job-creation-form.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.html
  src/main/webapp/app/shared/components/atoms/select/select.component.scss
  src/main/webapp/app/shared/components/atoms/select/select.component.ts
Labels: client, ready for merge

#789 `General`: Write tests for sorting component
  src/test/webapp/app/shared/components/atoms/sorting/sorting.spec.ts
Labels: tests, ready for merge

#797 `Usability`: Make landing pages consistent
  src/main/webapp/app/shared/pages/landing-page/doctoral-journey-section/doctoral-journey-section.component.scss
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.html
  src/main/webapp/app/shared/pages/landing-page/hero-section/hero-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-benefits-section/professor-benefits-section.component.scss
  src/main/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.html
  src/main/webapp/app/shared/pages/professor-landing-page/professor-hero-section/professor-hero-section.component.scss
  src/main/webapp/content/scss/global.scss
Labels: ready for review, client, shared, ui/ux improvement, ready for merge

#860 `General`: Extend MvcTestClient for testing specific status codes
  src/test/java/de/tum/cit/aet/job/web/rest/JobResourceTest.java
  src/test/java/de/tum/cit/aet/usermanagement/web/rest/ResearchGroupResourceTest.java
  src/test/java/de/tum/cit/aet/utility/MvcTestClient.java
Labels: server, ready for review, tests, shared

#784 `General`: Fix endless login loop
  src/main/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.html
  src/main/webapp/app/shared/components/molecules/credentials-group/credentials-group.component.ts
Labels: bug, ready for review, client, ready for merge

#862 `Development`: Adjust numberinput range validation
  src/main/webapp/app/shared/components/atoms/base-input/base-input.component.ts
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.html
  src/main/webapp/app/shared/components/atoms/number-input/number-input.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client, ready for merge
